@use '../../styles/component';

:host {
  display: inline-block;
}

.dropdown {
  position: relative;
}

.dropdown__trigger {
  display: block;
}

.dropdown__positioner {
  position: absolute;
  z-index: var(--sl-z-index-dropdown);
}

.dropdown__panel {
  max-height: 75vh;
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-normal);
  color: var(--color);
  background-color: var(--sl-panel-background-color);
  border: solid 1px var(--sl-panel-border-color);
  border-radius: var(--sl-border-radius-medium);
  box-shadow: var(--sl-shadow-large);
  overflow: auto;
  overscroll-behavior: none;
  pointer-events: none;
}

.dropdown--open .dropdown__panel {
  pointer-events: all;
}

.dropdown__positioner {
  &[data-popper-placement^='top'] .dropdown__panel {
    transform-origin: bottom;
  }

  &[data-popper-placement^='bottom'] .dropdown__panel {
    transform-origin: top;
  }

  &[data-popper-placement^='left'] .dropdown__panel {
    transform-origin: right;
  }

  &[data-popper-placement^='right'] .dropdown__panel {
    transform-origin: left;
  }
}
