@use '../../styles/component';

:host {
  display: block;
}

.details {
  border: solid 1px var(--sl-color-gray-200);
  border-radius: var(--sl-border-radius-medium);
  overflow-anchor: none;
}

.details--disabled {
  opacity: 0.5;
}

.details__header {
  display: flex;
  align-items: center;
  border-radius: inherit;
  padding: var(--sl-spacing-medium);
  user-select: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.focus-visible .details__header:focus {
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-focus-ring-color-primary);
}

.details--disabled .details__header {
  cursor: not-allowed;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.details__summary {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.details__summary-icon {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  transition: var(--sl-transition-medium) transform ease;
}

.details--open .details__summary-icon {
  transform: rotate(90deg);
}

.details__body {
  overflow: hidden;
}

.details__content {
  padding: var(--sl-spacing-medium);
}
