<!DOCTYPE html>
<html lang="en" class="wa-cloak">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Document</title>
  <script src="https://kit.webawesome.com/5817f77a08864ad1.js" crossorigin="anonymous"></script>
</head>
<body>
  {{ content | safe }}
</body>
</html>
