<!DOCTYPE html>
<html
  lang="en"
  data-layout="{{ layout }}"
  data-shoelace-version="{{ meta.version }}"
>
  <head>
    {# Metadata #}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ meta.description }}" />
    <title>{{ meta.title }}</title>

    {# Opt out of Turbo caching #}
    <meta name="turbo-cache-control">

    {# Stylesheets #}
    <link rel="stylesheet" href="{{ assetUrl('styles/docs.css') }}" />
    <link rel="stylesheet" href="{{ assetUrl('styles/code-previews.css') }}" />
    <link rel="stylesheet" href="{{ assetUrl('styles/search.css') }}" />

    {# Favicons #}
    <link rel="icon" href="{{ assetUrl('images/logo.svg') }}" type="image/x-icon" />

    {# Twitter Cards #}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="shoelace_style" />
    <meta name="twitter:image" content="{{ assetUrl(meta.image, true) }}" />

    {# OpenGraph #}
    <meta property="og:url" content="{{ rootUrl(page.url, true) }}" />
    <meta property="og:title" content="{{ meta.title }}" />
    <meta property="og:description" content="{{ meta.description }}" />
    <meta property="og:image" content="{{ assetUrl(meta.image, true) }}" />

    {# Shoelace #}
    <link rel="stylesheet" href="/dist/themes/light.css" />
    <link rel="stylesheet" href="/dist/themes/dark.css" />
    <script type="module" src="/dist/shoelace-autoloader.js"></script>

    {# Set the initial theme and menu states here to prevent flashing #}
    <script>
      (() => {
        const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
        const theme = localStorage.getItem('theme') || 'auto';
        document.documentElement.classList.toggle('sl-theme-dark', theme === 'dark' || (theme === 'auto' && prefersDark));
      })();
    </script>

    {# Turbo + Scroll positioning #}
    <script src="{{ assetUrl('scripts/turbo.js') }}" type="module"></script>
    <script src="{{ assetUrl('scripts/docs.js') }}" defer></script>
    <script src="{{ assetUrl('scripts/code-previews.js') }}" defer></script>
    <script src="{{ assetUrl('scripts/lunr.js') }}" defer></script>
    <script src="{{ assetUrl('scripts/search.js') }}" defer></script>
  </head>
  <body>
    <a id="skip-to-main" class="visually-hidden" href="#main-content" data-smooth-link="false">
      Skip to main content
    </a>

    {# Menu toggle #}
    <button id="menu-toggle" type="button" aria-label="Menu">
      <svg width="148" height="148" viewBox="0 0 148 148" xmlns="http://www.w3.org/2000/svg">
        <g stroke="currentColor" stroke-width="18" fill="none" fill-rule="evenodd" stroke-linecap="round">
          <path d="M9.5 125.5h129M9.5 74.5h129M9.5 23.5h129"></path>
        </g>
      </svg>
    </button>

    {# Icon toolbar #}
    <div id="icon-toolbar">
      {# GitHub #}
      <a href="https://github.com/shoelace-style/shoelace" title="View Shoelace on GitHub">
        <sl-icon name="github"></sl-icon>
      </a>

      {# Twitter #}
      <a href="https://twitter.com/shoelace_style" title="Follow Shoelace on Twitter">
        <sl-icon name="twitter"></sl-icon>
      </a>

      {# Theme selector #}
      <sl-dropdown id="theme-selector" placement="bottom-end" distance="3">
        <sl-button slot="trigger" size="small" variant="text" caret title="Press \ to toggle">
          <sl-icon class="only-light" name="sun-fill"></sl-icon>
          <sl-icon class="only-dark" name="moon-fill"></sl-icon>
        </sl-button>
        <sl-menu>
          <sl-menu-item type="checkbox" value="light">Light</sl-menu-item>
          <sl-menu-item type="checkbox" value="dark">Dark</sl-menu-item>
          <sl-divider></sl-divider>
          <sl-menu-item type="checkbox" value="auto">System</sl-menu-item>
        </sl-menu>
      </sl-dropdown>
    </div>

    <sl-dialog id="wa-dialog" label="Shoelace is now Web Awesome!">
      <div class="dialog-billboard">
        <div class="dialog-billboard-content">
          {% include 'wa-logo-icon.njk' %}
          <h2>Shoelace is now Web Awesome!</h2>
        </div>
      </div>

      <div class="dialog-body">
        <p>Web Awesome, like Shoelace before it, has an even larger library of free web <a href="https://webawesome.com/docs/components/?utm_source=shoelace-docs&utm_medium=web&utm_campaign=wa-dialog" target="_blank">components</a>. Plus, it has <a href="https://webawesome.com/docs/themes/?utm_source=shoelace-docs&utm_medium=web&utm_campaign=wa-dialog" target="_blank">themes</a>, <a href="https://webawesome.com/docs/utilities/?utm_source=shoelace-docs&utm_medium=web&utm_campaign=wa-dialog" target="_blank">utilities</a>, <a href="https://webawesome.com/docs/patterns/?utm_source=shoelace-docs&utm_medium=web&utm_campaign=wa-dialog" target="_blank">patterns</a>, and more.</p>

        <p>Switch from Shoelace for free today. <strong>Grab Web Awesome Pro and get even more at a 20% discount!</strong></p>

        <sl-divider></sl-divider>

        <div class="dialog-actions">
          <sl-button variant="text" class="close-wa-dialog">Okay, got it</sl-button>
          <div class="wa-ctas">
            <sl-button variant="primary" outline class="wa-cta" href="https://webawesome.com/docs?utm_source=shoelace-docs&utm_medium=web&utm_campaign=wa-dialog" target="_blank">Try Web Awesome</sl-button>
            <sl-button variant="primary" class="wa-pro-cta" href="https://webawesome.com/purchase?discount=TRYPRO20&utm_source=shoelace-docs&utm_medium=web&utm_campaign=wa-dialog" target="_blank">Save 20% on Pro!</sl-button>
          </div>
        </div>
      </div>

      <div slot="footer">
        <div class="sl-status">
          <strong>FYI, Shoelace is no longer actively being developed</strong>
          <p>But it is still available for use and may receive updates as needed.</p>
        </div>
      </div>
    </sl-dialog>
    <script>
      if (!sessionStorage.getItem('wa-dialog-dismissed')) {
        customElements.whenDefined('sl-dialog').then(() => {
          const dialog = document.getElementById('wa-dialog');
          const closeButton = dialog.querySelector('sl-button.close-wa-dialog');

          closeButton.addEventListener('click', () => dialog.hide());
          dialog.addEventListener('sl-after-hide', () => {
            sessionStorage.setItem('wa-dialog-dismissed', 'true');
          }, { once: true });

          dialog.show();
        });
      }
    </script>

    <aside id="sidebar" data-preserve-scroll>
      <header>
        <a href="/">
          <img src="{{ assetUrl('images/wordmark.svg') }}" alt="Shoelace" />
        </a>
        <div class="sidebar-version">
          {{ meta.version }}
        </div>
      </header>

      <div class="sidebar-buttons">
        <sl-button size="small" class="repo-button repo-button--github" href="https://github.com/shoelace-style/shoelace" target="_blank">
          <sl-icon slot="prefix" name="github"></sl-icon> Code
        </sl-button>
        <sl-button size="small" class="repo-button repo-button--star" href="https://github.com/shoelace-style/shoelace/stargazers" target="_blank">
          <sl-icon slot="prefix" name="star-fill"></sl-icon> Star
        </sl-button>
        <sl-button size="small" class="repo-button repo-button--twitter" href="https://twitter.com/shoelace_style" target="_blank">
          <sl-icon slot="prefix" name="twitter"></sl-icon> Follow
        </sl-button>
      </div>

      <button class="search-box" type="button" title="Press / to search" aria-label="Search" data-plugin="search">
        <sl-icon name="search"></sl-icon>
        <span>Search</span>
      </button>

      <nav>
        {% include 'sidebar.njk' %}
      </nav>
    </aside>

    {# Content #}
    <main>
      <a id="main-content"></a>
      <article id="content" class="content{% if toc %} content--with-toc{% endif %}">
        {% if toc %}
          <div class="content__toc">
            <ul>
              <li class="top"><a href="#">{{ meta.title }}</a></li>
            </ul>
          </div>
        {% endif %}

        <div class="content__body">
          {% block content %}
            {{ content | safe }}
          {% endblock %}
        </div>
      </article>
    </main>
  </body>
</html>
