<ul>
  <li>
    <h2>Getting Started</h2>
    <ul>
      <li><a href="/">Overview</a></li>
      <li><a href="/getting-started/installation">Installation</a></li>
      <li><a href="/getting-started/usage">Usage</a></li>
      <li><a href="/teamshares/contributing">Contributing</a></li>
      <li><a href="/teamshares/recipes">Recipe Book</a></li>
      <li><a href="/teamshares/changelog">Changelog</a></li>
    </ul>
  </li>
  <li>
    <h2>Teamshares Brand</h2>
    <ul>
      <li><a href="/teamshares/logo-assets">Logo & Brand Assets</a></li>
      <li><a href="/teamshares/content">Content Guidelines</a></li>
    </ul>
  </li>
  <li>
    <h2>Styles</h2>
    <ul>
      <li><a href="/tokens/ts-colors">Colors</a></li>
      <li><a href="/tokens/ts-typography">Typography</a></li>
      <li><a href="/tokens/ts-spacing">Spacing</a></li>
      <li><a href="/tokens/ts-elevation">Elevation</a></li>
      <li><a href="/tokens/ts-border-radius">Border Radius</a></li>
    </ul>
  </li>
  {#
  <li>
    <h2>Components</h2>
    <ul>
      {% for component in meta.components %}
      <li>
        <a href="/components/{{ component.tagName | removeSlPrefix }}">
          {{ component.name | classNameToComponentName }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </li>
  #}
  <li>
    <h2>Core Components</h2>
    <ul>
      <li><a href="/components/alert">Alert</a></li>
      <li><a href="/components/avatar">Avatar</a></li>
      <li><a href="/components/badge">Badge</a></li>
      <li><a href="/components/breadcrumb">Breadcrumb</a></li>
      <li><a href="/components/breadcrumb-item">Breadcrumb Item</a></li>
      <li><a href="/components/button">Button</a></li>
      <li><a href="/components/button-group">Button Group</a></li>
      <li><a href="/components/card">Card</a></li>
      <li><a href="/components/checkbox">Checkbox</a></li>
      <li><a href="/components/details">Details (Collapsible card)</a></li>
      <li><a href="/components/dialog">Dialog (Modal)</a></li>
      <li><a href="/components/divider">Divider</a></li>
      <li><a href="/components/drawer">Drawer</a></li>
      <li><a href="/components/dropdown">Dropdown</a></li>
      <li><a href="/components/icon">Icon</a></li>
      <li><a href="/components/icon-button">Icon Button</a></li>
      <li><a href="/components/input">Input</a></li>
      <li><a href="/components/menu">Menu</a></li>
      <li><a href="/components/menu-item">Menu Item</a></li>
      <li><a href="/components/menu-label">Menu Label</a></li>
      <li><a href="/components/option">Option</a></li>
      <li><a href="/components/progress-bar">Progress Bar</a></li>
      <li><a href="/components/radio">Radio</a></li>
      <li><a href="/components/radio-button">Radio Button</a></li>
      <li><a href="/components/radio-group">Radio Group</a></li>
      <li><a href="/components/progress-ring">Progress Ring</a></li>
      <li><a href="/components/range">Range</a></li>
      <li><a href="/components/rating">Rating</a></li>
      <li><a href="/components/select">Select</a></li>
      <li><a href="/components/skeleton">Skeleton</a></li>
      <li><a href="/components/spinner">Spinner</a></li>
      <li><a href="/components/split-panel">Split Panel</a></li>
      <li><a href="/components/switch">Switch</a></li>
      <li><a href="/components/tab-group">Tab Group</a></li>
      <li><a href="/components/tab">Tab</a></li>
      <li><a href="/components/tab-panel">Tab Panel</a></li>
      <li><a href="/components/tag">Tag</a></li>
      <li><a href="/components/textarea">Textarea</a></li>
      <li><a href="/components/tooltip">Tooltip</a></li>
    </ul>
  </li>
  <li>
    <h2>Auxiliary Components</h2>
    <ul>
      <li><a href="/components/carousel">Carousel</a></li>
      <li><a href="/components/carousel-item">Carousel Item</a></li>
      <li><a href="/components/copy-button">Copy Button</a></li>
      <!-- <li><a href="/vendor/data-grid">Data Grid</a></li> -->
      <li><a href="/components/image-comparer">Image Comparer</a></li>
      <li><a href="/components/qr-code">QR Code</a></li>
      <li><a href="/components/tree">Tree</a></li>
      <li><a href="/components/tree-item">Tree Item</a></li>
    </ul>
  </li>
  <li>
    <h2>Utilities</h2>
    <ul>
      <li><a href="/components/animated-image">Animated Image</a></li>
      <li><a href="/components/animation">Animation</a></li>
      <li><a href="/components/format-bytes">Format Bytes</a></li>
      <li><a href="/components/format-date">Format Date</a></li>
      <li><a href="/components/format-number">Format Number</a></li>
      <li><a href="/components/include">Include</a></li>
      <li><a href="/components/mutation-observer">Mutation Observer</a></li>
      <li><a href="/components/popup">Popup</a></li>
      <li><a href="/components/relative-time">Relative Time</a></li>
      <li><a href="/components/resize-observer">Resize Observer</a></li>
      <li><a href="/components/visually-hidden">Visually Hidden</a></li>
    </ul>
  </li>
</ul>
