@import 'component';

:host {
  display: block;
}

.sl-progress-bar {
  position: relative;
  background: var(--sl-color-gray-90);
  height: var(--height);
  border-radius: 12px;
  overflow: hidden;
}

.sl-progress-bar__indicator {
  height: 100%;
  font-family: var(--sl-font-sans);
  font-size: 12px;
  font-weight: var(--sl-font-weight-normal);
  background-color: var(--sl-color-primary-50);
  color: var(--sl-color-white);
  text-align: center;
  line-height: var(--height);
  white-space: nowrap;
  overflow: hidden;
  transition: 400ms width, 400ms background-color;
  user-select: none;
}
