:root {
  --theme-color: hsl(var(--sl-color-primary-hue), var(--sl-color-primary-saturation), 50%);
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-size: 16px;
}

/* Logo */
.sidebar > h1 {
  text-align: left;
}

.app-name-link img {
  display: inline-block;
  max-height: 2.8rem;
  padding: 0 1rem;
}

h1 img {
  max-height: 6rem;
}

/* Sidebar */
.app-sub-sidebar li:before {
  content: '•';
}

/* Heading links */
.markdown-section h1 a,
.markdown-section h2 a,
.markdown-section h3 a,
.markdown-section h4 a,
.markdown-section h5 a,
.markdown-section h6 a {
  position: relative;
  color: #34495e;
}

/* Show a hash for heading links h2-h6 */
.markdown-section h2 a:hover::before,
.markdown-section h3 a:hover::before,
.markdown-section h4 a:hover::before,
.markdown-section h5 a:hover::before,
.markdown-section h6 a:hover::before {
  position: absolute;
  left: -1em;
  content: '#';
  color: var(--sl-color-gray-80);
}

/* Code samples */
.markdown-section code {
  color: hsl(var(--sl-color-warning-hue), var(--sl-color-warning-saturation), 50%);
}

/* Tables */
.markdown-section table {
  display: table;
  width: 100%;
}

.markdown-section tr {
  border-top: solid 1px #f2f2f2;
}

.markdown-section tr:nth-child(2n) {
  background-color: transparent;
}

.markdown-section table th {
  text-align: left;
}

.markdown-section table th,
.markdown-section table td {
  border: none;
  padding: 16px;
}

/* Code highlighters */
.token.attr-value,
.token.control,
.token.directive,
.token.unit {
  color: hsl(var(--sl-color-success-hue), var(--sl-color-success-saturation), 40%);
}

.token.property {
  color: hsl(var(--sl-color-warning-hue), var(--sl-color-warning-saturation), 50%);
}

.token.selector {
  color: #aa4fb7;
}

.token.tag,
.token.attr-name {
  color: hsl(var(--sl-color-primary-hue), var(--sl-color-primary-saturation), 40%);
}

/* Copy buttons */
html .docsify-copy-code-button {
  top: auto;
  bottom: 0;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  font-size: 0.875rem;
}
