body {
  font-family: var(--sl-font-sans);
  font-size: 16px;
  font-weight: var(--sl-font-weight-normal);
}

.sidebar h1 {
  text-align: left;
  padding: 0 1rem;
}

.sidebar img {
  max-width: 80%;
}

.sidebar .sidebar-nav {
  line-height: 1.8;
}

.search .input-wrap {
  padding-left: 3rem;
}

.sidebar-toggle,
body.close .sidebar-toggle {
  top: 0.5rem;
  left: 0.5rem;
  width: 2.5rem;
  bottom: auto;
  border-radius: 3px;
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .sidebar h1 {
    padding: 1rem;
  }

  .sidebar-toggle,
  body.close .sidebar-toggle {
    padding: 10px;
  }
}

.sidebar-toggle .sidebar-toggle-button:hover {
  opacity: 1;
}

.sidebar-toggle:hover {
  opacity: 0.5;
}

.content em {
  color: inherit;
}

.content blockquote p {
  font-weight: normal;
}

.content table {
  font-size: 14px;
  line-height: 1.6;
}

.content table th,
.content table td {
  border-color: var(--sl-color-gray-90);
  padding: 1rem;
}

.content p.tip,
.content tr:nth-child(2n) {
  background-color: hsl(var(--sl-color-gray-hue), var(--sl-color-gray-saturation), 97%);
}

.content .docsify-copy-code-button {
  top: auto;
  right: 0;
  bottom: 0;
  font-size: 14px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.content .docsify-copy-code-button .error,
.content .docsify-copy-code-button .success {
  border-radius: 50%;
  transform: scale(0) translateY(-50%) rotate(0deg);
  opacity: 0;
  transition: 250ms all ease-in-out;
}

.content .docsify-copy-code-button.error .error,
.content .docsify-copy-code-button.success .success {
  transform: scale(1) translateX(-120%) translateY(-50%) rotate(360deg);
  opacity: 1;
}

/* Code */
.content pre,
.content pre > code {
  border-radius: 3px;
  font-family: var(--sl-font-mono);
  font-size: 0.825rem;
  color: var(--sl-color-gray-20);
  -webkit-font-smoothing: auto;
}

.content pre::after {
  color: var(--sl-color-gray-70);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 2;
}

.content code {
  background-color: transparent;
  font-family: var(--sl-font-mono);
  font-size: 0.875em;
  color: var(--sl-color-warning-50);
  padding: 0;
  -webkit-font-smoothing: auto;
}

.content h1 code,
.content h2 code,
.content h3 code,
.content h4 code,
.content h5 code,
.content h6 code {
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  padding: 0;
}

.content code .token {
  -webkit-font-smoothing: auto;
}

.content code .token.attr-value,
.content code .token.control,
.content code .token.directive,
.content code .token.unit {
  color: var(--sl-color-warning-50);
}

.content code .token.attr-name,
.content code .token.tag,
.content code .token.selector {
  color: var(--sl-color-primary-50);
}

.content code .token.string {
  color: var(--sl-color-success-45);
}

.content code .token.property {
  color: var(--sl-color-warning-50);
}

.content code .token.punctuation {
  color: var(--sl-color-gray-40);
}

/* Code blocks */
.code-block {
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.025);
  margin-bottom: 1.5rem;
}

.code-block__preview {
  border: solid 1px var(--sl-color-gray-90);
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 1.5rem;
}

.code-block__preview * {
  vertical-align: middle;
}

pre.code-block__source {
  border: solid 1px var(--sl-color-gray-90);
  border-bottom: none;
  border-radius: 0;
  margin: 0;
  display: none;
}

.code-block__source .docsify-copy-code-button {
  border-bottom-right-radius: 0;
}

.code-block--expanded .code-block__source {
  display: block;
}

.code-block__toggle {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 2.5rem;
  border: solid 1px var(--sl-color-gray-90);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: none;
  font: inherit;
  color: var(--sl-color-gray-60);
  cursor: pointer;
  transition: 250ms background-color;
  -webkit-appearance: none;
}

.code-block__toggle:hover {
  background-color: hsl(var(--sl-color-gray-hue), var(--sl-color-gray-saturation), 98%);
}

.code-block__toggle:active {
  background-color: hsl(var(--sl-color-gray-hue), var(--sl-color-gray-saturation), 96%);
}

.code-block__toggle:focus {
  outline: none;
  color: var(--sl-color-primary-50);
  border-color: var(--sl-color-primary-50);
  box-shadow: var(--sl-focus-ring-box-shadow);
}

.code-block__toggle::after {
  content: '';
  position: absolute;
  top: calc(50% - 3px);
  left: calc(50% - 3px);
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid currentColor;
}

.code-block--expanded .code-block__toggle::after {
  transform: rotate(180deg);
}

/* Logo */
.content img.logo {
  max-width: 400px;
}
