@use '../../styles/component';

:host {
  display: inline-block;
}

.radio {
  display: inline-flex;
  align-items: center;
  font-family: var(--sl-input-font-family);
  font-size: var(--sl-input-font-size-medium);
  font-weight: var(--sl-input-font-weight);
  color: var(--sl-input-color);
  vertical-align: middle;
  cursor: pointer;
}

.radio__icon {
  display: inline-flex;
  width: var(--sl-toggle-size);
  height: var(--sl-toggle-size);

  svg {
    width: 100%;
    height: 100%;
  }
}

.radio__control {
  flex: 0 0 auto;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--sl-toggle-size);
  height: var(--sl-toggle-size);
  border: solid var(--sl-input-border-width) var(--sl-input-border-color);
  border-radius: 50%;
  background-color: var(--sl-input-background-color);
  color: transparent;
  transition: var(--sl-transition-fast) border-color, var(--sl-transition-fast) background-color,
    var(--sl-transition-fast) color, var(--sl-transition-fast) box-shadow;

  input[type='radio'] {
    position: absolute;
    opacity: 0;
    padding: 0;
    margin: 0;
    pointer-events: none;
  }
}

// Hover
.radio:not(.radio--checked):not(.radio--disabled) .radio__control:hover {
  border-color: var(--sl-input-border-color-hover);
  background-color: var(--sl-input-background-color-hover);
}

// Focus
.radio.radio--focused:not(.radio--checked):not(.radio--disabled) .radio__control {
  border-color: var(--sl-input-border-color-focus);
  background-color: var(--sl-input-background-color-focus);
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-focus-ring-color-primary);
}

// Checked
.radio--checked .radio__control {
  color: var(--sl-color-white);
  border-color: var(--sl-color-primary-500);
  background-color: var(--sl-color-primary-500);
}

// Checked + hover
.radio.radio--checked:not(.radio--disabled) .radio__control:hover {
  border-color: var(--sl-color-primary-400);
  background-color: var(--sl-color-primary-400);
}

// Checked + focus
.radio.radio--checked:not(.radio--disabled).radio--focused .radio__control {
  border-color: var(--sl-color-primary-400);
  background-color: var(--sl-color-primary-400);
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-focus-ring-color-primary);
}

// Disabled
.radio--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

// When the control isn't checked, hide the circle for Windows High Contrast mode a11y
.radio:not(.radio--checked) svg circle {
  opacity: 0;
}

.radio__label {
  line-height: var(--sl-toggle-size);
  margin-left: 0.5em;
  user-select: none;
}
