@import 'reset';
@import 'variables';

:host {
  --input-padding-x--small: 14px;
  --input-padding-x--medium: 14px;
  --input-padding-x--large: 14px;

  display: block;
}

.sl-input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: var(--input-font-family);
  font-weight: var(--input-font-weight);
  color: var(--input-color);
  background-color: var(--input-background-color);
  border: solid var(--input-border-width) var(--input-border-color);
  vertical-align: middle;
  transition: var(--input-transition-speed) color, var(--input-transition-speed) border,
    var(--input-transition-speed) box-shadow;

  .sl-input__control {
    flex: 1 1 auto;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    height: 100%;
    color: inherit;
    border: none;
    background: none;
    -webkit-appearance: none;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }

    &::placeholder {
      color: var(--input-placeholder-color);
      user-select: none;
    }

    &:focus {
      outline: none;
    }
  }

  &:hover:not(.sl-input--disabled) {
    background-color: var(--input-background-color--hover);
    border-color: var(--input-border-color--hover);
  }

  &.sl-input--focused:not(.sl-input--disabled) {
    background-color: var(--input-background-color--focus);
    border-color: var(--input-border-color--focus);
    box-shadow: 0 0 0 var(--input-focus-ring-width) var(--input-focus-ring-color);
  }

  &.sl-input--disabled {
    background-color: var(--color-gray-900);
    opacity: 0.5;

    .sl-input__control {
      cursor: not-allowed;
    }
  }
}

// Size modifiers
.sl-input--small {
  border-radius: var(--input-border-radius--small);
  font-size: var(--input-font-size--small);
  padding: 0 var(--input-padding-x--small);
  height: var(--input-height--small);

  .sl-input__control {
    height: calc(var(--input-height--small) - var(--input-border-width) * 2);
    line-height: calc(var(--input-height--small) - var(--input-border-width) * 2);
  }
}

.sl-input--medium {
  border-radius: var(--input-border-radius--medium);
  font-size: var(--input-font-size--medium);
  height: var(--input-height--medium);
  padding: 0 var(--input-padding-x--medium);

  .sl-input__control {
    height: calc(var(--input-height--medium) - var(--input-border-width) * 2);
    line-height: calc(var(--input-height--medium) - var(--input-border-width) * 2);
  }
}

.sl-input--large {
  border-radius: var(--input-border-radius--large);
  font-size: var(--input-font-size--large);
  height: var(--input-height--large);
  padding: 0 var(--input-padding-x--large);

  .sl-input__control {
    height: calc(var(--input-height--large) - var(--input-border-width) * 2);
    line-height: calc(var(--input-height--large) - var(--input-border-width) * 2);
  }
}

// Clearable
.sl-input__clear {
  display: flex;
  align-items: center;
  font-size: inherit;
  color: var(--input-placeholder-color);
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  svg {
    width: 14px;
    height: 14px;
  }

  &:hover,
  &:focus {
    svg {
      filter: brightness(80%);
    }
  }
}

.sl-input--empty .sl-input__clear {
  visibility: hidden;
}

// Slots
.sl-input {
  .sl-input__prefix:empty,
  .sl-input__suffix:empty {
    display: none;
  }

  .sl-input__prefix:not(:empty) {
    color: var(--input-placeholder-color);
    margin-right: 0.5em;
  }

  .sl-input__suffix:not(:empty) {
    color: var(--input-placeholder-color);
    margin-left: 0.5em;
  }
}
