@import 'component';

:host {
  display: inline-flex;
  border-radius: var(--sl-border-radius-pill);
  pointer-events: none;
}

.sl-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--sl-font-size-x-small);
  font-weight: var(--sl-font-weight-normal);
  letter-spacing: var(--sl-letter-spacing-normal);
  line-height: 1;
  border-radius: inherit;
  border: solid 1px var(--sl-color-white);
  white-space: nowrap;
  padding: 3px 6px;
  user-select: none;
  cursor: inherit;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Type modifiers
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sl-badge--primary {
  background-color: var(--sl-color-primary-50);
  color: var(--sl-color-white);
}

.sl-badge--success {
  background-color: var(--sl-color-success-50);
  color: var(--sl-color-white);
}

.sl-badge--info {
  background-color: var(--sl-color-info-50);
  color: var(--sl-color-white);
}

.sl-badge--warning {
  background-color: var(--sl-color-warning-50);
  color: var(--sl-color-white);
}

.sl-badge--danger {
  background-color: var(--sl-color-danger-50);
  color: var(--sl-color-white);
}
