*.hbs
.cache
.github
cspell.json
dist
docs/search.json
docs/assets/icons/tags.js
src/components/icon/icons
src/react/index.ts
node_modules
package-lock.json
tsconfig.json
src/styles/exports/generated.css

