@import 'reset';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Base styles
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

:host {
  display: block;
}

.sl-dropdown-divider {
  border-top: solid 1px var(--menu-divider-border-color);
  margin: var(--menu-padding-y) 0;
}
