@import 'reset';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Base styles
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

:host {
  --dropdown-divider-border-color: var(--color-gray-90);

  display: block;
}

.sl-dropdown-divider {
  border-top: solid 1px var(--dropdown-divider-border-color);
  margin: var(--dropdown-padding-y) 0;
}
