/* Elevation tokens */
.sl-theme-dark {
  --sl-shadow-x-small: 0 1px 0 #6b72800d;
  --sl-shadow-small: 0 1px 2px #6b72801a;
  --sl-shadow-medium: 0 2px 4px #6b72801a;
  --sl-shadow-large: 0 2px 8px #6b72801a;
  --sl-shadow-x-large: 0 4px 16px #6b72801a;
}

.sl-theme-dark {
  background: var(--sl-color-gray-900);
  color: var(--sl-color-gray-200);
}

/* Sidebar **/
.sl-theme-dark .sidebar {
  background: var(--sl-color-gray-900);
  border-right-color: var(--sl-color-gray-900);
}

.sl-theme-dark .sidebar li > p {
  color: var(--sl-color-white);
  border-bottom-color: var(--sl-color-gray-800);
}

.sl-theme-dark .sidebar-toggle {
  background-color: var(--sl-color-gray-900);
}

.sl-theme-dark .docsify-pagination-container {
  border-top-color: var(--sl-color-gray-800) !important;
}

/* Search */
.sl-theme-dark .sidebar .search input[type='search'] {
  background: var(--sl-input-background-color);
  border-color: var(--sl-input-border-color);
  color: var(--sl-input-color);
}

.sl-theme-dark .sidebar .search input[type='search']:hover {
  border-color: var(--sl-input-border-color-hover);
}

.sl-theme-dark .sidebar .search input[type='search']:focus {
  border-color: var(--sl-input-border-color-focus);
}

.sl-theme-dark .sidebar .clear-button {
  color: var(--sl-color-gray-700);
}

.sl-theme-dark .sidebar .clear-button svg circle {
  fill: currentColor;
}

/* Content */
.sl-theme-dark .component-header {
  border-bottom-color: var(--sl-color-gray-800);
}

.sl-theme-dark .anchor span {
  color: var(--sl-color-white);
}

.sl-theme-dark .markdown-section h2 {
  border-bottom-color: var(--sl-color-gray-800);
}

.sl-theme-dark .markdown-section blockquote {
  border-left-color: var(--sl-color-gray-800);
}

.sl-theme-dark .markdown-section kbd {
  border-color: var(--sl-color-gray-800);
}

/* Tables */
.sl-theme-dark .markdown-section tr:nth-child(2n) {
  background: var(--sl-color-gray-950);
}

.sl-theme-dark .markdown-section td {
  border-top-color: var(--sl-color-gray-800);
  border-bottom-color: var(--sl-color-gray-800);
}

/* Tips & warnings */
.sl-theme-dark .markdown-section p.tip,
.sl-theme-dark .markdown-section p.warn {
  background-color: var(--sl-color-gray-950);
}

.sl-theme-dark .markdown-section p.tip:before,
.sl-theme-dark .markdown-section p.warn:before {
  color: var(--sl-color-gray-900);
}

.sl-theme-dark .markdown-section p.tip code,
.sl-theme-dark .markdown-section p.warn code {
  background-color: var(--sl-color-gray-800);
}

/* Code */
.sl-theme-dark .markdown-section code {
  background: var(--sl-color-gray-950);
}

/* Code blocks */
.sl-theme-dark .markdown-section pre,
.sl-theme-dark .code-block__source {
  background-color: var(--sl-color-gray-800);
}

.sl-theme-dark .markdown-section pre > code {
  color: var(--sl-color-gray-200);
}

.sl-theme-dark .markdown-section pre .token.comment {
  color: var(--sl-color-gray-600);
}

.sl-theme-dark .markdown-section pre .token.prolog,
.sl-theme-dark .markdown-section pre .token.doctype,
.sl-theme-dark .markdown-section pre .token.cdata,
.sl-theme-dark .markdown-section pre .token.operator {
  color: var(--sl-color-gray-300);
}

.sl-theme-dark .markdown-section pre .token.property,
.sl-theme-dark .markdown-section pre .token.keyword,
.sl-theme-dark .markdown-section pre .token.tag,
.sl-theme-dark .markdown-section pre .token.url {
  color: var(--sl-color-primary-400);
}

.sl-theme-dark .markdown-section pre .token.symbol,
.sl-theme-dark .markdown-section pre .token.deleted {
  color: #f92672;
}

.sl-theme-dark .markdown-section pre .token.boolean,
.sl-theme-dark .markdown-section pre .token.constant,
.sl-theme-dark .markdown-section pre .token.selector,
.sl-theme-dark .markdown-section pre .token.attr-name,
.sl-theme-dark .markdown-section pre .token.string,
.sl-theme-dark .markdown-section pre .token.char,
.sl-theme-dark .markdown-section pre .token.builtin,
.sl-theme-dark .markdown-section pre .token.inserted {
  color: var(--sl-color-success-400);
}

.sl-theme-dark .markdown-section pre .token.atrule,
.sl-theme-dark .markdown-section pre .token.attr-value,
.sl-theme-dark .markdown-section pre .token.number,
.sl-theme-dark .markdown-section pre .token.variable {
  color: #c380ff;
}

.sl-theme-dark .markdown-section pre .token.function,
.sl-theme-dark .markdown-section pre .token.class-name {
  color: #ffbb4d;
}

.sl-theme-dark .markdown-section pre .token.regex {
  color: #f8bd5b;
}

.sl-theme-dark .markdown-section pre .token.important {
  color: #fd495f;
}

/* Repo buttons */
.sl-theme-dark .repo-button {
  background-color: var(--sl-color-gray-900);
  border-color: var(--sl-color-gray-800);
  color: var(--sl-color-gray-200);
}

.sl-theme-dark .repo-button--github sl-icon {
  color: var(--sl-color-white);
}

.sl-theme-dark .repo-button:hover {
  background-color: var(--sl-color-gray-900);
  border: solid 1px var(--sl-color-gray-700);
}

.sl-theme-dark .repo-button:focus {
  border-color: var(--sl-color-primary-500);
}
