@import 'component';

:host {
  display: inline-block;
}

#button {
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  border-style: solid;
  border-width: var(--sl-input-border-width);
  font-family: var(--sl-input-font-family);
  font-weight: var(--sl-font-weight-semibold);
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  transition: var(--sl-transition-fast) background-color, var(--sl-transition-fast) color,
    var(--sl-transition-fast) border;
  cursor: pointer;

  &::-moz-focus-inner {
    border: 0;
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  // Clicks on icons shouldn't prevent the button from gaining focus
  ::slotted(sl-icon) {
    pointer-events: none;
  }
}

#prefix,
#suffix {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

#prefix ::slotted(:first-child) {
  margin-left: calc(-1 * var(--sl-spacing-x-small));
  margin-right: var(--sl-spacing-x-small);
}

#suffix ::slotted(:last-child) {
  margin-left: var(--sl-spacing-x-small);
  margin-right: calc(-1 * var(--sl-spacing-x-small));
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Standard buttons
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

:host([type='default']) {
  #button {
    background-color: var(--sl-color-white);
    border-color: var(--sl-color-gray-80);
    color: var(--sl-color-gray-40);

    &:hover:not(:disabled) {
      background-color: var(--sl-color-primary-95);
      border-color: var(--sl-color-primary-80);
      color: var(--sl-color-primary-40);
    }

    &:focus:not(:disabled) {
      background-color: var(--sl-color-primary-95);
      border-color: var(--sl-color-primary-70);
      color: var(--sl-color-primary-40);
      box-shadow: 0 0 0 var(--sl-focus-ring-width)
        hsla(var(--sl-color-primary-hue), var(--sl-color-primary-saturation), 50%, var(--sl-focus-ring-alpha));
    }

    &:active:not(:disabled) {
      background-color: var(--sl-color-primary-95);
      border-color: var(--sl-color-primary-50);
      color: var(--sl-color-primary-30);
    }
  }
}

:host([type='primary']) {
  #button {
    background-color: var(--sl-color-primary-50);
    border-color: var(--sl-color-primary-50);
    color: var(--sl-color-primary-text);

    &:hover:not(:disabled) {
      background-color: var(--sl-color-primary-60);
      border-color: var(--sl-color-primary-60);
      color: var(--sl-color-primary-text);
    }

    &:focus:not(:disabled) {
      background-color: var(--sl-color-primary-60);
      border-color: var(--sl-color-primary-60);
      color: var(--sl-color-primary-text);
      box-shadow: 0 0 0 var(--sl-focus-ring-width)
        hsla(var(--sl-color-primary-hue), var(--sl-color-primary-saturation), 50%, var(--sl-focus-ring-alpha));
    }

    &:active:not(:disabled) {
      background-color: var(--sl-color-primary-50);
      border-color: var(--sl-color-primary-50);
      color: var(--sl-color-primary-text);
    }
  }
}

:host([type='success']) {
  #button {
    background-color: var(--sl-color-success-50);
    border-color: var(--sl-color-success-50);
    color: var(--sl-color-success-text);

    &:hover:not(:disabled) {
      background-color: var(--sl-color-success-60);
      border-color: var(--sl-color-success-60);
      color: var(--sl-color-success-text);
    }

    &:focus:not(:disabled) {
      background-color: var(--sl-color-success-60);
      border-color: var(--sl-color-success-60);
      color: var(--sl-color-success-text);
      box-shadow: 0 0 0 var(--sl-focus-ring-width)
        hsla(var(--sl-color-success-hue), var(--sl-color-success-saturation), 50%, var(--sl-focus-ring-alpha));
    }

    &:active:not(:disabled) {
      background-color: var(--sl-color-success-50);
      border-color: var(--sl-color-success-50);
      color: var(--sl-color-success-text);
    }
  }
}

:host([type='info']) {
  #button {
    background-color: var(--sl-color-info-50);
    border-color: var(--sl-color-info-50);
    color: var(--sl-color-info-text);

    &:hover:not(:disabled) {
      background-color: var(--sl-color-info-60);
      border-color: var(--sl-color-info-60);
      color: var(--sl-color-info-text);
    }

    &:focus:not(:disabled) {
      background-color: var(--sl-color-info-60);
      border-color: var(--sl-color-info-60);
      color: var(--sl-color-info-text);
      box-shadow: 0 0 0 var(--sl-focus-ring-width)
        hsla(var(--sl-color-info-hue), var(--sl-color-info-saturation), 50%, var(--sl-focus-ring-alpha));
    }

    &:active:not(:disabled) {
      background-color: var(--sl-color-info-50);
      border-color: var(--sl-color-info-50);
      color: var(--sl-color-info-text);
    }
  }
}

:host([type='warning']) {
  #button {
    background-color: var(--sl-color-warning-50);
    border-color: var(--sl-color-warning-50);
    color: var(--sl-color-warning-text);

    &:hover:not(:disabled) {
      background-color: var(--sl-color-warning-60);
      border-color: var(--sl-color-warning-60);
      color: var(--sl-color-warning-text);
    }

    &:focus:not(:disabled) {
      background-color: var(--sl-color-warning-60);
      border-color: var(--sl-color-warning-60);
      color: var(--sl-color-warning-text);
      box-shadow: 0 0 0 var(--sl-focus-ring-width)
        hsla(var(--sl-color-warning-hue), var(--sl-color-warning-saturation), 50%, var(--sl-focus-ring-alpha));
    }

    &:active:not(:disabled) {
      background-color: var(--sl-color-warning-50);
      border-color: var(--sl-color-warning-50);
      color: var(--sl-color-warning-text);
    }
  }
}

:host([type='danger']) {
  #button {
    background-color: var(--sl-color-danger-50);
    border-color: var(--sl-color-danger-50);
    color: var(--sl-color-danger-text);

    &:hover:not(:disabled) {
      background-color: var(--sl-color-danger-60);
      border-color: var(--sl-color-danger-60);
      color: var(--sl-color-danger-text);
    }

    &:focus:not(:disabled) {
      background-color: var(--sl-color-danger-60);
      border-color: var(--sl-color-danger-60);
      color: var(--sl-color-danger-text);
      box-shadow: 0 0 0 var(--sl-focus-ring-width)
        hsla(var(--sl-color-danger-hue), var(--sl-color-danger-saturation), 50%, var(--sl-focus-ring-alpha));
    }

    &:active:not(:disabled) {
      background-color: var(--sl-color-danger-50);
      border-color: var(--sl-color-danger-50);
      color: var(--sl-color-danger-text);
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Text buttons
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

:host([type='text']) {
  #button {
    background-color: transparent;
    border-color: transparent;
    color: var(--sl-color-primary-50);

    &:hover:not(:disabled) {
      background-color: transparent;
      border-color: transparent;
      color: var(--sl-color-primary-60);
    }

    &:focus:not(:disabled) {
      background-color: transparent;
      border-color: transparent;
      color: var(--sl-color-primary-60);
      box-shadow: 0 0 0 var(--sl-focus-ring-width)
        hsla(var(--sl-color-primary-hue), var(--sl-color-primary-saturation), 50%, var(--sl-focus-ring-alpha));
    }

    &:active:not(:disabled) {
      background-color: transparent;
      border-color: transparent;
      color: var(--sl-color-primary-40);
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Size modifiers
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

:host([size='small']) {
  border-radius: var(--sl-input-border-radius-small);

  #button {
    font-size: var(--sl-input-font-size-small);
    height: var(--sl-input-height-small);
    line-height: calc(var(--sl-input-height-small) - var(--sl-input-border-width) * 2);
    border-radius: inherit;
    padding: 0 var(--sl-spacing-medium);
  }
}

:host([size='medium']) {
  border-radius: var(--sl-input-border-radius-medium);

  #button {
    font-size: var(--sl-input-font-size-medium);
    height: var(--sl-input-height-medium);
    line-height: calc(var(--sl-input-height-medium) - var(--sl-input-border-width) * 2);
    border-radius: inherit;
    padding: 0 var(--sl-spacing-large);
  }
}

:host([size='large']) {
  border-radius: var(--sl-input-border-radius-large);

  #button {
    font-size: var(--sl-input-font-size-large);
    height: var(--sl-input-height-large);
    line-height: calc(var(--sl-input-height-large) - var(--sl-input-border-width) * 2);
    border-radius: inherit;
    padding: 0 var(--sl-spacing-x-large);
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Pill modifier
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

:host([pill][size='small']) {
  border-radius: var(--sl-input-height-small);
}

:host([pill][size='medium']) {
  border-radius: var(--sl-input-height-medium);
}

:host([pill][size='large']) {
  border-radius: var(--sl-input-height-large);
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Circle modifier
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

:host([circle]) {
  #button {
    padding-left: 0;
    padding-right: 0;
  }

  #label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #prefix,
  #suffix,
  #caret {
    display: none;
  }
}

:host([circle][size='small']) {
  #button {
    width: var(--sl-input-height-small);
    border-radius: 50%;
  }
}

:host([circle][size='medium']) {
  #button {
    width: var(--sl-input-height-medium);
    border-radius: 50%;
  }
}

:host([circle][size='large']) {
  #button {
    width: var(--sl-input-height-large);
    border-radius: 50%;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Caret modifier
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

:host([caret]) {
  #suffix {
    display: none;
  }

  #caret {
    display: flex;
    align-items: center;
    margin-left: var(--sl-spacing-xx-small);
    margin-right: calc(-1 * var(--sl-spacing-xx-small));

    svg {
      width: 1em;
      height: 1em;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Loading modifier
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

:host([loading]) {
  #button {
    position: relative;
    pointer-events: none;
  }

  #prefix,
  #label,
  #suffix,
  #caret {
    visibility: hidden;
  }

  #spinner {
    position: absolute;
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    width: 1em;
    height: 1em;
    border: solid 1px currentColor;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: 1s linear infinite spin;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Badges
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#button ::slotted(sl-badge) {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%) translateX(50%);
}
