@mixin solid-button($theme) {
  background-color: var(--#{$theme}-background-color);
  border-color: var(--#{$theme}-border-color);
  color: var(--#{$theme}-color);

  &:hover:not(:disabled) {
    background-color: var(--#{$theme}-background-color--hover);
    border-color: var(--#{$theme}-border-color--hover);
    color: var(--#{$theme}-color--hover);
  }

  &:focus:not(:disabled) {
    background-color: var(--#{$theme}-background-color--focus);
    border-color: var(--#{$theme}-border-color--focus);
    color: var(--#{$theme}-color--focus);
    box-shadow: var(--#{$theme}-focus-ring-box-shadow);
  }

  &:active:not(:disabled) {
    background-color: var(--#{$theme}-background-color--active);
    border-color: var(--#{$theme}-border-color--active);
    color: var(--#{$theme}-color--active);
  }
}

@mixin outline-button($theme) {
  background-color: var(--#{$theme}-outline-background-color);
  border-color: var(--#{$theme}-outline-border-color);
  color: var(--#{$theme}-outline-color);

  &:hover:not(:disabled) {
    background-color: var(--#{$theme}-outline-background-color--hover);
    border-color: var(--#{$theme}-outline-border-color--hover);
    color: var(--#{$theme}-outline-color--hover);
  }

  &:focus:not(:disabled) {
    background-color: var(--#{$theme}-outline-background-color--focus);
    border-color: var(--#{$theme}-outline-border-color--focus);
    color: var(--#{$theme}-outline-color--focus);
    box-shadow: var(--#{$theme}-focus-ring-box-shadow);
  }

  &:active:not(:disabled) {
    background-color: var(--#{$theme}-outline-background-color--active);
    border-color: var(--#{$theme}-outline-border-color--active);
    color: var(--#{$theme}-outline-color--active);
  }
}
