@mixin solid-button($theme-color) {
  background-color: var(--color-#{$theme-color}-50);
  border-color: var(--color-#{$theme-color}-50);
  color: white;

  &:hover:not(:disabled) {
    background-color: var(--color-#{$theme-color}-55);
    border-color: var(--color-#{$theme-color}-55);
    color: white;
  }

  &:focus:not(:disabled) {
    background-color: var(--color-#{$theme-color}-55);
    border-color: var(--color-#{$theme-color}-55);
    color: white;
    box-shadow: 0 0 0 var(--focus-ring-width)
      hsla(var(--color-#{$theme-color}-hue), var(--color-#{$theme-color}-saturation), 50%, var(--focus-ring-alpha));
  }

  &:active:not(:disabled) {
    background-color: var(--color-#{$theme-color}-45);
    border-color: var(--color-#{$theme-color}-45);
    color: white;
  }
}

@mixin outline-button($theme-color) {
  background-color: var(--color-#{$theme-color}-90);
  border-color: var(--color-#{$theme-color}-80);
  color: var(--color-#{$theme-color}-50);

  &:hover:not(:disabled) {
    background-color: var(--color-#{$theme-color}-50);
    border-color: var(--color-#{$theme-color}-50);
    color: white;
  }

  &:focus:not(:disabled) {
    background-color: var(--color-#{$theme-color}-50);
    border-color: var(--color-#{$theme-color}-50);
    color: white;
    box-shadow: 0 0 0 var(--focus-ring-width)
      hsla(var(--color-#{$theme-color}-hue), var(--color-#{$theme-color}-saturation), 50%, var(--focus-ring-alpha));
  }

  &:active:not(:disabled) {
    background-color: var(--color-#{$theme-color}-45);
    border-color: var(--color-#{$theme-color}-45);
    color: white;
  }
}
