@import 'reset';
@import 'button.mixins.scss';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Base styles
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

:host {
  // Base variables
  --border-radius--large: var(--sl-form-control-border-radius--large);
  --border-radius--medium: var(--sl-form-control-border-radius--medium);
  --border-radius--small: var(--sl-form-control-border-radius--small);
  --border-width: var(--sl-form-control-border-width);
  --focus-ring-alpha: var(--sl-focus-ring-alpha);
  --focus-ring-width: var(--sl-focus-ring-width);
  --font-family: var(--sl-form-control-font-sans-serif);
  --font-size--large: var(--sl-form-control-font-size--large);
  --font-size--medium: var(--sl-form-control-font-size--medium);
  --font-size--small: var(--sl-form-control-font-size--small);
  --font-weight: var(--sl-font-weight--normal);
  --height--large: var(--sl-form-control-height--large);
  --height--medium: var(--sl-form-control-height--medium);
  --height--small: var(--sl-form-control-height--small);
  --padding-x--large: 24px;
  --padding-x--medium: 20px;
  --padding-x--small: 16px;
  --spinner-animation: 1s linear infinite spin;
  --spinner-border-width: 1px;
  --transition-speed: var(--sl-form-control-transition-speed);

  // Default buttons
  --default-background-color--active: var(--sl-color-primary-95);
  --default-background-color--focus: var(--sl-color-primary-95);
  --default-background-color--hover: var(--sl-color-primary-95);
  --default-background-color: var(--sl-color-white);
  --default-border-color--active: var(--sl-color-primary-50);
  --default-border-color--focus: var(--sl-color-primary-70);
  --default-border-color--hover: var(--sl-color-primary-80);
  --default-border-color: var(--sl-color-gray-85);
  --default-color--active: var(--sl-color-primary-40);
  --default-color--focus: var(--sl-color-primary-50);
  --default-color--hover: var(--sl-color-primary-50);
  --default-color: var(--sl-color-gray-50);
  --default-focus-ring-box-shadow: 0 0 0 var(--sl-focus-ring-width)
    hsla(var(--sl-color-primary-hue), var(--sl-color-primary-saturation), 50%, var(--sl-focus-ring-alpha));

  // Primary buttons
  --primary-background-color--active: var(--sl-color-primary-45);
  --primary-background-color--focus: var(--sl-color-primary-55);
  --primary-background-color--hover: var(--sl-color-primary-55);
  --primary-background-color: var(--sl-color-primary-50);
  --primary-border-color--active: var(--sl-color-primary-45);
  --primary-border-color--focus: var(--sl-color-primary-55);
  --primary-border-color--hover: var(--sl-color-primary-55);
  --primary-border-color: var(--sl-color-primary-50);
  --primary-color--active: var(--sl-color-primary-text);
  --primary-color--focus: var(--sl-color-primary-text);
  --primary-color--hover: var(--sl-color-primary-text);
  --primary-color: var(--sl-color-primary-text);
  --primary-focus-ring-box-shadow: 0 0 0 var(--sl-focus-ring-width)
    hsla(var(--sl-color-primary-hue), var(--sl-color-primary-saturation), 50%, var(--sl-focus-ring-alpha));

  // Success buttons
  --success-background-color--active: var(--sl-color-success-45);
  --success-background-color--focus: var(--sl-color-success-55);
  --success-background-color--hover: var(--sl-color-success-55);
  --success-background-color: var(--sl-color-success-50);
  --success-border-color--active: var(--sl-color-success-45);
  --success-border-color--focus: var(--sl-color-success-55);
  --success-border-color--hover: var(--sl-color-success-55);
  --success-border-color: var(--sl-color-success-50);
  --success-color--active: var(--sl-color-success-text);
  --success-color--focus: var(--sl-color-success-text);
  --success-color--hover: var(--sl-color-success-text);
  --success-color: var(--sl-color-success-text);
  --success-focus-ring-box-shadow: 0 0 0 var(--sl-focus-ring-width)
    hsla(var(--sl-color-success-hue), var(--sl-color-success-saturation), 50%, var(--sl-focus-ring-alpha));

  // Info buttons
  --info-background-color--active: var(--sl-color-info-45);
  --info-background-color--focus: var(--sl-color-info-55);
  --info-background-color--hover: var(--sl-color-info-55);
  --info-background-color: var(--sl-color-info-50);
  --info-border-color--active: var(--sl-color-info-45);
  --info-border-color--focus: var(--sl-color-info-55);
  --info-border-color--hover: var(--sl-color-info-55);
  --info-border-color: var(--sl-color-info-50);
  --info-color--active: var(--sl-color-info-text);
  --info-color--focus: var(--sl-color-info-text);
  --info-color--hover: var(--sl-color-info-text);
  --info-color: var(--sl-color-info-text);
  --info-focus-ring-box-shadow: 0 0 0 var(--sl-focus-ring-width)
    hsla(var(--sl-color-info-hue), var(--sl-color-info-saturation), 50%, var(--sl-focus-ring-alpha));

  // Warning buttons
  --warning-background-color--active: var(--sl-color-warning-45);
  --warning-background-color--focus: var(--sl-color-warning-55);
  --warning-background-color--hover: var(--sl-color-warning-55);
  --warning-background-color: var(--sl-color-warning-50);
  --warning-border-color--active: var(--sl-color-warning-45);
  --warning-border-color--focus: var(--sl-color-warning-55);
  --warning-border-color--hover: var(--sl-color-warning-55);
  --warning-border-color: var(--sl-color-warning-50);
  --warning-color--active: var(--sl-color-warning-text);
  --warning-color--focus: var(--sl-color-warning-text);
  --warning-color--hover: var(--sl-color-warning-text);
  --warning-color: var(--sl-color-warning-text);
  --warning-focus-ring-box-shadow: 0 0 0 var(--sl-focus-ring-width)
    hsla(var(--sl-color-warning-hue), var(--sl-color-warning-saturation), 50%, var(--sl-focus-ring-alpha));

  // Danger buttons
  --danger-background-color--active: var(--sl-color-danger-45);
  --danger-background-color--focus: var(--sl-color-danger-55);
  --danger-background-color--hover: var(--sl-color-danger-55);
  --danger-background-color: var(--sl-color-danger-50);
  --danger-border-color--active: var(--sl-color-danger-45);
  --danger-border-color--focus: var(--sl-color-danger-55);
  --danger-border-color--hover: var(--sl-color-danger-55);
  --danger-border-color: var(--sl-color-danger-50);
  --danger-color--active: var(--sl-color-danger-text);
  --danger-color--focus: var(--sl-color-danger-text);
  --danger-color--hover: var(--sl-color-danger-text);
  --danger-color: var(--sl-color-danger-text);
  --danger-focus-ring-box-shadow: 0 0 0 var(--sl-focus-ring-width)
    hsla(var(--sl-color-danger-hue), var(--sl-color-danger-saturation), 50%, var(--sl-focus-ring-alpha));

  // Default outline buttons
  --default-outline-background-color--active: var(--sl-color-white);
  --default-outline-background-color--focus: var(--sl-color-white);
  --default-outline-background-color--hover: var(--sl-color-white);
  --default-outline-background-color: var(--sl-color-white);
  --default-outline-border-color--active: var(--sl-color-primary-45);
  --default-outline-border-color--focus: var(--sl-color-primary-60);
  --default-outline-border-color--hover: var(--sl-color-primary-60);
  --default-outline-border-color: var(--sl-color-gray-85);
  --default-outline-color--active: var(--sl-color-primary-40);
  --default-outline-color--focus: var(--sl-color-primary-50);
  --default-outline-color--hover: var(--sl-color-primary-50);
  --default-outline-color: var(--sl-color-gray-50);
  --default-focus-ring-box-shadow: 0 0 0 var(--sl-focus-ring-width)
    hsla(var(--sl-color-primary-hue), var(--sl-color-primary-saturation), 50%, var(--sl-focus-ring-alpha));

  // Primary outline buttons
  --primary-outline-background-color--active: var(--sl-color-primary-45);
  --primary-outline-background-color--focus: var(--sl-color-primary-50);
  --primary-outline-background-color--hover: var(--sl-color-primary-50);
  --primary-outline-background-color: var(--sl-color-primary-95);
  --primary-outline-border-color--active: var(--sl-color-primary-45);
  --primary-outline-border-color--focus: var(--sl-color-primary-50);
  --primary-outline-border-color--hover: var(--sl-color-primary-50);
  --primary-outline-border-color: var(--sl-color-primary-80);
  --primary-outline-color--active: var(--sl-color-primary-text);
  --primary-outline-color--focus: var(--sl-color-primary-text);
  --primary-outline-color--hover: var(--sl-color-primary-text);
  --primary-outline-color: var(--sl-color-primary-50);
  --primary-focus-ring-box-shadow: 0 0 0 var(--sl-focus-ring-width)
    hsla(var(--sl-color-primary-hue), var(--sl-color-primary-saturation), 50%, var(--sl-focus-ring-alpha));

  // Success outline buttons
  --success-outline-background-color--active: var(--sl-color-success-45);
  --success-outline-background-color--focus: var(--sl-color-success-50);
  --success-outline-background-color--hover: var(--sl-color-success-50);
  --success-outline-background-color: var(--sl-color-success-95);
  --success-outline-border-color--active: var(--sl-color-success-45);
  --success-outline-border-color--focus: var(--sl-color-success-50);
  --success-outline-border-color--hover: var(--sl-color-success-50);
  --success-outline-border-color: var(--sl-color-success-80);
  --success-outline-color--active: var(--sl-color-success-text);
  --success-outline-color--focus: var(--sl-color-success-text);
  --success-outline-color--hover: var(--sl-color-success-text);
  --success-outline-color: var(--sl-color-success-50);
  --success-focus-ring-box-shadow: 0 0 0 var(--sl-focus-ring-width)
    hsla(var(--sl-color-success-hue), var(--sl-color-success-saturation), 50%, var(--sl-focus-ring-alpha));

  // Info outline buttons
  --info-outline-background-color--active: var(--sl-color-info-45);
  --info-outline-background-color--focus: var(--sl-color-info-50);
  --info-outline-background-color--hover: var(--sl-color-info-50);
  --info-outline-background-color: var(--sl-color-info-95);
  --info-outline-border-color--active: var(--sl-color-info-45);
  --info-outline-border-color--focus: var(--sl-color-info-50);
  --info-outline-border-color--hover: var(--sl-color-info-50);
  --info-outline-border-color: var(--sl-color-info-80);
  --info-outline-color--active: var(--sl-color-info-text);
  --info-outline-color--focus: var(--sl-color-info-text);
  --info-outline-color--hover: var(--sl-color-info-text);
  --info-outline-color: var(--sl-color-info-50);
  --info-focus-ring-box-shadow: 0 0 0 var(--sl-focus-ring-width)
    hsla(var(--sl-color-info-hue), var(--sl-color-info-saturation), 50%, var(--sl-focus-ring-alpha));

  // Warning outline buttons
  --warning-outline-background-color--active: var(--sl-color-warning-45);
  --warning-outline-background-color--focus: var(--sl-color-warning-50);
  --warning-outline-background-color--hover: var(--sl-color-warning-50);
  --warning-outline-background-color: var(--sl-color-warning-95);
  --warning-outline-border-color--active: var(--sl-color-warning-45);
  --warning-outline-border-color--focus: var(--sl-color-warning-50);
  --warning-outline-border-color--hover: var(--sl-color-warning-50);
  --warning-outline-border-color: var(--sl-color-warning-80);
  --warning-outline-color--active: var(--sl-color-warning-text);
  --warning-outline-color--focus: var(--sl-color-warning-text);
  --warning-outline-color--hover: var(--sl-color-warning-text);
  --warning-outline-color: var(--sl-color-warning-50);
  --warning-focus-ring-box-shadow: 0 0 0 var(--sl-focus-ring-width)
    hsla(var(--sl-color-warning-hue), var(--sl-color-warning-saturation), 50%, var(--sl-focus-ring-alpha));

  // Danger outline buttons
  --danger-outline-background-color--active: var(--sl-color-danger-45);
  --danger-outline-background-color--focus: var(--sl-color-danger-50);
  --danger-outline-background-color--hover: var(--sl-color-danger-50);
  --danger-outline-background-color: var(--sl-color-danger-95);
  --danger-outline-border-color--active: var(--sl-color-danger-45);
  --danger-outline-border-color--focus: var(--sl-color-danger-50);
  --danger-outline-border-color--hover: var(--sl-color-danger-50);
  --danger-outline-border-color: var(--sl-color-danger-80);
  --danger-outline-color--active: var(--sl-color-danger-text);
  --danger-outline-color--focus: var(--sl-color-danger-text);
  --danger-outline-color--hover: var(--sl-color-danger-text);
  --danger-outline-color: var(--sl-color-danger-50);
  --danger-focus-ring-box-shadow: 0 0 0 var(--sl-focus-ring-width)
    hsla(var(--sl-color-danger-hue), var(--sl-color-danger-saturation), 50%, var(--sl-focus-ring-alpha));

  // Text buttons
  --text-color--active: var(--sl-color-primary-40);
  --text-color--focus: var(--sl-color-primary-60);
  --text-color--hover: var(--sl-color-primary-60);
  --text-color: var(--sl-color-primary-50);
  --text-focus-ring-box-shadow: 0 0 0 var(--sl-focus-ring-width)
    hsla(var(--sl-color-primary-hue), var(--sl-color-primary-saturation), 50%, var(--sl-focus-ring-alpha));

  display: inline-block;
}

.sl-button {
  display: flex;
  align-items: stretch;
  justify-content: center;
  border-style: solid;
  border-width: var(--border-width);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  transition: var(--transition-speed) background-color, var(--transition-speed) color, var(--transition-speed) border;
  cursor: pointer;

  &::-moz-focus-inner {
    border: 0;
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .sl-button__prefix,
  .sl-button__suffix {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
  }

  .sl-button__prefix ::slotted(:first-child) {
    margin-left: -0.5em;
    margin-right: 0.5em;
  }

  .sl-button__suffix ::slotted(:last-child) {
    margin-left: 0.5em;
    margin-right: -0.5em;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Solid buttons
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sl-button:not(.sl-button--outline) {
  &.sl-button--default {
    @include solid-button('default');
  }

  &.sl-button--primary {
    @include solid-button('primary');
  }

  &.sl-button--success {
    @include solid-button('success');
  }

  &.sl-button--info {
    @include solid-button('info');
  }

  &.sl-button--warning {
    @include solid-button('warning');
  }

  &.sl-button--danger {
    @include solid-button('danger');
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Outline buttons
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sl-button.sl-button--outline {
  &.sl-button--default {
    @include outline-button('default');
  }

  &.sl-button--primary {
    @include outline-button('primary');
  }

  &.sl-button--success {
    @include outline-button('success');
  }

  &.sl-button--info {
    @include outline-button('info');
  }

  &.sl-button--warning {
    @include outline-button('warning');
  }

  &.sl-button--danger {
    @include outline-button('danger');
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Text buttons
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sl-button--text {
  background-color: transparent;
  border-color: transparent;
  color: var(--text-color);

  &:hover:not(:disabled) {
    background-color: transparent;
    border-color: transparent;
    color: var(--text-color--hover);
  }

  &:focus:not(:disabled) {
    background-color: transparent;
    border-color: transparent;
    color: var(--text-color--focus);
    box-shadow: var(--text-focus-ring-box-shadow);
  }

  &:active:not(:disabled) {
    background-color: transparent;
    border-color: transparent;
    color: var(--text-color--active);
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Block modifier
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sl-button--block {
  width: 100%;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Size modifiers
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sl-button--small {
  font-size: var(--font-size--small);
  height: var(--height--small);
  line-height: calc(var(--height--small) - var(--border-width) * 2);
  border-radius: var(--border-radius--small);
  padding: 0 var(--padding-x--small);
}

.sl-button--medium {
  font-size: var(--font-size--medium);
  height: var(--height--medium);
  line-height: calc(var(--height--medium) - var(--border-width) * 2);
  border-radius: var(--border-radius--medium);
  padding: 0 var(--padding-x--medium);
}

.sl-button--large {
  font-size: var(--font-size--large);
  height: var(--height--large);
  line-height: calc(var(--height--large) - var(--border-width) * 2);
  border-radius: var(--border-radius--large);
  padding: 0 var(--padding-x--large);
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Round modifier
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sl-button--round {
  &.sl-button--small {
    border-radius: var(--height--small);
  }

  &.sl-button--medium {
    border-radius: var(--height--medium);
  }

  &.sl-button--large {
    border-radius: var(--height--large);
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Circle modifier
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sl-button--circle {
  padding-left: 0;
  padding-right: 0;

  .sl-button__label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.sl-button--small {
    width: var(--height--small);
    border-radius: 50%;
  }

  &.sl-button--medium {
    width: var(--height--medium);
    border-radius: 50%;
  }

  &.sl-button--large {
    width: var(--height--large);
    border-radius: 50%;
  }

  .sl-button__prefix,
  .sl-button__suffix,
  .sl-button__caret {
    display: none;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Caret modifier
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sl-button--caret {
  .sl-button__suffix {
    display: none;
  }

  .sl-button__caret {
    position: relative;
    margin-left: 0.75em;
    margin-right: 0;

    svg {
      position: absolute;
      top: calc(50% - 0.5em);
      left: calc(50% - 0.5em);
      width: 1em;
      height: 1em;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Loading modifier
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sl-button--loading {
  position: relative;
  pointer-events: none;

  .sl-button__prefix,
  .sl-button__label,
  .sl-button__suffix,
  .sl-button__caret {
    visibility: hidden;
  }

  .sl-button__spinner {
    position: absolute;
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    width: 1em;
    height: 1em;
    border: solid var(--spinner-border-width) currentColor;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: var(--spinner-animation);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
