@use '../../styles/component';
@use '../../styles/mixins/hide';

:host {
  display: block;
}

.radio-group {
  border: solid var(--sl-input-border-width) var(--sl-input-border-color);
  border-radius: var(--sl-border-radius-medium);
  padding: var(--sl-spacing-large);
  padding-top: var(--sl-spacing-x-small);

  .radio-group__label {
    font-family: var(--sl-input-font-family);
    font-size: var(--sl-input-font-size-medium);
    font-weight: var(--sl-input-font-weight);
    color: var(--sl-input-color);
    padding: 0 var(--sl-spacing-xx-small);
  }
}

::slotted(sl-radio:not(:last-of-type)) {
  display: block;
  margin-bottom: var(--sl-spacing-xx-small);
}

.radio-group--no-fieldset {
  border: none;
  padding: 0;
  margin: 0;
  min-width: 0;

  .radio-group__label {
    @include hide.visually-hidden;
  }
}
