@import 'component';

:host {
  display: inline-block;

  --grid-width: 260px;
  --grid-height: 200px;
  --grid-handle-size: 14px;
  --slider-height: 10px;
  --slider-handle-size: 14px;
}

.sl-color-picker__menu {
  // position: absolute;
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-normal);
  color: var(--color);
  background-color: var(--sl-color-white);
  border: solid 1px var(--sl-color-gray-90);
  border-radius: var(--sl-border-radius-medium);
  box-shadow: var(--sl-shadow-large);
  // opacity: 0;
  transition: var(--sl-transition-fast) opacity;
  user-select: none;

  // &[hidden] {
  //   display: none;
  // }
}

.sl-color-picker--open .sl-color-picker__menu {
  opacity: 1;
}

.sl-color-picker__grid {
  position: relative;
  width: var(--grid-width);
  height: var(--grid-height);
  background-image: linear-gradient(
      to bottom,
      hsl(0, 0%, 100%) 0%,
      hsla(0, 0%, 100%, 0) 50%,
      hsla(0, 0%, 0%, 0) 50%,
      hsl(0, 0%, 0%) 100%
    ),
    linear-gradient(to right, hsl(0, 0%, 50%) 0%, hsla(0, 0%, 50%, 0) 100%);
  border-top-left-radius: var(--sl-border-radius-medium);
  border-top-right-radius: var(--sl-border-radius-medium);
  cursor: crosshair;
}

.sl-color-picker__grid-handle {
  position: absolute;
  width: var(--grid-handle-size);
  height: var(--grid-handle-size);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25), inset 0 0 0 1px rgba(0, 0, 0, 0.25);
  border: solid 2px white;
  margin-top: calc(var(--grid-handle-size) / -2);
  margin-left: calc(var(--grid-handle-size) / -2);
  transition: var(--sl-transition-fast) box-shadow, var(--sl-transition-x-fast) top ease,
    var(--sl-transition-x-fast) left ease;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px hsl(var(--sl-color-primary-hue), var(--sl-color-primary-saturation), 50%),
      inset 0 0 0 1px hsl(var(--sl-color-primary-hue), var(--sl-color-primary-saturation), 50%),
      var(--sl-focus-ring-box-shadow);
  }
}

.sl-color-picker__controls {
  padding: var(--sl-spacing-small);
  display: flex;
  align-items: center;
}

.sl-color-picker__sliders {
  flex: 1 1 auto;
}

.sl-color-picker__slider {
  position: relative;
  height: var(--slider-height);
  border-radius: var(--sl-border-radius-pill);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);

  &:not(:last-of-type) {
    margin-bottom: var(--sl-spacing-small);
  }
}

.sl-color-picker__slider-handle {
  position: absolute;
  top: calc(50% - var(--slider-handle-size) / 2);
  width: var(--slider-handle-size);
  height: var(--slider-handle-size);
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  margin-left: calc(var(--slider-handle-size) / -2);
  transition: var(--sl-transition-fast) box-shadow, var(--sl-transition-x-fast) top ease,
    var(--sl-transition-x-fast) left ease;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px hsl(var(--sl-color-primary-hue), var(--sl-color-primary-saturation), 50%),
      var(--sl-focus-ring-box-shadow);
  }
}

.sl-color-picker__hue {
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 0) 0%,
    rgb(255, 255, 0) 17%,
    rgb(0, 255, 0) 33%,
    rgb(0, 255, 255) 50%,
    rgb(0, 0, 255) 67%,
    rgb(255, 0, 255) 83%,
    rgb(255, 0, 0) 100%
  );
}

.sl-color-picker__alpha {
  .sl-color-picker__alpha-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
}

.sl-color-picker__preview {
  flex: 0 0 auto;
  position: relative;
  width: var(--sl-input-height-small);
  height: var(--sl-input-height-small);
  border-radius: 50%;
  margin-left: var(--sl-spacing-medium);
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: currentColor;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  }
}

.sl-color-picker__copy {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--sl-input-font-size-medium);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: inherit;
  opacity: 0;
  transition: var(--sl-transition-fast) all;

  &:active {
    opacity: 1;
  }

  sl-icon {
    color: var(--sl-color-white);
  }
}

.sl-color-picker__preview-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: solid 1px rgba(0, 0, 0, 0.125);
}

.sl-color-picker__user-input {
  padding: 0 var(--sl-spacing-small) var(--sl-spacing-small) var(--sl-spacing-small);
}

.sl-color-picker__swatches {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 6px;
  justify-items: center;
  border-top: solid 1px var(--sl-color-gray-90);
  padding: var(--sl-spacing-small);
}

.sl-color-picker__swatch {
  flex: 0 0 auto;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 2px;

  .sl-color-picker__swatch-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 1px rgba(0, 0, 0, 0.125);
    border-radius: inherit;
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: var(--sl-focus-ring-box-shadow);
  }
}

.sl-color-picker__transparent-bg {
  background-image: linear-gradient(45deg, #eee 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #eee 75%),
    linear-gradient(45deg, transparent 75%, #eee 75%), linear-gradient(45deg, #eee 25%, transparent 25%);
  background-size: 10px 10px;
  background-position: 0 0, 0 0, -5px -5px, 5px 5px;
}
