@import 'reset';
@import 'variables';

$textarea-font-family: $form-control-font-family !default;
$textarea-font-weight: $form-control-font-weight !default;
$textarea-font-size--small: $form-control-font-size--small !default;
$textarea-font-size--medium: $form-control-font-size--medium !default;
$textarea-font-size--large: $form-control-font-size--large !default;

$textarea-background-color: $color-white !default;
$textarea-color: $form-control-color !default;

$textarea-border-radius--small: 4px !default;
$textarea-border-radius--medium: 4px !default;
$textarea-border-radius--large: 4px !default;

$textarea-padding-x--small: 14px !default;
$textarea-padding-x--medium: 14px !default;
$textarea-padding-x--large: 14px !default;

$textarea-placeholder-color: $color-gray-70 !default;
$textarea-transition-speed: 100ms !default;

:host {
  display: block;
}

.sl-textarea {
  display: flex;
  align-items: center;
  position: relative;
  font-family: $textarea-font-family;
  font-weight: $textarea-font-weight;
  color: $textarea-color;
  background-color: $textarea-background-color;
  border: solid 1px $form-control-border-color;
  vertical-align: middle;
  transition: $textarea-transition-speed color, $textarea-transition-speed border;

  .sl-textarea__control {
    flex: 1 1 auto;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: 1.4;
    color: inherit;
    border: none;
    background: none;
    -webkit-appearance: none;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }

    &::placeholder {
      color: $textarea-placeholder-color;
      user-select: none;
    }

    &:focus {
      outline: none;
    }
  }

  &:hover:not(.sl-textarea--disabled) {
    color: $textarea-color;
    border-color: shade($form-control-border-color, 10%);
  }

  &.sl-textarea--focused:not(.sl-textarea--disabled) {
    color: $textarea-color;
    border-color: $color-primary;
  }

  &.sl-textarea--disabled {
    color: $textarea-color;
    background-color: shade($textarea-background-color, 5%);
    border-color: $form-control-border-color;
    opacity: 0.5;

    .sl-textarea__control {
      cursor: not-allowed;
    }
  }
}

// Size modifiers
.sl-textarea--small {
  border-radius: $textarea-border-radius--small;
  font-size: $textarea-font-size--small;

  .sl-textarea__control {
    padding: 0.5em $textarea-padding-x--small;
  }
}

.sl-textarea--medium {
  border-radius: $textarea-border-radius--medium;
  font-size: $textarea-font-size--medium;

  .sl-textarea__control {
    padding: 0.5em $textarea-padding-x--medium;
  }
}

.sl-textarea--large {
  border-radius: $textarea-border-radius--large;
  font-size: $textarea-font-size--large;

  .sl-textarea__control {
    padding: 0.5em $textarea-padding-x--large;
  }
}

// Resize
.sl-textarea--resize-none .sl-textarea__control {
  resize: none;
}

.sl-textarea--resize-vertical .sl-textarea__control {
  resize: vertical;
}

.sl-textarea--resize-auto .sl-textarea__control {
  height: auto;
  resize: none;
}
