@import 'component';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Base styles
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

:host {
  display: block;
}

.sh-textarea {
  display: flex;
  align-items: center;
  position: relative;
  font-family: var(--sh-form-control-font-family);
  font-weight: var(--sh-form-control-font-weight);
  background-color: var(--sh-form-control-background-color);
  border: solid var(--sh-form-control-border-width) var(--sh-form-control-border-color);
  vertical-align: middle;
  transition: var(--sh-form-control-transition-speed) color, var(--sh-form-control-transition-speed) border,
    var(--sh-form-control-transition-speed) box-shadow;

  .sh-textarea__control {
    flex: 1 1 auto;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: 1.4;
    color: var(--sh-form-control-color);
    border: none;
    background: none;
    -webkit-appearance: none;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }

    &::placeholder {
      color: var(--sh-form-control-placeholder-color);
      user-select: none;
    }

    &:focus {
      outline: none;
    }
  }

  &:hover:not(.sh-textarea--disabled) {
    background-color: var(--sh-form-control-background-color--hover);
    border-color: var(--sh-form-control-border-color--hover);
    color: var(--sh-form-control-color--hover);

    .sh-textarea__control {
      &::placeholder {
        color: var(--sh-form-control-placeholder-color--hover);
      }
    }
  }

  &.sh-textarea--focused:not(.sh-textarea--disabled) {
    background-color: var(--sh-form-control-background-color--focus);
    border-color: var(--sh-form-control-border-color--focus);
    box-shadow: var(--sh-focus-ring-box-shadow);
    color: var(--sh-form-control-color--focus);
  }

  &.sh-textarea--disabled {
    background-color: var(--sh-form-control-background-color--disabled);
    border-color: var(--sh-form-control-border-color--disabled);
    color: var(--sh-form-control-color--disabled);
    opacity: 0.5;

    .sh-textarea__control {
      cursor: not-allowed;

      &::placeholder {
        color: var(--sh-form-control-placeholder-color--disabled);
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Size modifiers
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sh-textarea--small {
  border-radius: var(--sh-form-control-border-radius--small);
  font-size: var(--sh-form-control-font-size--small);

  .sh-textarea__control {
    padding: 0.5em var(--sh-form-control-padding-x--small);
  }
}

.sh-textarea--medium {
  border-radius: var(--sh-form-control-border-radius--medium);
  font-size: var(--sh-form-control-font-size--medium);

  .sh-textarea__control {
    padding: 0.5em var(--sh-form-control-padding-x--medium);
  }
}

.sh-textarea--large {
  border-radius: var(--sh-form-control-border-radius--large);
  font-size: var(--sh-form-control-font-size--large);

  .sh-textarea__control {
    padding: 0.5em var(--sh-form-control-padding-x--large);
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Resize types
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sh-textarea--resize-none .sh-textarea__control {
  resize: none;
}

.sh-textarea--resize-vertical .sh-textarea__control {
  resize: vertical;
}

.sh-textarea--resize-auto .sh-textarea__control {
  height: auto;
  resize: none;
}
