@import 'component';

:host {
  display: block;
}

.responsive-embed {
  position: relative;

  ::slotted(embed),
  ::slotted(iframe),
  ::slotted(object) {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }
}
