@import 'component';

:host {
  --height: var(--sl-form-control-checkbox-size);
  --thumb-size: calc(var(--height) + 4px);
  --track-border-radius: var(--height);
  --width: calc(var(--height) * 2);

  display: inline-block;
}

.sl-switch {
  display: flex;
  align-items: center;
  font-family: var(--sl-form-control-font-family);
  font-size: var(--sl-form-control-font-size--medium);
  font-weight: var(--sl-form-control-font-weight);
  color: var(--form-control-color);
  vertical-align: middle;
  cursor: pointer;
}

.sl-switch__control {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width);
  height: var(--height);
  background-color: var(--sl-color-gray-80);
  border: solid var(--sl-form-control-border-width) var(--sl-color-gray-80);
  border-radius: var(--track-border-radius);
  transition: var(--sl-form-control-transition-speed) border-color,
    var(--sl-form-control-transition-speed) background-color;

  .sl-switch__thumb {
    width: var(--thumb-size);
    height: var(--thumb-size);
    background-color: var(--sl-color-white);
    border-radius: 50%;
    border: solid var(--sl-form-control-border-width) var(--sl-form-control-border-color);
    transform: translateX(calc(var(--width) / -2 + var(--thumb-size) / 2 - (var(--thumb-size) - var(--height)) / 2));
    transition: var(--sl-form-control-transition-speed) transform ease,
      var(--sl-form-control-transition-speed) background-color, var(--sl-form-control-transition-speed) border-color,
      var(--sl-form-control-transition-speed) box-shadow;
  }

  input[type='checkbox'] {
    position: absolute;
    opacity: 1;
    padding: 0;
    margin: 0;
    pointer-events: none;
    -webkit-appearance: none;
  }
}

// Hover
.sl-switch:not(.sl-switch--checked):not(.sl-switch--disabled) .sl-switch__control:hover {
  background-color: var(--sl-color-gray-90);
  border-color: var(--sl-color-gray-90);

  .sl-switch__thumb {
    background-color: var(--sl-color-white);
    border-color: var(--sl-form-control-border-color);
  }
}

// Focus
.sl-switch.sl-switch--focused:not(.sl-switch--checked):not(.sl-switch--disabled) .sl-switch__control {
  background-color: var(--sl-color-gray-90);
  border-color: var(--sl-color-gray-90);

  .sl-switch__thumb {
    background-color: var(--sl-color-white);
    border-color: var(--sl-form-control-border-color);
    box-shadow: var(--sl-focus-ring-box-shadow);
  }
}

// Checked
.sl-switch--checked .sl-switch__control {
  background-color: var(--sl-color-primary-50);
  border-color: var(--sl-color-primary-50);

  .sl-switch__thumb {
    background-color: var(--sl-color-white);
    border-color: var(--sl-color-primary-50);
    transform: translateX(calc(var(--width) / 2 - var(--thumb-size) / 2 + (var(--thumb-size) - var(--height)) / 2));
  }
}

// Checked + hover
.sl-switch.sl-switch--checked:not(.sl-switch--disabled) .sl-switch__control:hover {
  background-color: var(--sl-color-primary-60);
  border-color: var(--sl-color-primary-60);

  .sl-switch__thumb {
    background-color: var(--sl-color-white);
    border-color: var(--sl-color-primary-50);
  }
}

// Checked + focus
.sl-switch.sl-switch--checked:not(.sl-switch--disabled).sl-switch--focused .sl-switch__control {
  background-color: var(--sl-color-primary-60);
  border-color: var(--sl-color-primary-60);

  .sl-switch__thumb {
    background-color: var(--sl-color-white);
    border-color: var(--sl-color-primary-50);
    box-shadow: var(--sl-focus-ring-box-shadow);
  }
}

// Disabled
.sl-switch--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sl-switch__label {
  line-height: var(--height);
  margin-left: 0.5em;
  user-select: none;
}
