@import 'reset';
@import 'variables';

$switch-font-family: $form-control-font-family !default;
$switch-font-weight: $form-control-font-weight !default;
$switch-font-size: $form-control-font-size--medium !default;
$switch-color: $form-control-color !default;
$switch-height: 16px !default;
$switch-width: $switch-height * 2 !default;
$switch-border-radius: $switch-height !default;
$switch-border-width: 1px;
$switch-transition: 100ms border-color, 100ms background-color;

$switch-background-color: $form-control-border-color !default;
$switch-background-color--hover: tint($switch-background-color, 15%) !default;
$switch-background-color--focus: tint($switch-background-color, 15%) !default;
$switch-background-color--checked: $color-primary !default;
$switch-background-color--checked--hover: tint($switch-background-color--checked, 15%) !default;
$switch-background-color--checked--focus: tint($switch-background-color--checked, 15%) !default;

$switch-border-color: $form-control-border-color !default;
$switch-border-color--hover: tint($switch-border-color, 15%) !default;
$switch-border-color--focus: tint($switch-border-color, 15%) !default;
$switch-border-color--checked: $color-primary !default;
$switch-border-color--checked--hover: tint($switch-border-color--checked, 15%) !default;
$switch-border-color--checked--focus: tint($switch-border-color--checked, 15%) !default;

$switch-thumb-size: $switch-height + 4px !default;
$switch-thumb-border-radius: 50% !default;
$switch-thumb-border-width: 1px;
$switch-thumb-transition: 150ms transform ease, 150ms background-color ease, 150ms border-color, 100ms box-shadow !default;

$switch-thumb-background-color: $color-white !default;
$switch-thumb-background-color--hover: $switch-thumb-background-color !default;
$switch-thumb-background-color--focus: $switch-thumb-background-color !default;
$switch-thumb-background-color--checked: $color-white !default;
$switch-thumb-background-color--checked--hover: $switch-thumb-background-color--checked !default;
$switch-thumb-background-color--checked--focus: $switch-thumb-background-color--checked !default;

$switch-thumb-border-color: $form-control-border-color !default;
$switch-thumb-border-color--hover: tint($switch-thumb-border-color, 15%) !default;
$switch-thumb-border-color--focus: tint($switch-thumb-border-color, 15%) !default;
$switch-thumb-border-color--checked: $color-primary !default;
$switch-thumb-border-color--checked--hover: tint($switch-thumb-border-color--checked, 15%) !default;
$switch-thumb-border-color--checked--focus: tint($switch-thumb-border-color--checked, 15%) !default;

:host {
  display: inline-block;
}

.sl-switch {
  display: flex;
  align-items: center;
  font-family: $switch-font-family;
  font-size: $switch-font-size;
  font-weight: $switch-font-weight;
  color: $switch-color;
  vertical-align: middle;
  cursor: pointer;
}

.sl-switch__control {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $switch-width;
  height: $switch-height;
  border: solid $switch-border-width $switch-border-color;
  border-radius: $switch-border-radius;
  background-color: $switch-background-color;
  transition: $switch-transition;

  .sl-switch__thumb {
    width: $switch-thumb-size;
    height: $switch-thumb-size;
    background-color: $switch-thumb-background-color;
    border-radius: $switch-thumb-border-radius;
    border: solid $switch-thumb-border-width $form-control-border-color;
    transform: translateX($switch-width / -2 + $switch-thumb-size / 2 - ($switch-thumb-size - $switch-height) / 2);
    transition: $switch-thumb-transition;
  }

  input[type='checkbox'] {
    position: absolute;
    opacity: 1;
    padding: 0;
    margin: 0;
    pointer-events: none;
    -webkit-appearance: none;
  }
}

// Hover
.sl-switch:not(.sl-switch--checked):not(.sl-switch--disabled) .sl-switch__control:hover {
  border-color: $switch-border-color--hover;
  background-color: $switch-background-color--hover;

  .sl-switch__thumb {
    border-color: $switch-thumb-border-color--hover;
    background-color: $switch-thumb-background-color--hover;
  }
}

// Focus
.sl-switch.sl-switch--focused:not(.sl-switch--checked):not(.sl-switch--disabled) .sl-switch__control {
  border-color: $switch-border-color--focus;
  background-color: $switch-background-color--focus;

  .sl-switch__thumb {
    border-color: $switch-thumb-border-color--focus;
    background-color: $switch-thumb-background-color--focus;
    box-shadow: 0 0 0 2px rgba($switch-thumb-border-color--focus, 0.33);
  }
}

// Checked
.sl-switch--checked .sl-switch__control {
  border-color: $switch-border-color--checked;
  background-color: $switch-background-color--checked;

  .sl-switch__thumb {
    border-color: $switch-thumb-border-color--checked;
    background-color: $switch-thumb-background-color--checked;
    transform: translateX($switch-width / 2 - $switch-thumb-size / 2 + ($switch-thumb-size - $switch-height) / 2);
  }
}

// Checked + hover
.sl-switch.sl-switch--checked:not(.sl-switch--disabled) .sl-switch__control:hover {
  border-color: $switch-border-color--checked--hover;
  background-color: $switch-background-color--checked--hover;

  .sl-switch__thumb {
    border-color: $switch-thumb-border-color--checked--hover;
    background-color: $switch-thumb-background-color--checked--hover;
  }
}

// Checked + focus
.sl-switch.sl-switch--checked:not(.sl-switch--disabled).sl-switch--focused .sl-switch__control {
  border-color: $switch-border-color--checked--focus;
  background-color: $switch-background-color--checked--focus;

  .sl-switch__thumb {
    border-color: $switch-thumb-border-color--checked--focus;
    background-color: $switch-thumb-background-color--checked--focus;
    box-shadow: 0 0 0 2px rgba($switch-thumb-border-color--checked--focus, 0.33);
  }
}

// Disabled
.sl-switch--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sl-switch__label {
  margin-left: 0.5em;
  user-select: none;
}
