@import 'reset';

:host {
  --color: var(--form-control-color);
  --focus-ring-box-shadow: var(--sl-focus-ring-box-shadow);
  --font-family: var(--sl-form-control-font-family);
  --font-size: var(--sl-form-control-font-size--medium);
  --font-weight: var(--sl-form-control-font-weight);
  --height: var(--sl-form-control-checkbox-size);
  --thumb-background-color--checked--focus: var(--sl-color-white);
  --thumb-background-color--checked--hover: var(--sl-color-white);
  --thumb-background-color--checked: var(--sl-color-white);
  --thumb-background-color--focus: var(--sl-color-white);
  --thumb-background-color--hover: var(--sl-color-white);
  --thumb-background-color: var(--sl-color-white);
  --thumb-border-color--checked--focus: var(--sl-color-primary-50);
  --thumb-border-color--checked--hover: var(--sl-color-primary-50);
  --thumb-border-color--checked: var(--sl-color-primary-50);
  --thumb-border-color--focus: var(--sl-form-control-border-color);
  --thumb-border-color--hover: var(--sl-form-control-border-color);
  --thumb-border-color: var(--sl-form-control-border-color);
  --thumb-border-radius: 50%;
  --thumb-border-width: var(--sl-form-control-border-width);
  --thumb-size: calc(var(--height) + 4px);
  --thumb-transition-speed: var(--sl-form-control-transition-speed);
  --track-background-color--checked--focus: var(--sl-color-primary-60);
  --track-background-color--checked--hover: var(--sl-color-primary-60);
  --track-background-color--checked: var(--sl-color-primary-50);
  --track-background-color--focus: var(--sl-color-gray-85);
  --track-background-color--hover: var(--sl-color-gray-85);
  --track-background-color: var(--sl-color-gray-80);
  --track-border-color--checked--focus: var(--sl-color-primary-60);
  --track-border-color--checked--hover: var(--sl-color-primary-60);
  --track-border-color--checked: var(--sl-color-primary-50);
  --track-border-color--focus: var(--sl-color-gray-85);
  --track-border-color--hover: var(--sl-color-gray-85);
  --track-border-color: var(--sl-color-gray-80);
  --track-border-radius: var(--height);
  --track-border-width: var(--sl-form-control-border-width);
  --transition-speed: var(--form-control-transition-speed);
  --width: calc(var(--height) * 2);

  display: inline-block;
}

.sl-switch {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--color);
  vertical-align: middle;
  cursor: pointer;
}

.sl-switch__control {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width);
  height: var(--height);
  background-color: var(--track-background-color);
  border: solid var(--track-border-width) var(--track-border-color);
  border-radius: var(--track-border-radius);
  transition: var(--transition-speed) border-color, var(--transition-speed) background-color;

  .sl-switch__thumb {
    width: var(--thumb-size);
    height: var(--thumb-size);
    background-color: var(--thumb-background-color);
    border-radius: var(--thumb-border-radius);
    border: solid var(--thumb-border-width) var(--thumb-border-color);
    transform: translateX(calc(var(--width) / -2 + var(--thumb-size) / 2 - (var(--thumb-size) - var(--height)) / 2));
    transition: var(--thumb-transition-speed) transform ease, var(--thumb-transition-speed) background-color,
      var(--thumb-transition-speed) border-color, var(--thumb-transition-speed) box-shadow;
  }

  input[type='checkbox'] {
    position: absolute;
    opacity: 1;
    padding: 0;
    margin: 0;
    pointer-events: none;
    -webkit-appearance: none;
  }
}

// Hover
.sl-switch:not(.sl-switch--checked):not(.sl-switch--disabled) .sl-switch__control:hover {
  background-color: var(--track-background-color--hover);
  border-color: var(--track-border-color--hover);

  .sl-switch__thumb {
    background-color: var(--thumb-background-color--hover);
    border-color: var(--thumb-border-color--hover);
  }
}

// Focus
.sl-switch.sl-switch--focused:not(.sl-switch--checked):not(.sl-switch--disabled) .sl-switch__control {
  background-color: var(--track-background-color--focus);
  border-color: var(--track-border-color--focus);

  .sl-switch__thumb {
    background-color: var(--thumb-background-color--focus);
    border-color: var(--thumb-border-color--focus);
    box-shadow: var(--focus-ring-box-shadow);
  }
}

// Checked
.sl-switch--checked .sl-switch__control {
  background-color: var(--track-background-color--checked);
  border-color: var(--track-border-color--checked);

  .sl-switch__thumb {
    background-color: var(--thumb-background-color--checked);
    border-color: var(--thumb-border-color--checked);
    transform: translateX(calc(var(--width) / 2 - var(--thumb-size) / 2 + (var(--thumb-size) - var(--height)) / 2));
  }
}

// Checked + hover
.sl-switch.sl-switch--checked:not(.sl-switch--disabled) .sl-switch__control:hover {
  background-color: var(--track-background-color--checked--hover);
  border-color: var(--track-border-color--checked--hover);

  .sl-switch__thumb {
    background-color: var(--thumb-background-color--checked--hover);
    border-color: var(--thumb-border-color--checked--hover);
  }
}

// Checked + focus
.sl-switch.sl-switch--checked:not(.sl-switch--disabled).sl-switch--focused .sl-switch__control {
  background-color: var(--track-background-color--checked--focus);
  border-color: var(--track-border-color--checked--focus);

  .sl-switch__thumb {
    background-color: var(--thumb-background-color--checked--focus);
    border-color: var(--thumb-border-color--checked--focus);
    box-shadow: var(--focus-ring-box-shadow);
  }
}

// Disabled
.sl-switch--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sl-switch__label {
  line-height: var(--height);
  margin-left: 0.5em;
  user-select: none;
}
