/**
 * Dark theme
 */
:host,
.sl-theme-dark {
  --sl-color-black: #fff;
  --sl-color-white: var(--sl-color-gray-50);

  /* Blue Gray */
  --sl-color-blue-gray-1000: #f8fafc;
  --sl-color-blue-gray-900: #f1f5f9;
  --sl-color-blue-gray-800: #e2e8f0;
  --sl-color-blue-gray-700: #cbd5e1;
  --sl-color-blue-gray-600: #94a3b8;
  --sl-color-blue-gray-500: #64748b;
  --sl-color-blue-gray-400: #475569;
  --sl-color-blue-gray-300: #334155;
  --sl-color-blue-gray-200: #1e293b;
  --sl-color-blue-gray-100: #0f172a;
  --sl-color-blue-gray-50: #0a101e;

  /* Cool Gray */
  --sl-color-cool-gray-1000: #f9fafb;
  --sl-color-cool-gray-900: #f3f4f6;
  --sl-color-cool-gray-800: #e5e7eb;
  --sl-color-cool-gray-700: #d1d5db;
  --sl-color-cool-gray-600: #9ca3af;
  --sl-color-cool-gray-500: #6b7280;
  --sl-color-cool-gray-400: #4b5563;
  --sl-color-cool-gray-300: #374151;
  --sl-color-cool-gray-200: #1f2937;
  --sl-color-cool-gray-100: #111827;
  --sl-color-cool-gray-50: #0c111d;

  /* Gray */
  --sl-color-gray-1000: #fafafa;
  --sl-color-gray-900: #f4f4f5;
  --sl-color-gray-800: #e4e4e7;
  --sl-color-gray-700: #d4d4d8;
  --sl-color-gray-600: #a1a1aa;
  --sl-color-gray-500: #71717a;
  --sl-color-gray-400: #52525b;
  --sl-color-gray-300: #3f3f46;
  --sl-color-gray-200: #27272a;
  --sl-color-gray-100: #18181b;
  --sl-color-gray-50: #131316;

  /* True Gray */
  --sl-color-true-gray-1000: #fafafa;
  --sl-color-true-gray-900: #f5f5f5;
  --sl-color-true-gray-800: #e5e5e5;
  --sl-color-true-gray-700: #d4d4d4;
  --sl-color-true-gray-600: #a3a3a3;
  --sl-color-true-gray-500: #737373;
  --sl-color-true-gray-400: #525252;
  --sl-color-true-gray-300: #404040;
  --sl-color-true-gray-200: #262626;
  --sl-color-true-gray-100: #171717;
  --sl-color-true-gray-50: #111111;

  /* Warm Gray */
  --sl-color-warm-gray-1000: #fafaf9;
  --sl-color-warm-gray-900: #f5f5f4;
  --sl-color-warm-gray-800: #e7e5e4;
  --sl-color-warm-gray-700: #d6d3d1;
  --sl-color-warm-gray-600: #a8a29e;
  --sl-color-warm-gray-500: #78716c;
  --sl-color-warm-gray-400: #57534e;
  --sl-color-warm-gray-300: #44403c;
  --sl-color-warm-gray-200: #292524;
  --sl-color-warm-gray-100: #1c1917;
  --sl-color-warm-gray-50: #131210;

  /* Red */
  --sl-color-red-1000: #fef2f2;
  --sl-color-red-900: #fee2e2;
  --sl-color-red-800: #fecaca;
  --sl-color-red-700: #fca5a5;
  --sl-color-red-600: #f87171;
  --sl-color-red-500: #ef4444;
  --sl-color-red-400: #dc2626;
  --sl-color-red-300: #b91c1c;
  --sl-color-red-200: #991b1b;
  --sl-color-red-100: #7f1d1d;
  --sl-color-red-50: #501414;

  /* Orange */
  --sl-color-orange-1000: #fff7ed;
  --sl-color-orange-900: #ffedd5;
  --sl-color-orange-800: #fed7aa;
  --sl-color-orange-700: #fdba74;
  --sl-color-orange-600: #fb923c;
  --sl-color-orange-500: #f97316;
  --sl-color-orange-400: #ea580c;
  --sl-color-orange-300: #c2410c;
  --sl-color-orange-200: #9a3412;
  --sl-color-orange-100: #7c2d12;
  --sl-color-orange-50: #52200f;

  /* Amber */
  --sl-color-amber-1000: #fffbeb;
  --sl-color-amber-900: #fef3c7;
  --sl-color-amber-800: #fde68a;
  --sl-color-amber-700: #fcd34d;
  --sl-color-amber-600: #fbbf24;
  --sl-color-amber-500: #f59e0b;
  --sl-color-amber-400: #d97706;
  --sl-color-amber-300: #b45309;
  --sl-color-amber-200: #92400e;
  --sl-color-amber-100: #78350f;
  --sl-color-amber-50: #4a230b;

  /* Yellow */
  --sl-color-yellow-1000: #fefce8;
  --sl-color-yellow-900: #fef9c3;
  --sl-color-yellow-800: #fef08a;
  --sl-color-yellow-700: #fde047;
  --sl-color-yellow-600: #facc15;
  --sl-color-yellow-500: #eab308;
  --sl-color-yellow-400: #ca8a04;
  --sl-color-yellow-300: #a16207;
  --sl-color-yellow-200: #854d0e;
  --sl-color-yellow-100: #713f12;
  --sl-color-yellow-50: #3c260b;

  /* Lime */
  --sl-color-lime-1000: #f7fee7;
  --sl-color-lime-900: #ecfccb;
  --sl-color-lime-800: #d9f99d;
  --sl-color-lime-700: #bef264;
  --sl-color-lime-600: #a3e635;
  --sl-color-lime-500: #84cc16;
  --sl-color-lime-400: #65a30d;
  --sl-color-lime-300: #4d7c0f;
  --sl-color-lime-200: #3f6212;
  --sl-color-lime-100: #365314;
  --sl-color-lime-50: #26390e;

  /* Green */
  --sl-color-green-1000: #f0fdf4;
  --sl-color-green-900: #dcfce7;
  --sl-color-green-800: #bbf7d0;
  --sl-color-green-700: #86efac;
  --sl-color-green-600: #4ade80;
  --sl-color-green-500: #22c55e;
  --sl-color-green-400: #16a34a;
  --sl-color-green-300: #15803d;
  --sl-color-green-200: #166534;
  --sl-color-green-100: #14532d;
  --sl-color-green-50: #0c311b;

  /* Emerald */
  --sl-color-emerald-1000: #ecfdf5;
  --sl-color-emerald-900: #d1fae5;
  --sl-color-emerald-800: #a7f3d0;
  --sl-color-emerald-700: #6ee7b7;
  --sl-color-emerald-600: #34d399;
  --sl-color-emerald-500: #10b981;
  --sl-color-emerald-400: #059669;
  --sl-color-emerald-300: #047857;
  --sl-color-emerald-200: #065f46;
  --sl-color-emerald-100: #064e3b;
  --sl-color-emerald-50: #032d22;

  /* Teal */
  --sl-color-teal-1000: #f0fdfa;
  --sl-color-teal-900: #ccfbf1;
  --sl-color-teal-800: #99f6e4;
  --sl-color-teal-700: #5eead4;
  --sl-color-teal-600: #2dd4bf;
  --sl-color-teal-500: #14b8a6;
  --sl-color-teal-400: #0d9488;
  --sl-color-teal-300: #0f766e;
  --sl-color-teal-200: #115e59;
  --sl-color-teal-100: #134e4a;
  --sl-color-teal-50: #0c2e2c;

  /* Cyan */
  --sl-color-cyan-1000: #ecfeff;
  --sl-color-cyan-900: #cffafe;
  --sl-color-cyan-800: #a5f3fc;
  --sl-color-cyan-700: #67e8f9;
  --sl-color-cyan-600: #22d3ee;
  --sl-color-cyan-500: #06b6d4;
  --sl-color-cyan-400: #0891b2;
  --sl-color-cyan-300: #0e7490;
  --sl-color-cyan-200: #155e75;
  --sl-color-cyan-100: #164e63;
  --sl-color-cyan-50: #103442;

  /* Sky */
  --sl-color-sky-1000: #f0f9ff;
  --sl-color-sky-900: #e0f2fe;
  --sl-color-sky-800: #bae6fd;
  --sl-color-sky-700: #7dd3fc;
  --sl-color-sky-600: #38bdf8;
  --sl-color-sky-500: #0ea5e9;
  --sl-color-sky-400: #0284c7;
  --sl-color-sky-300: #0369a1;
  --sl-color-sky-200: #075985;
  --sl-color-sky-100: #0c4a6e;
  --sl-color-sky-50: #0b3249;

  /* Blue */
  --sl-color-blue-1000: #eff6ff;
  --sl-color-blue-900: #dbeafe;
  --sl-color-blue-800: #bfdbfe;
  --sl-color-blue-700: #93c5fd;
  --sl-color-blue-600: #60a5fa;
  --sl-color-blue-500: #3b82f6;
  --sl-color-blue-400: #2563eb;
  --sl-color-blue-300: #1d4ed8;
  --sl-color-blue-200: #1e40af;
  --sl-color-blue-100: #1e3a8a;
  --sl-color-blue-50: #152149;

  /* Indigo */
  --sl-color-indigo-1000: #eef2ff;
  --sl-color-indigo-900: #e0e7ff;
  --sl-color-indigo-800: #c7d2fe;
  --sl-color-indigo-700: #a5b4fc;
  --sl-color-indigo-600: #818cf8;
  --sl-color-indigo-500: #6366f1;
  --sl-color-indigo-400: #4f46e5;
  --sl-color-indigo-300: #4338ca;
  --sl-color-indigo-200: #3730a3;
  --sl-color-indigo-100: #312e81;
  --sl-color-indigo-50: #242154;

  /* Violet */
  --sl-color-violet-1000: #f5f3ff;
  --sl-color-violet-900: #ede9fe;
  --sl-color-violet-800: #ddd6fe;
  --sl-color-violet-700: #c4b5fd;
  --sl-color-violet-600: #a78bfa;
  --sl-color-violet-500: #8b5cf6;
  --sl-color-violet-400: #7c3aed;
  --sl-color-violet-300: #6d28d9;
  --sl-color-violet-200: #5b21b6;
  --sl-color-violet-100: #4c1d95;
  --sl-color-violet-50: #311558;

  /* Purple */
  --sl-color-purple-1000: #faf5ff;
  --sl-color-purple-900: #f3e8ff;
  --sl-color-purple-800: #e9d5ff;
  --sl-color-purple-700: #d8b4fe;
  --sl-color-purple-600: #c084fc;
  --sl-color-purple-500: #a855f7;
  --sl-color-purple-400: #9333ea;
  --sl-color-purple-300: #7e22ce;
  --sl-color-purple-200: #6b21a8;
  --sl-color-purple-100: #581c87;
  --sl-color-purple-50: #2f1143;

  /* Fuchsia */
  --sl-color-fuchsia-1000: #fdf4ff;
  --sl-color-fuchsia-900: #fae8ff;
  --sl-color-fuchsia-800: #f5d0fe;
  --sl-color-fuchsia-700: #f0abfc;
  --sl-color-fuchsia-600: #e879f9;
  --sl-color-fuchsia-500: #d946ef;
  --sl-color-fuchsia-400: #c026d3;
  --sl-color-fuchsia-300: #a21caf;
  --sl-color-fuchsia-200: #86198f;
  --sl-color-fuchsia-100: #701a75;
  --sl-color-fuchsia-50: #38103a;

  /* Pink */
  --sl-color-pink-1000: #fdf2f8;
  --sl-color-pink-900: #fce7f3;
  --sl-color-pink-800: #fbcfe8;
  --sl-color-pink-700: #f9a8d4;
  --sl-color-pink-600: #f472b6;
  --sl-color-pink-500: #ec4899;
  --sl-color-pink-400: #db2777;
  --sl-color-pink-300: #be185d;
  --sl-color-pink-200: #9d174d;
  --sl-color-pink-100: #831843;
  --sl-color-pink-50: #430e23;

  /* Rose */
  --sl-color-rose-1000: #fff1f2;
  --sl-color-rose-900: #ffe4e6;
  --sl-color-rose-800: #fecdd3;
  --sl-color-rose-700: #fda4af;
  --sl-color-rose-600: #fb7185;
  --sl-color-rose-500: #f43f5e;
  --sl-color-rose-400: #e11d48;
  --sl-color-rose-300: #be123c;
  --sl-color-rose-200: #9f1239;
  --sl-color-rose-100: #881337;
  --sl-color-rose-50: #4a0d20;
}
