.help-text {
  color: var(--sl-input-help-text-color);

  &.help-text--small {
    font-size: var(--sl-input-help-text-font-size-small);
  }

  &.help-text--medium {
    font-size: var(--sl-input-help-text-font-size-medium);
  }

  &.help-text--large {
    font-size: var(--sl-input-help-text-font-size-large);
  }

  &.help-text--valid {
    color: var(--sl-input-help-text-color-valid);
  }

  &.help-text--invalid {
    color: var(--sl-input-help-text-color-invalid);
  }

  ::slotted(*) {
    margin-top: var(--sl-spacing-xxx-small);
  }
}
