/*! Shoelace */

@import 'normalize.css/normalize';
@import 'tippy.js/dist/tippy';
@import 'mixins/make-color-palette';

:root {
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Color
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  --sl-color-primary-hue: 203;
  --sl-color-primary-saturation: 100%;
  --sl-color-primary-text: var(--sl-color-white);

  --sl-color-success-hue: 110;
  --sl-color-success-saturation: 60%;
  --sl-color-success-text: var(--sl-color-white);

  --sl-color-info-hue: var(--sl-color-primary-hue);
  --sl-color-info-saturation: 10%;
  --sl-color-info-text: var(--sl-color-white);

  --sl-color-warning-hue: 36;
  --sl-color-warning-saturation: 90%;
  --sl-color-warning-text: var(--sl-color-white);

  --sl-color-danger-hue: 0;
  --sl-color-danger-saturation: 80%;
  --sl-color-danger-text: var(--sl-color-white);

  --sl-color-gray-hue: var(--sl-color-primary-hue);
  --sl-color-gray-saturation: 20%;
  --sl-color-gray-text: var(--sl-color-white);

  --sl-color-white: white;
  --sl-color-black: black;

  @include make-color-palette('primary');
  @include make-color-palette('success');
  @include make-color-palette('info');
  @include make-color-palette('warning');
  @include make-color-palette('danger');
  @include make-color-palette('gray');

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Border Radius
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  --sl-border-radius-small: 0.125rem; // 2px
  --sl-border-radius-medium: 0.25rem; // 4px
  --sl-border-radius-large: 0.5rem; // 8px
  --sl-border-radius-x-large: 1rem; // 16px

  --sl-border-radius-circle: 50%;
  --sl-border-radius-pill: 9999px;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Elevation
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  --sl-shadow-small: 0 1px 2px rgba(0, 0, 0, 0.1);
  --sl-shadow-medium: 0 2px 4px rgba(0, 0, 0, 0.1);
  --sl-shadow-large: 0 2px 8px rgba(0, 0, 0, 0.1);
  --sl-shadow-x-large: 0 4px 16px rgba(0, 0, 0, 0.1);

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Spacing
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  --sl-spacing-xxx-small: 0.125rem; // 2px
  --sl-spacing-xx-small: 0.25rem; // 4px
  --sl-spacing-x-small: 0.5rem; // 8px
  --sl-spacing-small: 0.75rem; // 12px
  --sl-spacing-medium: 1rem; // 16px
  --sl-spacing-large: 1.25rem; // 20px
  --sl-spacing-x-large: 1.75rem; // 28px
  --sl-spacing-xx-large: 2.25rem; // 36px
  --sl-spacing-xxx-large: 3rem; // 48px
  --sl-spacing-xxxx-large: 4.5rem; // 72px

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Transition
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  --sl-transition-x-slow: 1000ms;
  --sl-transition-slow: 500ms;
  --sl-transition-medium: 250ms;
  --sl-transition-fast: 150ms;
  --sl-transition-x-fast: 50ms;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Typography
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  // Fonts
  --sl-font-mono: Menlo, Monaco, 'Courier New', monospace;
  --sl-font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --sl-font-serif: Georgia, 'Times New Roman', serif;

  // Font sizes
  --sl-font-size-x-small: 0.75rem; // 12px
  --sl-font-size-small: 0.875rem; // 14px
  --sl-font-size-medium: 1rem; // 16px
  --sl-font-size-large: 1.25rem; // 20px
  --sl-font-size-x-large: 1.5rem; // 24px
  --sl-font-size-xx-large: 2.25rem; // 36px
  --sl-font-size-xxx-large: 3rem; // 48px
  --sl-font-size-xxxx-large: 4.5rem; // 72px

  // Font weights
  --sl-font-weight-light: 300;
  --sl-font-weight-normal: 400;
  --sl-font-weight-semibold: 500;
  --sl-font-weight-bold: 700;

  // Letter spacings
  --sl-letter-spacing-dense: -0.015em;
  --sl-letter-spacing-normal: normal;
  --sl-letter-spacing-loose: 0.075em;

  // Line heights
  --sl-line-height-dense: 1.25;
  --sl-line-height-normal: 1.5;
  --sl-line-height-loose: 1.75;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Form
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  // Focus ring
  --sl-focus-ring-hue: var(--sl-color-primary-hue);
  --sl-focus-ring-saturation: var(--sl-color-primary-saturation);
  --sl-focus-ring-lightness: 50%;
  --sl-focus-ring-alpha: 0.33;
  --sl-focus-ring-width: 3px;
  --sl-focus-ring-box-shadow: 0 0 0 var(--sl-focus-ring-width)
    hsla(
      var(--sl-focus-ring-hue),
      var(--sl-focus-ring-saturation),
      var(--sl-focus-ring-lightness),
      var(--sl-focus-ring-alpha)
    );

  // Inputs
  --sl-input-height-small: 30px;
  --sl-input-height-medium: 40px;
  --sl-input-height-large: 50px;

  --sl-input-background-color: var(--sl-color-white);
  --sl-input-background-color-hover: var(--sl-color-white);
  --sl-input-background-color-focus: var(--sl-color-white);
  --sl-input-background-color-disabled: var(--sl-color-gray-95);

  --sl-input-border-color: var(--sl-color-gray-80);
  --sl-input-border-color-hover: var(--sl-color-gray-70);
  --sl-input-border-color-focus: var(--sl-color-primary-50);
  --sl-input-border-color-disabled: var(--sl-color-gray-80);
  --sl-input-border-width: 1px;

  --sl-input-border-radius-small: 4px;
  --sl-input-border-radius-medium: 4px;
  --sl-input-border-radius-large: 4px;

  --sl-input-font-family: var(--sl-font-sans);
  --sl-input-font-weight: var(--sl-font-weight-normal);
  --sl-input-font-size-small: 12px;
  --sl-input-font-size-medium: 14px;
  --sl-input-font-size-large: 16px;

  --sl-input-color: var(--sl-color-gray-30);
  --sl-input-color-hover: var(--sl-color-gray-30);
  --sl-input-color-focus: var(--sl-color-gray-30);
  --sl-input-color-disabled: var(--sl-color-gray-10);

  --sl-input-placeholder-color: var(--sl-color-gray-60);
  --sl-input-placeholder-color-disabled: var(--sl-color-gray-40);

  --sl-input-spacing-small: 10px;
  --sl-input-spacing-medium: 12px;
  --sl-input-spacing-large: 14px;

  // Toggles (checkboxes, radios, switches)
  --sl-toggle-size: 14px;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Z-index
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  --sl-z-index-default: 1;
  --sl-z-index-panel: 80;
  --sl-z-index-notification: 90;
  --sl-z-index-overlay: 100;
  --sl-z-index-dialog: 600;
  --sl-z-index-dropdown: 800;
  --sl-z-index-tooltip: 1000;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Tooltips
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

body {
  font-family: var(--sl-font-sans);
  font-weight: var(--sl-font-weight-normal);
  font-size: 16px;
}

a {
  color: var(--sl-color-primary-50);
  text-decoration: none;
}

a:hover {
  color: var(--sl-color-primary-60);
  text-decoration: underline;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Tooltips
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.tippy-popper {
  z-index: var(--sl-z-index-tooltip) !important;
}

.tippy-tooltip {
  border-radius: var(--sl-border-radius-medium);
  background-color: var(--sl-color-gray-10);

  .tippy-arrow {
    transform: scale(0.75);
  }

  &[data-placement^='top'] .tippy-arrow {
    border-top-color: var(--sl-color-gray-10);
  }

  &[data-placement^='bottom'] .tippy-arrow {
    border-bottom-color: var(--sl-color-gray-10);
  }

  &[data-placement^='left'] .tippy-arrow {
    border-left-color: var(--sl-color-gray-10);
  }

  &[data-placement^='right'] .tippy-arrow {
    border-right-color: var(--sl-color-gray-10);
  }

  .tippy-content {
    font-family: var(--sl-font-sans);
    font-size: var(--sl-font-size-small);
    font-weight: var(--sl-font-weight-normal);
    line-height: var(--sl-line-height-normal);
    color: var(--sl-color-white);
    padding: var(--sl-spacing-xxx-small) var(--sl-spacing-x-small);
  }
}
