/*! Shoelace */

@import 'node_modules/normalize.css/normalize';
@import 'tippy.js/dist/tippy';
@import 'mixins/make-color-palette';

:root {
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Color
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  @include make-color-palette('primary');
  @include make-color-palette('success');
  @include make-color-palette('info');
  @include make-color-palette('warning');
  @include make-color-palette('danger');
  @include make-color-palette('gray');

  --sl-color-primary-hue: 203;
  --sl-color-primary-sat: 100%;
  --sl-color-primary-text: var(--sl-color-white);

  --sl-color-success-hue: 110;
  --sl-color-success-sat: 60%;
  --sl-color-success-text: var(--sl-color-white);

  --sl-color-info-hue: var(--sl-color-primary-hue);
  --sl-color-info-sat: 10%;
  --sl-color-info-text: var(--sl-color-white);

  --sl-color-warning-hue: 36;
  --sl-color-warning-sat: 90%;
  --sl-color-warning-text: var(--sl-color-white);

  --sl-color-danger-hue: 0;
  --sl-color-danger-sat: 80%;
  --sl-color-danger-text: var(--sl-color-white);

  --sl-color-gray-hue: var(--sl-color-primary-hue);
  --sl-color-gray-sat: 10%;
  --sl-color-gray-text: var(--sl-color-white);

  --sl-color-white: white;
  --sl-color-black: black;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Border Radius
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  --sl-border-radius-small: 0.125rem; // 2px
  --sl-border-radius-medium: 0.25rem; // 4px
  --sl-border-radius-large: 0.5rem; // 8px
  --sl-border-radius-xlarge: 1rem; // 16px

  --sl-border-radius-circle: 50%;
  --sl-border-radius-pill: 9999px;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Elevation
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  --sl-shadow-small: 0 1px 2px rgba(0, 0, 0, 0.1);
  --sl-shadow-medium: 0 2px 4px rgba(0, 0, 0, 0.1);
  --sl-shadow-large: 0 4px 8px rgba(0, 0, 0, 0.1);
  --sl-shadow-xlarge: 0 8px 16px rgba(0, 0, 0, 0.1);

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Spacing
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  --sl-spacing-0: 0; // 0px
  --sl-spacing-1: 0.25rem; // 4px
  --sl-spacing-2: 0.5rem; // 8px
  --sl-spacing-3: 0.75rem; // 12px
  --sl-spacing-4: 1rem; // 16px
  --sl-spacing-5: 1.25rem; // 20px
  --sl-spacing-6: 1.5rem; // 24px
  --sl-spacing-7: 2rem; // 32px
  --sl-spacing-8: 2.5rem; // 40px
  --sl-spacing-9: 3rem; // 48px
  --sl-spacing-10: 3.5rem; // 56px
  --sl-spacing-11: 4rem; // 64px
  --sl-spacing-12: 4.5rem; // 72px

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Transition
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  --sl-transition-slower: 1000ms;
  --sl-transition-slow: 500ms;
  --sl-transition-default: 250ms;
  --sl-transition-fast: 150ms;
  --sl-transition-faster: 50ms;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Typography
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  // Fonts
  --sl-font-mono: Menlo, Monaco, 'Courier New', monospace;
  --sl-font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  --sl-font-serif: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  --sl-font-heading: var(--sl-font-sans);
  --sl-font-body: var(--sl-font-sans);

  // Font sizes
  --sl-font-size-1: 0.75rem; // 12px
  --sl-font-size-2: 0.875rem; // 14px
  --sl-font-size-3: 1rem; // 16px
  --sl-font-size-4: 1.125rem; // 18px
  --sl-font-size-5: 1.25rem; // 20px
  --sl-font-size-6: 1.5rem; // 24px
  --sl-font-size-7: 1.75rem; // 28px
  --sl-font-size-8: 2.25rem; // 36px
  --sl-font-size-9: 3rem; // 48px
  --sl-font-size-10: 3.5rem; // 56px
  --sl-font-size-11: 4rem; // 64px
  --sl-font-size-12: 4.5rem; // 72px

  // Font weights
  --sl-font-weight-light: 300;
  --sl-font-weight-normal: 400;
  --sl-font-weight-semibold: 500;
  --sl-font-weight-bold: 600;

  --sl-font-weight-body: var(--sl-font-weight-default);

  // Letter spacings
  --sl-letter-spacing-dense: -0.015em;
  --sl-letter-spacing-normal: normal;
  --sl-letter-spacing-loose: 0.075em;

  // Line heights
  --sl-line-height-dense: 1.25;
  --sl-line-height-normal: 1.5;
  --sl-line-height-loose: 1.75;

  --sl-line-height-body: var(--sl-line-height-default);
  --sl-line-height-heading: var(--sl-line-height-dense);

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Z-index
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  --sl-z-index-default: 1;
  --sl-z-index-panel: 80;
  --sl-z-index-notification: 90;
  --sl-z-index-dialog: 100;
}

//
// TODO:
//
//  - eliminate what we can using spacing and other tokens
//  - remove CSS vars that are only being used for customizations (we have ::part now)
//  - Add new tokens based on what's left as necessary
//
:root {
  // Form controls
  --sl-focus-ring-alpha: 0.33;
  --sl-focus-ring-box-shadow: 0 0 0 var(--sl-focus-ring-width)
    hsla(var(--sl-color-primary-hue), var(--sl-color-primary-sat), 50%, var(--sl-focus-ring-alpha));
  --sl-focus-ring-width: 3px;
  --sl-form-control-background-color--disabled: var(--sl-color-gray-95);
  --sl-form-control-background-color--focus: var(--sl-color-white);
  --sl-form-control-background-color--hover: var(--sl-color-white);
  --sl-form-control-background-color: var(--sl-color-white);
  --sl-form-control-border-color--disabled: var(--sl-color-gray-80);
  --sl-form-control-border-color--focus: var(--sl-color-primary-50);
  --sl-form-control-border-color--hover: var(--sl-color-gray-70);
  --sl-form-control-border-color: var(--sl-color-gray-80);
  --sl-form-control-border-radius--large: 4px;
  --sl-form-control-border-radius--medium: 4px;
  --sl-form-control-border-radius--small: 4px;
  --sl-form-control-border-width: 1px;
  --sl-form-control-checkbox-size: 14px;
  --sl-form-control-color--disabled: var(--sl-color-gray-10);
  --sl-form-control-color--focus: var(--sl-color-gray-30);
  --sl-form-control-color--hover: var(--sl-color-gray-30);
  --sl-form-control-color: var(--sl-color-gray-30);
  --sl-form-control-font-family: var(--sl-font-sans);
  --sl-form-control-font-size--large: 16px;
  --sl-form-control-font-size--medium: 14px;
  --sl-form-control-font-size--small: 12px;
  --sl-form-control-font-weight: var(--sl-font-weight-normal);
  --sl-form-control-height--large: 50px;
  --sl-form-control-height--medium: 40px;
  --sl-form-control-height--small: 30px;
  --sl-form-control-padding-x--large: 12px;
  --sl-form-control-padding-x--medium: 10px;
  --sl-form-control-padding-x--small: 8px;
  --sl-form-control-placeholder-color--disabled: var(--sl-color-gray-40);
  --sl-form-control-placeholder-color--hover: var(--sl-color-gray-60);
  --sl-form-control-placeholder-color: var(--sl-color-gray-60);
  --sl-form-control-transition-speed: 150ms;

  // Menus
  --sl-menu-background-color: var(--sl-color-white);
  --sl-menu-border-color: var(--sl-color-gray-90);
  --sl-menu-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  --sl-menu-font-family: var(--sl-font-sans);
  --sl-menu-font-size: var(--text-size-default);
  --sl-menu-font-weight: var(--sl-font-weight-normal);
  --sl-menu-padding-x: 30px;
  --sl-menu-padding-y: 10px;
  --sl-menu-transition-speed: 150ms;

  --sl-menu-item-background-color--active: var(--sl-color-primary-95);
  --sl-menu-item-background-color--disabled: var(--sl-color-white);
  --sl-menu-item-background-color: var(--sl-color-white);
  --sl-menu-item-color--active: var(--sl-color-primary-50);
  --sl-menu-item-color--disabled: var(--sl-color-gray-70);
  --sl-menu-item-color: var(--sl-color-gray-40);
  --sl-menu-item-transition-speed: 150ms;

  // Tooltips
  --sl-tooltip-background-color: var(--sl-color-gray-10);
  --sl-tooltip-border-radius: 4px;
  --sl-tooltip-color: var(--sl-color-white);
  --sl-tooltip-font-family: var(--sl-form-control-font-family);
  --sl-tooltip-font-size: var(--sl-form-control-font-size--medium);
  --sl-tooltip-font-weight: var(--sl-form-control-font-weight);
  --sl-tooltip-line-height: 1.4;
  --sl-tooltip-padding-x: 10px;
  --sl-tooltip-padding-y: 5px;
}

// Base styles
body {
  font-family: var(--sl-font-body);
  font-weight: var(--sl-font-weight-body);
  font-size: 16px;
}

a {
  color: var(--sl-color-primary-50);
  text-decoration: none;
}

a:hover {
  color: var(--sl-color-primary-60);
  text-decoration: underline;
}

// Customize tooltips using our own tokens
.tippy-tooltip {
  border-radius: var(--sl-tooltip-border-radius);
  background-color: var(--sl-tooltip-background-color);

  .tippy-arrow {
    transform: scale(0.75);
  }

  &[data-placement^='top'] .tippy-arrow {
    border-top-color: var(--sl-tooltip-background-color);
  }

  &[data-placement^='bottom'] .tippy-arrow {
    border-bottom-color: var(--sl-tooltip-background-color);
  }

  &[data-placement^='left'] .tippy-arrow {
    border-left-color: var(--sl-tooltip-background-color);
  }

  &[data-placement^='right'] .tippy-arrow {
    border-right-color: var(--sl-tooltip-background-color);
  }

  .tippy-content {
    font-family: var(--sl-tooltip-font-family);
    font-size: var(--sl-tooltip-font-size);
    font-weight: var(--sl-tooltip-font-weight);
    line-height: var(--sl-tooltip-line-height);
    color: var(--sl-tooltip-color);
    padding: var(--sl-tooltip-padding-y) var(--sl-tooltip-padding-x);
  }
}
