.sl-theme-dark {
  // Theme colors
  --sl-color-primary-saturation: 80%;
  --sl-color-success-saturation: 50%;
  --sl-color-info-saturation: 10%;
  --sl-color-warning-saturation: 70%;
  --sl-color-danger-saturation: 75%;
  --sl-color-gray-saturation: 10%;

  @include make-color-palette('primary');
  @include make-color-palette('success');
  @include make-color-palette('info');
  @include make-color-palette('warning');
  @include make-color-palette('danger');
  @include make-color-palette('gray');

  // Inputs
  --sl-input-background-color: var(--sl-color-gray-10);
  --sl-input-background-color-hover: var(--sl-color-gray-10);
  --sl-input-background-color-focus: var(--sl-color-gray-10);
  --sl-input-background-color-disabled: var(--sl-color-gray-15);

  --sl-input-border-color: var(--sl-color-gray-30);
  --sl-input-border-color-hover: var(--sl-color-gray-40);
  --sl-input-border-color-focus: var(--sl-color-primary-50);
  --sl-input-border-color-disabled: var(--sl-color-gray-80);
  --sl-input-border-color-valid: var(--sl-color-success-50);
  --sl-input-border-color-invalid: var(--sl-color-danger-50);

  --sl-input-font-family: var(--sl-font-sans);
  --sl-input-font-weight: var(--sl-font-weight-normal);
  --sl-input-font-size-small: var(--sl-font-size-small);
  --sl-input-font-size-medium: var(--sl-font-size-medium);
  --sl-input-font-size-large: var(--sl-font-size-large);
  --sl-input-letter-spacing: var(--sl-letter-spacing-normal);

  --sl-input-border-color: var(--sl-color-gray-30);
  --sl-input-border-color-hover: var(--sl-color-gray-40);
  --sl-input-border-color-focus: var(--sl-color-primary-60);
  --sl-input-border-color-disabled: var(--sl-color-gray-30);
  --sl-input-border-color-valid: var(--sl-color-success-50);
  --sl-input-border-color-invalid: var(--sl-color-danger-50);

  --sl-input-color: var(--sl-color-gray-80);
  --sl-input-color-hover: var(--sl-color-gray-80);
  --sl-input-color-focus: var(--sl-color-gray-80);
  --sl-input-color-disabled: var(--sl-color-gray-90);
  --sl-input-color-valid: var(--sl-color-success-60);
  --sl-input-color-invalid: var(--sl-color-danger-40);

  --sl-input-icon-color: var(--sl-color-gray-40);
  --sl-input-icon-color-hover: var(--sl-color-gray-60);
  --sl-input-icon-color-focus: var(--sl-color-gray-60);

  --sl-input-placeholder-color: var(--sl-color-gray-30);
  --sl-input-placeholder-color-disabled: var(--sl-color-gray-40);

  // Overlays
  --sl-overlay-background-color: hsla(var(--sl-color-gray-hue), var(--sl-color-gray-saturation), 80%, 0.1);

  // Tooltips
  --sl-tooltip-background-color: var(--sl-color-gray-80);
  --sl-tooltip-color: var(--sl-color-black);

  // Alert
  sl-alert::part(base) {
    background-color: var(--sl-color-gray-10);
    border-left-color: var(--sl-color-gray-20);
    border-right-color: var(--sl-color-gray-20);
    border-bottom-color: var(--sl-color-gray-20);
    color: var(--sl-color-gray-80);
  }

  // Avatar
  sl-avatar::part(base) {
    background-color: var(--sl-color-gray-30);
    color: var(--sl-color-gray-70);
  }

  // Button
  sl-button[type='default']::part(base) {
    background-color: var(--sl-color-gray-10);
    border-color: var(--sl-color-gray-30);
    color: var(--sl-color-gray-60);
  }

  sl-button[type='default']:not([disabled])::part(base):hover {
    background-color: var(--sl-color-primary-15);
    border-color: var(--sl-color-primary-30);
    color: var(--sl-color-primary-60);
  }

  sl-button[type='default']:not([disabled])::part(base):focus {
    background-color: var(--sl-color-primary-15);
    border-color: var(--sl-color-primary-30);
    color: var(--sl-color-primary-60);
    box-shadow: 0 0 0 var(--sl-focus-ring-width)
      hsla(var(--sl-color-primary-hue), var(--sl-color-primary-saturation), 50%, var(--sl-focus-ring-alpha));
  }

  sl-button[type='default']:not([disabled])::part(base):active {
    background-color: var(--sl-color-primary-15);
    border-color: var(--sl-color-primary-40);
    color: var(--sl-color-primary-70);
  }

  // Card
  sl-card::part(base) {
    background-color: var(--sl-color-gray-10);
    --border-color: var(--sl-color-gray-20);
  }

  // Color picker
  sl-color-picker::part(base) {
    background-color: var(--sl-color-gray-10);
    border-color: var(--sl-color-gray-20);
  }

  sl-color-picker::part(copy-button) {
    background-color: var(--sl-color-gray-10);
    border-color: var(--sl-color-gray-30);
    color: var(--sl-color-gray-60);

    &:hover {
      background-color: var(--sl-color-primary-15);
      border-color: var(--sl-color-primary-30);
      color: var(--sl-color-primary-60);
    }

    &:focus {
      background-color: var(--sl-color-primary-15);
      border-color: var(--sl-color-primary-30);
      color: var(--sl-color-primary-60);
      box-shadow: 0 0 0 var(--sl-focus-ring-width)
        hsla(var(--sl-color-primary-hue), var(--sl-color-primary-saturation), 50%, var(--sl-focus-ring-alpha));
    }

    &:active {
      background-color: var(--sl-color-primary-15);
      border-color: var(--sl-color-primary-40);
      color: var(--sl-color-primary-70);
    }
  }

  sl-color-picker::part(panel) {
    background-color: var(--sl-color-gray-10);
    border-color: var(--sl-color-gray-20);
  }

  sl-color-picker::part(slider-handle) {
    background-color: var(--sl-color-gray-10);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25), inset 0 0 0 1px rgba(0, 0, 0, 0.25);
  }

  sl-color-picker::part(slider-handle):focus {
    box-shadow: 0 0 0 1px hsl(var(--sl-color-primary-hue), var(--sl-color-primary-saturation), 50%),
      var(--sl-focus-ring-box-shadow);
  }

  sl-color-picker::part(grid-handle) {
    border-color: var(--sl-color-gray-10);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25), inset 0 0 0 1px rgba(255, 255, 255, 0.25);
  }

  sl-color-picker::part(grid-handle):focus {
    box-shadow: 0 0 0 1px hsl(var(--sl-focus-ring-hue), var(--sl-focus-ring-saturation), var(--sl-focus-ring-lightness)),
      inset 0 0 0 1px hsl(var(--sl-focus-ring-hue), var(--sl-focus-ring-saturation), var(--sl-focus-ring-lightness)),
      var(--sl-focus-ring-box-shadow);
  }

  sl-color-picker::part(preview),
  sl-color-picker::part(opacity-slider),
  sl-color-picker::part(trigger) {
    background-image: linear-gradient(45deg, #333 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #333 75%), linear-gradient(45deg, transparent 75%, #333 75%),
      linear-gradient(45deg, #333 25%, transparent 25%);
  }

  sl-color-picker::part(swatches) {
    border-top-color: var(--sl-color-gray-20);
  }

  // Details
  sl-details::part(base) {
    border-color: var(--sl-color-gray-20);
  }

  // Dialog
  sl-dialog::part(panel) {
    background-color: var(--sl-color-gray-10);
  }

  // Drawer
  sl-drawer::part(panel) {
    background-color: var(--sl-color-gray-10);
  }

  // Dropdown
  sl-dropdown::part(panel) {
    background-color: var(--sl-color-gray-10);
    border-color: var(--sl-color-gray-20);
  }

  // Icon button
  sl-icon-button::part(base) {
    color: var(--sl-color-gray-60);
  }

  sl-icon-button:not([disabled])::part(base) {
    &:hover,
    &:focus {
      color: var(--sl-color-primary-50);
    }

    &:active {
      color: var(--sl-color-primary-60);
    }
  }

  // Menu
  sl-menu::part(base) {
    background-color: var(--sl-color-gray-10);
  }

  // Menu divider
  sl-menu-divider {
    --color: var(--sl-color-gray-20);
  }

  // Menu item
  sl-menu-item[active]::part(base) {
    background-color: var(--sl-color-primary-15);
    color: var(--sl-color-primary-50);
  }

  // Menu label
  sl-menu-label::part(base) {
    color: var(--sl-color-gray-40);
  }

  // Progress bar
  sl-progress-bar::part(base) {
    background-color: var(--sl-color-gray-20);
  }

  // Progress ring
  sl-progress-ring::part(base) {
    --track-color: var(--sl-color-gray-20);
  }

  // Range
  sl-range {
    --track-color: var(--sl-color-gray-20);
  }

  // Rating
  sl-rating {
    --symbol-color: var(--sl-color-gray-35);
  }

  // Select
  sl-select::part(panel) {
    border-color: var(--sl-color-gray-20);
    background-color: var(--sl-color-gray-10);
  }

  sl-select::part(menu) {
    background-color: var(--sl-color-gray-10);
  }

  // Skeleton
  sl-skeleton {
    --color: var(--sl-color-gray-20);
    --sheen-color: var(--sl-color-gray-25);
  }

  // Switch
  sl-switch::part(control) {
    background-color: var(--sl-color-gray-30);
    border-color: var(--sl-color-gray-30);
  }

  sl-switch::part(thumb) {
    background-color: var(--sl-color-black);
  }

  // Tab group
  sl-tab-group::part(tabs) {
    --tabs-border-color: var(--sl-color-gray-20);
  }

  // Tab
  sl-tab::part(base) {
    color: var(--sl-color-gray-60);
  }

  sl-tab:not([disabled])::part(base):hover,
  sl-tab[active]::part(base) {
    color: var(--sl-color-primary-50);
  }

  // Tag
  sl-tag {
    &[type='primary']::part(base) {
      background-color: var(--sl-color-primary-15);
      border-color: var(--sl-color-primary-30);
      color: var(--sl-color-primary-70);
    }

    &[type='success']::part(base) {
      background-color: var(--sl-color-success-15);
      border-color: var(--sl-color-success-30);
      color: var(--sl-color-success-65);
    }

    &[type='info']::part(base) {
      background-color: var(--sl-color-info-15);
      border-color: var(--sl-color-info-30);
      color: var(--sl-color-info-70);
    }

    &[type='warning']::part(base) {
      background-color: var(--sl-color-warning-15);
      border-color: var(--sl-color-warning-30);
      color: var(--sl-color-warning-70);
    }

    &[type='danger']::part(base) {
      background-color: var(--sl-color-danger-15);
      border-color: var(--sl-color-danger-30);
      color: var(--sl-color-danger-75);
    }
  }
}
