@import 'functions';
@import 'mixins';

$theme-colors: (
  primary: #409eff,
  success: #67c23a,
  info: #909399,
  warning: #e6a23c,
  danger: #f56c6c,
  white: #fff,
  black: #00070b
);

$gray-colors: (
  100: tint(map-get($theme-colors, black), 10%),
  150: tint(map-get($theme-colors, black), 15%),
  200: tint(map-get($theme-colors, black), 20%),
  250: tint(map-get($theme-colors, black), 25%),
  300: tint(map-get($theme-colors, black), 30%),
  350: tint(map-get($theme-colors, black), 35%),
  400: tint(map-get($theme-colors, black), 40%),
  450: tint(map-get($theme-colors, black), 45%),
  500: tint(map-get($theme-colors, black), 50%),
  550: tint(map-get($theme-colors, black), 55%),
  600: tint(map-get($theme-colors, black), 60%),
  650: tint(map-get($theme-colors, black), 65%),
  700: tint(map-get($theme-colors, black), 70%),
  750: tint(map-get($theme-colors, black), 75%),
  800: tint(map-get($theme-colors, black), 80%),
  850: tint(map-get($theme-colors, black), 85%),
  900: tint(map-get($theme-colors, black), 90%)
);

$primary-colors: (
  100: shade(map-get($theme-colors, primary), 90%),
  150: shade(map-get($theme-colors, primary), 78.75%),
  200: shade(map-get($theme-colors, primary), 67.5%),
  250: shade(map-get($theme-colors, primary), 56.25%),
  300: shade(map-get($theme-colors, primary), 45%),
  350: shade(map-get($theme-colors, primary), 33.75%),
  400: shade(map-get($theme-colors, primary), 22.5%),
  450: shade(map-get($theme-colors, primary), 11.25%),
  500: map-get($theme-colors, primary),
  550: tint(map-get($theme-colors, primary), 11.25%),
  600: tint(map-get($theme-colors, primary), 22.5%),
  650: tint(map-get($theme-colors, primary), 33.75%),
  700: tint(map-get($theme-colors, primary), 45%),
  750: tint(map-get($theme-colors, primary), 56.25%),
  800: tint(map-get($theme-colors, primary), 67.5%),
  850: tint(map-get($theme-colors, primary), 78.75%),
  900: tint(map-get($theme-colors, primary), 90%)
);

$success-colors: (
  100: shade(map-get($theme-colors, success), 90%),
  150: shade(map-get($theme-colors, success), 78.75%),
  200: shade(map-get($theme-colors, success), 67.5%),
  250: shade(map-get($theme-colors, success), 56.25%),
  300: shade(map-get($theme-colors, success), 45%),
  350: shade(map-get($theme-colors, success), 33.75%),
  400: shade(map-get($theme-colors, success), 22.5%),
  450: shade(map-get($theme-colors, success), 11.25%),
  500: map-get($theme-colors, success),
  550: tint(map-get($theme-colors, success), 11.25%),
  600: tint(map-get($theme-colors, success), 22.5%),
  650: tint(map-get($theme-colors, success), 33.75%),
  700: tint(map-get($theme-colors, success), 45%),
  750: tint(map-get($theme-colors, success), 56.25%),
  800: tint(map-get($theme-colors, success), 67.5%),
  850: tint(map-get($theme-colors, success), 78.75%),
  900: tint(map-get($theme-colors, success), 90%)
);

$info-colors: (
  100: shade(map-get($theme-colors, info), 90%),
  150: shade(map-get($theme-colors, info), 78.75%),
  200: shade(map-get($theme-colors, info), 67.5%),
  250: shade(map-get($theme-colors, info), 56.25%),
  300: shade(map-get($theme-colors, info), 45%),
  350: shade(map-get($theme-colors, info), 33.75%),
  400: shade(map-get($theme-colors, info), 22.5%),
  450: shade(map-get($theme-colors, info), 11.25%),
  500: map-get($theme-colors, info),
  550: tint(map-get($theme-colors, info), 11.25%),
  600: tint(map-get($theme-colors, info), 22.5%),
  650: tint(map-get($theme-colors, info), 33.75%),
  700: tint(map-get($theme-colors, info), 45%),
  750: tint(map-get($theme-colors, info), 56.25%),
  800: tint(map-get($theme-colors, info), 67.5%),
  850: tint(map-get($theme-colors, info), 78.75%),
  900: tint(map-get($theme-colors, info), 90%)
);

$warning-colors: (
  100: shade(map-get($theme-colors, warning), 90%),
  150: shade(map-get($theme-colors, warning), 78.75%),
  200: shade(map-get($theme-colors, warning), 67.5%),
  250: shade(map-get($theme-colors, warning), 56.25%),
  300: shade(map-get($theme-colors, warning), 45%),
  350: shade(map-get($theme-colors, warning), 33.75%),
  400: shade(map-get($theme-colors, warning), 22.5%),
  450: shade(map-get($theme-colors, warning), 11.25%),
  500: map-get($theme-colors, warning),
  550: tint(map-get($theme-colors, warning), 11.25%),
  600: tint(map-get($theme-colors, warning), 22.5%),
  650: tint(map-get($theme-colors, warning), 33.75%),
  700: tint(map-get($theme-colors, warning), 45%),
  750: tint(map-get($theme-colors, warning), 56.25%),
  800: tint(map-get($theme-colors, warning), 67.5%),
  850: tint(map-get($theme-colors, warning), 78.75%),
  900: tint(map-get($theme-colors, warning), 90%)
);

$danger-colors: (
  100: shade(map-get($theme-colors, danger), 90%),
  150: shade(map-get($theme-colors, danger), 78.75%),
  200: shade(map-get($theme-colors, danger), 67.5%),
  250: shade(map-get($theme-colors, danger), 56.25%),
  300: shade(map-get($theme-colors, danger), 45%),
  350: shade(map-get($theme-colors, danger), 33.75%),
  400: shade(map-get($theme-colors, danger), 22.5%),
  450: shade(map-get($theme-colors, danger), 11.25%),
  500: map-get($theme-colors, danger),
  550: tint(map-get($theme-colors, danger), 11.25%),
  600: tint(map-get($theme-colors, danger), 22.5%),
  650: tint(map-get($theme-colors, danger), 33.75%),
  700: tint(map-get($theme-colors, danger), 45%),
  750: tint(map-get($theme-colors, danger), 56.25%),
  800: tint(map-get($theme-colors, danger), 67.5%),
  850: tint(map-get($theme-colors, danger), 78.75%),
  900: tint(map-get($theme-colors, danger), 90%)
);

$focus-colors: (
  primary: rgba(map-get($theme-colors, primary), 0.33),
  success: rgba(map-get($theme-colors, success), 0.33),
  info: rgba(map-get($theme-colors, info), 0.33),
  warning: rgba(map-get($theme-colors, warning), 0.33),
  danger: rgba(map-get($theme-colors, danger), 0.33),
  white: rgba(map-get($theme-colors, white), 0.33),
  black: rgba(map-get($theme-colors, black), 0.33)
);

$fonts: (
  sans-serif:
    "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif",
  serif: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif",
  monospace: "Menlo, Monaco, 'Courier New', monospace",
  weight--light: 300,
  weight--normal: 400,
  weight--bold: 500,
  color-primary: map-get($gray-colors, 200),
  color-secondary: map-get($gray-colors, 600)
);

$inputs: (
  font-family: map-get($fonts, sans-serif),
  font-weight: map-get($fonts, weight--normal),
  font-size--small: 12px,
  font-size--medium: 14px,
  font-size--large: 16px,
  color: map-get($gray-colors, 400),
  height--small: 32px,
  height--medium: 38px,
  height--large: 44px,
  border-width: 1px,
  border-color: map-get($gray-colors, 800),
  border-color--hover: map-get($gray-colors, 700),
  border-color--focus: map-get($theme-colors, primary),
  border-color--disabled: map-get($gray-colors, 800),
  border-radius--small: 4px,
  border-radius--medium: 4px,
  border-radius--large: 4px,
  background-color: map-get($theme-colors, white),
  background-color--hover: map-get($theme-colors, white),
  background-color--focus: map-get($theme-colors, white),
  background-color-disabled: map-get($gray-colors, 900),
  focus-ring-width: 2px,
  focus-ring-color: map-get($focus-colors, primary),
  placeholder-color: map-get($gray-colors, 700),
  transition-speed: 150ms
);

$menus: (
  font-family: map-get($fonts, sans-serif),
  font-weight: map-get($fonts, weight--normal),
  font-size: 16px,
  border-color: map-get($gray-colors, 900),
  background-color: map-get($theme-colors, white),
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1),
  color: map-get($gray-colors, 400),
  color--selected: map-get($theme-colors, primary),
  color--disabled: map-get($gray-colors, 700),
  padding-x: 30px,
  padding-y: 10px
);

// Generate custom styles scoped to each component's host element
:host {
  @include generateCustomProperties($theme-colors, 'color-');
  @include generateCustomProperties($gray-colors, 'color-gray-');
  @include generateCustomProperties($primary-colors, 'color-primary-');
  @include generateCustomProperties($success-colors, 'color-success-');
  @include generateCustomProperties($info-colors, 'color-info-');
  @include generateCustomProperties($warning-colors, 'color-warning-');
  @include generateCustomProperties($danger-colors, 'color-danger-');
  @include generateCustomProperties($focus-colors, 'color-focus-');
  @include generateCustomProperties($fonts, 'font-');
  @include generateCustomProperties($inputs, 'input-');
  @include generateCustomProperties($menus, 'menu-');
}

// TODO: remove all SCSS vars!

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$color-primary: #409eff !default;
$color-success: #67c23a !default;
$color-info: #909399 !default;
$color-warning: #e6a23c !default;
$color-danger: #f56c6c !default;
$color-white: #fff !default;
$color-black: #00070b !default;

$color-gray-10: tint($color-black, 10%) !default;
$color-gray-20: tint($color-black, 20%) !default;
$color-gray-30: tint($color-black, 30%) !default;
$color-gray-40: tint($color-black, 40%) !default;
$color-gray-50: tint($color-black, 50%) !default;
$color-gray-60: tint($color-black, 60%) !default;
$color-gray-70: tint($color-black, 70%) !default;
$color-gray-80: tint($color-black, 80%) !default;
$color-gray-90: tint($color-black, 90%) !default;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$font-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
  'Helvetica Neue', sans-serif !default;
$font-serif: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !default;
$font-monospace: Menlo, Monaco, Courier New, monospace !default;
$font-size: 16px !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 500 !default;

$text-color-primary: $color-gray-20 !default;
$text-color-secondary: $color-gray-60 !default;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Form controls (inputs, textareas, buttons, et al)
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$form-control-font-family: $font-sans-serif !default;
$form-control-font-weight: $font-weight-normal !default;

$form-control-font-size--small: 12px !default;
$form-control-font-size--medium: 14px !default;
$form-control-font-size--large: 16px !default;

$form-control-height--small: 32px !default;
$form-control-height--medium: 38px !default;
$form-control-height--large: 44px !default;

$form-control-border-color: tint($color-black, 85%) !default;
$form-control-color: $color-gray-40 !default;

$form-control-transition-speed: 150ms;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Menus (dropdowns, selects, et al)
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$menu-font-family: $font-sans-serif !default;
$menu-font-weight: $font-weight-normal !default;
$menu-font-size: $font-size !default;
$menu-border-color: tint($form-control-border-color, 50%) !default;
$menu-background-color: $color-white !default;
$menu-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1) !default;
$menu-color: $color-gray-40 !default;
$menu-background-color--hover: tint($color-primary, 90%) !default;
$menu-color--hover: $color-primary !default;
$menu-color--disabled: $color-gray-70 !default;
$menu-padding-x: 30px !default;
$menu-padding-y: 10px !default;
