@import 'functions';

// Colors
$color-primary: #409eff !default;
$color-success: #67c23a !default;
$color-info: #909399 !default;
$color-warning: #e6a23c !default;
$color-danger: #f56c6c !default;
$color-white: #fff !default;
$color-black: #00070b !default;

$color-gray-10: tint($color-black, 10%) !default;
$color-gray-20: tint($color-black, 20%) !default;
$color-gray-30: tint($color-black, 30%) !default;
$color-gray-40: tint($color-black, 40%) !default;
$color-gray-50: tint($color-black, 50%) !default;
$color-gray-60: tint($color-black, 60%) !default;
$color-gray-70: tint($color-black, 70%) !default;
$color-gray-80: tint($color-black, 80%) !default;
$color-gray-90: tint($color-black, 90%) !default;

// Fonts
$font-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
  'Helvetica Neue', sans-serif !default;
$font-serif: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !default;
$font-monospace: Menlo, Monaco, Courier New, monospace !default;
$font-size: 16px !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 500 !default;

$text-color-primary: $color-gray-20 !default;
$text-color-secondary: $color-gray-60 !default;

// Form controls
$form-control-height--small: 32px !default;
$form-control-height--medium: 38px !default;
$form-control-height--large: 44px !default;

$form-control-font-size--small: 12px !default;
$form-control-font-size--medium: 14px !default;
$form-control-font-size--large: 16px !default;

$form-control-border-color: tint($color-black, 85%) !default;
$form-control-color: $color-gray-40 !default;

// Menus
$menu-font-family: $font-sans-serif !default;
$menu-font-weight: $font-weight-normal !default;
$menu-font-size: $font-size !default;
$menu-border-color: tint($form-control-border-color, 50%) !default;
$menu-background-color: $color-white !default;
$menu-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1) !default;
$menu-color: $color-gray-40 !default;
$menu-background-color--hover: tint($color-primary, 90%) !default;
$menu-color--hover: $color-primary !default;
$menu-color--disabled: $color-gray-70 !default;
$menu-padding-x: 30px !default;
$menu-padding-y: 10px !default;
