@import 'component';

:host {
  display: inline-flex;

  --stroke-width: 2px;
  --color: var(--sl-color-primary-50);
}

.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: solid var(--stroke-width) var(--color);
  border-bottom-color: transparent;
  animation: 1s linear infinite spin;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
