@import 'component';

:host {
  display: block;
}

.sl-select {
  width: 100%;
}

.sl-select__input {
  flex: 1 1 auto;
  width: 100%;
  cursor: pointer;
}

.sl-select__icon {
  transition: var(--sl-transition-medium) transform ease;
}

.sl-select--open .sl-select__icon {
  transform: rotate(-180deg);
}

.sl-select__tag {
  background-color: var(--sl-color-gray-90);
  color: var(--sl-color-gray-40);
  border-radius: var(--sl-border-radius-medium);
  line-height: 1;
  padding: var(--sl-spacing-x-small);

  + .sl-select__tag {
    margin-left: var(--sl-spacing-xx-small);
  }
}
