@import 'component';
@import 'form-control-label';
@import 'form-control-help-text';

:host {
  display: block;
}

.select {
  width: 100%;
}

.select__input {
  flex: 1 1 auto;
  width: 100%;

  &::part(input) {
    cursor: pointer;
  }

  span[slot='prefix'] {
    margin-left: var(--sl-spacing-xx-small);

    sl-tag:not(:last-of-type) {
      margin-right: var(--sl-spacing-xx-small);
    }
  }
}

.select__icon {
  display: inline-flex;
}
.select__icon sl-icon {
  transition: var(--sl-transition-medium) transform ease;
}

.select--open .select__icon sl-icon {
  transform: rotate(-180deg);
}

// Force the input's clear button to show when the select isn't empty. This is important for the `multiple` option, as
// it doesn't use the input's `value` prop to display the selection.
.select:not(.select--empty) .select__input::part(clear-button) {
  visibility: visible;
}
