body {
  border-top: solid .3rem var(--color-aqua);
}

#head {
  padding: 0 2rem;
  margin: var(--component-spacing-big) 0;
}

#head img {
  width: 24rem;
  margin: 0 auto;
  display: block;
}

#wrap {
  max-width: 48rem;
  padding: 0 2rem;
  margin: 2rem auto;
}

pre {
  margin-bottom: 1rem !important; /* Prism overrides our bottom margin */
}

pre code {
  white-space: pre;
  padding: 0;
  display: block;
}

@media (max-width: 60rem) {
  #head {
    padding: 0 1rem;
  }

  #wrap {
    padding: 0 1rem;
    display: block;
  }
}
