/*! Alerts */
:root {
  --alert-color: var(--color-white);
  --alert-bg-color: var(--state-primary);
  --alert-padding-x: var(--component-padding-x);
  --alert-padding-y: var(--component-padding-y);
}

.alert {
  color: var(--alert-color);
  background-color: var(--alert-bg-color);
  border-radius: var(--component-border-radius);
  padding: var(--alert-padding-y) var(--alert-padding-x);
  margin-top: 0;
  margin-bottom: 1rem;
}

.alert:empty {
  display: none;
}

.alert a {
  color: inherit;
  text-decoration: underline;
}

.alert :last-child {
  margin-bottom: 0;
}

/* Variations */
.alert-secondary {
  background-color: var(--state-secondary);
}

.alert-success {
  background-color: var(--state-success);
}

.alert-info {
  background-color: var(--state-info);
}

.alert-warning {
  background-color: var(--state-warning);
}

.alert-danger {
  background-color: var(--state-danger);
}

.alert-light {
  color: var(--state-dark);
  background-color: var(--state-light);
}

.alert-dark {
  color: var(--state-light);
  background-color: var(--state-dark);
}
