/*! Buttons */
:root {
  --button-font-family: var(--input-font-family);
  --button-font-weight: var(--input-font-weight);
  --button-font-size: var(--input-font-size);
  --button-font-size-small: var(--input-font-size-small);
  --button-font-size-big: var(--input-font-size-big);
  --button-color: var(--color-white);
  --button-bg-color: var(--state-primary);
  --button-height: var(--input-height);
  --button-height-small: var(--input-height-small);
  --button-height-big: var(--input-height-big);
  --button-border-radius: var(--component-border-radius);
  --button-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .1), inset 0 -2px 0 rgba(0, 0, 0, .1);
  --button-box-shadow-hover: inset 0 2px 5rem rgba(0, 0, 0, .1), inset 0 -2px 0 rgba(0, 0, 0, .1);
  --button-box-shadow-active: inset 0 2px 5rem rgba(0, 0, 0, .1), inset 0 2px 0 rgba(0, 0, 0, .1);
  --button-loader-size: 1.2em;
  --button-loader-border-width: .2em;
}

@keyframes button-loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

button,
.button {
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  text-align: center;
  text-decoration: none;
  color: var(--button-color);
  background-color: var(--button-bg-color);
  border-radius: var(--button-border-radius);
  border: none;
  height: var(--button-height);
  line-height: var(--button-height);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0 .75em; /* ems for relative sizing */
  box-shadow: var(--button-box-shadow);
  cursor: pointer;
  display: inline-block;
  transition: .1s box-shadow, .1s background-color;
}

.button-small {
  font-size: var(--button-font-size-small);
  height: var(--button-height-small);
  line-height: var(--button-height-small);
}

.button-big {
  font-size: var(--button-font-size-big);
  height: var(--button-height-big);
  line-height: var(--button-height-big);
}

.button-block {
  width: 100% !important;
  display: block;
}

.button-link {
  background-color: transparent;
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);
  box-shadow: none;
}

.button-link:hover:not(:disabled):not(.disabled) {
  background-color: transparent;
  color: var(--link-color-hover);
  text-decoration: var(--link-text-decoration-hover);
  box-shadow: none;
}

button:hover,
.button:hover {
  color: var(--button-color);
  text-decoration: none;
}

button:hover:not(:disabled),
.button:hover:not(.disabled) {
  color: var(--button-color);
  box-shadow: var(--button-box-shadow-hover);
}

button:active:not(.button-link):not(:disabled),
button.active:not(.button-link):not(:disabled),
.button:active:not(.button-link):not(.disabled),
.button.active:not(.button-link):not(.disabled) {
  box-shadow: var(--button-box-shadow-active);
}

button:disabled,
.button.disabled {
  opacity: .5;
  cursor: not-allowed;
}

/* File buttons */
label.button input[type="file"] {
  display: none;
}

/* Loader buttons */
.button-loader,
.button-loader:hover {
  position: relative;
  min-width: calc(var(--button-loader-size) * 2);
  color: transparent !important;
}

.button-loader::after {
  content: '';
  position: absolute;
  top: calc(50% - calc(var(--button-loader-size) / 2));
  left: calc(50% - calc(var(--button-loader-size) / 2));
  width: var(--button-loader-size);
  height: var(--button-loader-size);
  border-radius: 50%;
  border: solid var(--button-loader-border-width) transparent;
  border-top-color: var(--button-color);
  border-left-color: var(--button-color);
  display: inline-block;
  animation: button-loader var(--loader-speed) linear infinite;
}

.button-light.button-loader::after {
  border-top-color: var(--state-dark);
  border-left-color: var(--state-dark);
}

.button-dark.button-loader::after {
  border-top-color: var(--state-light);
  border-left-color: var(--state-light);
}

/* Variations */
.button-secondary {
  background-color: var(--state-secondary);
}

.button-success {
  background-color: var(--state-success);
}

.button-info {
  background-color: var(--state-info);
}

.button-warning {
  background-color: var(--state-warning);
}

.button-danger {
  background-color: var(--state-danger);
}

.button-light,
button.button-light:hover:not(:disabled),
.button-light:hover:not(.disabled) {
  color: var(--state-dark);
  background-color: var(--state-light);
}

.button-dark,
button.button-dark:hover:not(:disabled),
.button-dark:hover:not(.disabled) {
  color: var(--state-light);
  background-color: var(--state-dark);
}
