/*! Buttons */

button,
.button {
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  text-align: center;
  text-decoration: none;
  color: var(--button-color);
  background-color: var(--button-bg-color);
  border-radius: var(--button-border-radius);
  border: none;
  height: var(--button-height);
  line-height: var(--button-height);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0 .75em; /* ems for relative sizing */
  box-shadow: var(--button-box-shadow);
  cursor: pointer;
  display: inline-block;
  transition: .1s box-shadow, .1s background-color, .1s color;
}

.button-small {
  font-size: var(--button-font-size-small);
  height: var(--button-height-small);
  line-height: var(--button-height-small);
}

.button-big {
  font-size: var(--button-font-size-big);
  height: var(--button-height-big);
  line-height: var(--button-height-big);
}

.button-block {
  width: 100% !important;
  display: block;
}

.button-secondary {
  color: var(--button-color-secondary);
  background-color: var(--button-bg-color-secondary);
}

.button-success {
  color: var(--button-color-success);
  background-color: var(--button-bg-color-success);
}

.button-info {
  color: var(--button-color-info);
  background-color: var(--button-bg-color-info);
}

.button-warning {
  color: var(--button-color-warning);
  background-color: var(--button-bg-color-warning);
}

.button-danger {
  color: var(--button-color-danger);
  background-color: var(--button-bg-color-danger);
}

.button-light {
  color: var(--button-color-light);
  background-color: var(--button-bg-color-light);
}

.button-dark {
  color: var(--button-color-dark);
  background-color: var(--button-bg-color-dark);
}

.button-link {
  background-color: transparent;
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);
  box-shadow: none;
}

.button-link:hover:not(:disabled):not(.disabled) {
  background-color: transparent;
  color: var(--link-color-hover);
  text-decoration: var(--link-text-decoration-hover);
  box-shadow: none;
}

button:hover,
.button:hover {
  text-decoration: none;
}

button:hover:not(:disabled),
.button:hover:not(.disabled) {
  box-shadow: var(--button-box-shadow-hover);
}

button:active:not(.button-link):not(:disabled),
button.active:not(.button-link):not(:disabled),
.button.active:not(.button-link):not(.disabled) {
  box-shadow: var(--button-box-shadow-active);
}

button:disabled,
button.disabled,
.button.disabled {
  opacity: .5;
  cursor: not-allowed;
}

label.button input[type="file"] {
  display: none;
}
