:host {
  --sh-border-radius-0: 0;
  --sh-border-radius-1: 0.125rem;
  --sh-border-radius-2: 0.25rem;
  --sh-border-radius-3: 0.5rem;
  --sh-border-radius-4: 1rem;

  --sh-border-radius-circle: 50%;
  --sh-border-radius-pill: 9999px;
}
