:root {
  --sl-spacing-0: 0;
  --sl-spacing-1: 0.25rem;
  --sl-spacing-2: 0.5rem;
  --sl-spacing-3: 0.75rem;
  --sl-spacing-4: 1rem;
  --sl-spacing-5: 1.25rem;
  --sl-spacing-6: 1.5rem;
  --sl-spacing-7: 2rem;
  --sl-spacing-8: 2.5rem;
  --sl-spacing-9: 3rem;
  --sl-spacing-10: 3.5rem;
  --sl-spacing-11: 4rem;
  --sl-spacing-12: 4.5rem;
}
