@use '../../styles/component';
@use '../../styles/mixins/hide';

:host {
  --tabs-border-color: var(--sl-color-gray-200);

  display: block;
}

.tab-group {
  display: flex;
  border: solid 1px transparent;
  border-radius: 0;

  .tab-group__tabs {
    display: flex;
    position: relative;
  }

  .tab-group__indicator {
    position: absolute;
    left: 0;
    transition: var(--sl-transition-fast) transform ease, var(--sl-transition-fast) width ease;
  }

  // Remove the focus ring when the user isn't interacting with a keyboard
  &:not(.focus-visible) ::slotted(sl-tab) {
    --focus-ring: none;
  }
}

.tab-group--has-scroll-controls .tab-group__nav-container {
  position: relative;
  padding: 0 var(--sl-spacing-x-large);
}

.tab-group__scroll-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: var(--sl-spacing-x-large);
}

.tab-group__scroll-button--start {
  left: 0;
}

.tab-group__scroll-button--end {
  right: 0;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Top
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.tab-group--top {
  flex-direction: column;

  .tab-group__nav-container {
    order: 1;
  }

  .tab-group__nav {
    display: flex;
    overflow-x: auto;
    @include hide.hide-scrollbar();
  }

  .tab-group__tabs {
    flex: 1 1 auto;
    position: relative;
    flex-direction: row;
    border-bottom: solid 2px var(--tabs-border-color);
  }

  .tab-group__indicator {
    bottom: -2px;
    border-bottom: solid 2px var(--sl-color-primary-500);
  }

  .tab-group__body {
    order: 2;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Bottom
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.tab-group--bottom {
  flex-direction: column;

  .tab-group__nav-container {
    order: 2;
  }

  .tab-group__nav {
    display: flex;
    overflow-x: auto;
    @include hide.hide-scrollbar();
  }

  .tab-group__tabs {
    flex: 1 1 auto;
    position: relative;
    flex-direction: row;
    border-top: solid 2px var(--tabs-border-color);
  }

  .tab-group__indicator {
    top: calc(-1 * 2px);
    border-top: solid 2px var(--sl-color-primary-500);
  }

  .tab-group__body {
    order: 1;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Left
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.tab-group--start {
  flex-direction: row;

  .tab-group__nav-container {
    order: 1;
  }

  .tab-group__tabs {
    flex: 0 0 auto;
    flex-direction: column;
    border-right: solid 2px var(--tabs-border-color);
  }

  .tab-group__indicator {
    right: calc(-1 * 2px);
    border-right: solid 2px var(--sl-color-primary-500);
  }

  .tab-group__body {
    flex: 1 1 auto;
    order: 2;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Right
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.tab-group--end {
  flex-direction: row;

  .tab-group__nav-container {
    order: 2;
  }

  .tab-group__tabs {
    flex: 0 0 auto;
    flex-direction: column;
    border-left: solid 2px var(--tabs-border-color);
  }

  .tab-group__indicator {
    left: calc(-1 * 2px);
    border-left: solid 2px var(--sl-color-primary-500);
  }

  .tab-group__body {
    flex: 1 1 auto;
    order: 1;
  }
}
