@use '../../styles/component';

:host {
  display: inline-block;
  width: 1em;
  height: 1em;
  contain: strict;
  box-sizing: content-box !important;
}

.icon,
svg {
  display: block;
  height: 100%;
  width: 100%;
}
