.form-control {
  .form-control__label {
    display: none;
  }

  .form-control__help-text {
    display: none;
  }
}

// Label
.form-control--has-label {
  .form-control__label {
    display: inline-block;
    color: var(--sl-input-label-color);
    margin-bottom: var(--sl-spacing-xxx-small);
  }

  &.form-control--small .form-control__label {
    font-size: var(--sl-input-label-font-size-small);
  }

  &.form-control--medium .form-control__label {
    font-size: var(--sl-input-label-font-size-medium);
  }

  &.form-control--large .form-control_label {
    font-size: var(--sl-input-label-font-size-large);
  }
}

// Help text
.form-control--has-help-text {
  .form-control__help-text {
    display: block;
    color: var(--sl-input-help-text-color);

    ::slotted(*) {
      margin-top: var(--sl-spacing-xxx-small);
    }
  }

  &.form-control--small .form-control__help-text {
    font-size: var(--sl-input-help-text-font-size-small);
  }

  &.form-control--medium .form-control__help-text {
    font-size: var(--sl-input-help-text-font-size-medium);
  }

  &.form-control--large .form-control__help-text {
    font-size: var(--sl-input-help-text-font-size-large);
  }
}
