@import 'reset';
@import 'variables';

:host {
  --textarea-padding-x--small: 14px;
  --textarea-padding-x--medium: 14px;
  --textarea-padding-x--large: 14px;

  display: block;
}

.sl-textarea {
  display: flex;
  align-items: center;
  position: relative;
  font-family: var(--input-font-family);
  font-weight: var(--input-font-weight);
  color: var(--input-color);
  background-color: var(--input-background-color);
  border: solid 1px var(--input-border-color);
  vertical-align: middle;
  transition: var(--input-transition-speed) color, var(--input-transition-speed) border,
    var(--input-transition-speed) box-shadow;

  .sl-textarea__control {
    flex: 1 1 auto;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: 1.4;
    color: inherit;
    border: none;
    background: none;
    -webkit-appearance: none;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }

    &::placeholder {
      color: var(--input-placeholder-color);
      user-select: none;
    }

    &:focus {
      outline: none;
    }
  }

  &:hover:not(.sl-textarea--disabled) {
    background-color: var(--input-background-color--hover);
    border-color: var(--input-border-color--hover);
  }

  &.sl-textarea--focused:not(.sl-textarea--disabled) {
    background-color: var(--input-background-color--focus);
    border-color: var(--input-border-color--focus);
    box-shadow: 0 0 0 var(--input-focus-ring-width) var(--input-focus-ring-color);
  }

  &.sl-textarea--disabled {
    background-color: var(--input-background-color--disabled);
    border-color: var(--input-border-color--disabled);
    opacity: 0.5;

    .sl-textarea__control {
      cursor: not-allowed;
    }
  }
}

// Size modifiers
.sl-textarea--small {
  border-radius: var(--input-border-radius--small);
  font-size: var(--input-font-size--small);

  .sl-textarea__control {
    padding: 0.5em var(--textarea-padding-x--small);
  }
}

.sl-textarea--medium {
  border-radius: var(--input-border-radius--medium);
  font-size: var(--input-font-size--medium);

  .sl-textarea__control {
    padding: 0.5em var(--textarea-padding-x--medium);
  }
}

.sl-textarea--large {
  border-radius: var(--input-border-radius--large);
  font-size: var(--input-font-size--large);

  .sl-textarea__control {
    padding: 0.5em var(--textarea-padding-x--large);
  }
}

// Resize
.sl-textarea--resize-none .sl-textarea__control {
  resize: none;
}

.sl-textarea--resize-vertical .sl-textarea__control {
  resize: vertical;
}

.sl-textarea--resize-auto .sl-textarea__control {
  height: auto;
  resize: none;
}
