@import 'component';

:host {
  display: flex;
  align-items: stretch;
  position: relative;
  width: 100%;
  background-color: var(--sl-color-white);
  border: solid 1px var(--sl-color-gray-90);
  border-top-width: 3px;
  border-radius: var(--sl-border-radius-medium);
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-small);
  font-weight: var(--sl-font-weight-normal);
  line-height: 1.6;
  color: var(--sl-color-gray-30);
  opacity: 0;
  transition: var(--sl-transition-medium) opacity ease;

  &[hidden] {
    display: none;
  }
}

:host([open]) {
  opacity: 1;
}

#icon {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  font-size: var(--sl-font-size-large);

  ::slotted(*) {
    margin-left: var(--sl-spacing-large);
  }
}

:host([type='primary']) {
  border-top-color: var(--sl-color-primary-50);

  #icon {
    color: var(--sl-color-primary-50);
  }
}

:host([type='success']) {
  border-top-color: var(--sl-color-success-50);

  #icon {
    color: var(--sl-color-success-50);
  }
}

:host([type='info']) {
  border-top-color: var(--sl-color-info-50);

  #icon {
    color: var(--sl-color-info-50);
  }
}

:host([type='warning']) {
  border-top-color: var(--sl-color-warning-50);

  #icon {
    color: var(--sl-color-warning-50);
  }
}

:host([type='danger']) {
  border-top-color: var(--sl-color-danger-50);

  #icon {
    color: var(--sl-color-danger-50);
  }
}

#message {
  flex: 1 1 auto;
  padding: var(--sl-spacing-large);
  overflow: hidden;
}

#close {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  border-radius: var(--sl-border-radius-small);
  font-family: inherit;
  font-size: var(--sl-font-size-large);
  font-weight: inherit;
  color: var(--sl-color-gray-50);
  padding: 0 var(--sl-spacing-large);
  cursor: pointer;
  transition: var(--sl-transition-fast) color;
  -webkit-appearance: none;

  &:hover,
  &:focus,
  &:active {
    color: var(--sl-color-primary-50);
  }

  &:focus {
    outline: none;
  }
}

:host([data-keyboard]) #close:focus {
  box-shadow: 0 0 0 var(--sl-focus-ring-width)
    hsla(var(--sl-color-primary-hue), var(--sl-color-primary-saturation), 50%, var(--sl-focus-ring-alpha));
}
