@import 'component';

:host {
  /**
   * @prop --box-shadow: The box shadow to render the alert with.
   */
  --box-shadow: none;

  display: block;

  &[hidden] {
    display: none;
  }
}

.sl-alert {
  position: relative;
  display: flex;
  align-items: stretch;
  background-color: var(--sl-color-white);
  border: solid 1px var(--sl-color-gray-90);
  border-radius: var(--sl-border-radius-medium);
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-small);
  font-weight: var(--sl-font-weight-normal);
  line-height: 1.6;
  color: var(--sl-color-gray-30);
  box-shadow: var(--box-shadow);
  opacity: 0;
  transition: var(--sl-transition-medium);
}

.sl-alert--open {
  opacity: 1;
}

.sl-alert__icon {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  font-size: var(--sl-font-size-large);

  ::slotted(*) {
    margin-left: var(--sl-spacing-large);
  }
}

.sl-alert--primary .sl-alert__icon {
  color: var(--sl-color-primary-50);
}

.sl-alert--success .sl-alert__icon {
  color: var(--sl-color-success-50);
}

.sl-alert--info .sl-alert__icon {
  color: var(--sl-color-info-50);
}

.sl-alert--warning .sl-alert__icon {
  color: var(--sl-color-warning-50);
}

.sl-alert--danger .sl-alert__icon {
  color: var(--sl-color-danger-50);
}

.sl-alert__message {
  flex: 1 1 auto;
  padding: var(--sl-spacing-large);
  overflow: hidden;
}

.sl-alert__close {
  flex: 0 0 auto;
  display: flex;
  background: none;
  border: none;
  border-radius: var(--sl-border-radius-small);
  font-family: inherit;
  font-size: var(--sl-font-size-large);
  font-weight: inherit;
  color: var(--sl-color-gray-50);
  padding: 0 var(--sl-spacing-large);
  cursor: pointer;
  transition: var(--sl-transition-fast) color;
  -webkit-appearance: none;

  &:hover,
  &:focus,
  &:active {
    color: var(--sl-color-primary-50);
  }

  &:focus {
    outline: none;
  }
}

.sl-alert--using-keyboard .sl-alert__close:focus {
  box-shadow: 0 0 0 var(--sl-focus-ring-width)
    hsla(var(--sl-color-primary-hue), var(--sl-color-primary-saturation), 50%, var(--sl-focus-ring-alpha));
}
