@import 'component';

:host {
  display: block;
}

.sh-alert {
  position: relative;
  display: flex;
  align-items: stretch;
  background-color: var(--sh-color-white);
  border-left: solid 4px;
  border-radius: 0;
  font-family: var(--sh-font-sans);
  font-size: 14px;
  font-weight: var(--sh-font-weight-normal);
  line-height: 1.6;
  color: var(--sh-color-gray-30);
  transition: 0.2s opacity;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);

  &.sh-alert--closed {
    opacity: 0;
  }

  &[hidden] {
    display: none;
  }

  &.sh-alert--primary {
    border-left-color: var(--sh-color-primary-50);

    .sh-alert__icon ::slotted(*) {
      color: var(--sh-color-primary-50);
    }
  }

  &.sh-alert--success {
    border-left-color: var(--sh-color-success-50);

    .sh-alert__icon ::slotted(*) {
      color: var(--sh-color-success-50);
    }
  }

  &.sh-alert--info {
    border-left-color: var(--sh-color-info-50);

    .sh-alert__icon ::slotted(*) {
      color: var(--sh-color-info-50);
    }
  }

  &.sh-alert--warning {
    border-left-color: var(--sh-color-warning-50);

    .sh-alert__icon ::slotted(*) {
      color: var(--sh-color-warning-50);
    }
  }

  &.sh-alert--danger {
    border-left-color: var(--sh-color-danger-50);

    .sh-alert__icon ::slotted(*) {
      color: var(--sh-color-danger-50);
    }
  }

  .sh-alert__icon {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    ::slotted(*) {
      margin-left: var(--sh-spacing-6);
    }
  }

  .sh-alert__body {
    flex: 1 1 auto;
    padding: var(--sh-spacing-5) var(--sh-spacing-6);
  }

  .sh-alert__close {
    flex: 0 0 auto;
    display: flex;
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: currentColor;
    padding: 0 var(--sh-spacing-6);
    cursor: pointer;
    -webkit-appearance: none;
    transition: var(--sh-form-control-transition-speed) background-color, var(--sh-form-control-transition-speed) color;

    &:hover,
    &:focus {
      background-color: var(--sh-color-gray-95);
      outline: none;
    }

    &:active {
      background-color: var(--sh-color-gray-90);
    }

    svg {
      width: 14px;
      height: 14px;
    }
  }
}
