@import 'component';

:host {
  display: block;

  &[hidden] {
    display: none;
  }
}

.alert {
  position: relative;
  display: flex;
  align-items: stretch;
  background-color: var(--sl-color-white);
  border: solid 1px var(--sl-color-gray-90);
  border-top-width: 3px;
  border-radius: var(--sl-border-radius-medium);
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-small);
  font-weight: var(--sl-font-weight-normal);
  line-height: 1.6;
  color: var(--sl-color-gray-30);
  opacity: 0;
  transition: var(--sl-transition-medium) opacity ease;
}

.alert--open {
  opacity: 1;
}

.alert__icon {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  font-size: var(--sl-font-size-large);

  ::slotted(*) {
    margin-left: var(--sl-spacing-large);
  }
}

.alert--primary {
  border-top-color: var(--sl-color-primary-50);

  .alert__icon {
    color: var(--sl-color-primary-50);
  }
}

.alert--success {
  border-top-color: var(--sl-color-success-50);

  .alert__icon {
    color: var(--sl-color-success-50);
  }
}

.alert--info {
  border-top-color: var(--sl-color-info-50);

  .alert__icon {
    color: var(--sl-color-info-50);
  }
}

.alert--warning {
  border-top-color: var(--sl-color-warning-50);

  .alert__icon {
    color: var(--sl-color-warning-50);
  }
}

.alert--danger {
  border-top-color: var(--sl-color-danger-50);

  .alert__icon {
    color: var(--sl-color-danger-50);
  }
}

.alert__message {
  flex: 1 1 auto;
  padding: var(--sl-spacing-large);
  overflow: hidden;
}

.alert__close {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  font-size: var(--sl-font-size-large);
  padding: 0 var(--sl-spacing-medium);
}
