/*
 * This file contains utility classes that can't be contained in a component and must be applied to the light DOM. None
 * of the rules in this stylesheet should target component tags or HTML tags, and all classes *must* start with ".sl-"
 * to reduce the possibility of collisions.
 */

.sl-scroll-lock {
  overflow: hidden !important;
}

.sl-toast-stack {
  position: fixed;
  top: 0;
  right: 0;
  z-index: var(--sl-z-index-toast);
  width: 28rem;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.sl-toast-stack sl-alert {
  --box-shadow: var(--sl-shadow-large);
  margin: var(--sl-spacing-medium);
}
