@import 'component';

:host {
  --thumb-size: 20px;
  --tooltip-offset-y: 10px;
  --track-height: 6px;

  display: block;
}

.sh-range {
  position: relative;

  .sh-range__control {
    -webkit-appearance: none;
    width: 100%;
    height: var(--sh-form-control-height--medium);
    background: transparent;
    line-height: var(--sh-form-control-height--medium);
    vertical-align: middle;

    // Webkit
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: var(--track-height);
      background-color: var(--sh-color-gray-90);
      border-radius: 3px;
      border: none;
    }

    &::-webkit-slider-thumb {
      border: none;
      width: var(--thumb-size);
      height: var(--thumb-size);
      border-radius: 50%;
      background-color: var(--sh-color-primary-50);
      border: solid var(--sh-form-control-border-width) var(--sh-color-primary-50);
      -webkit-appearance: none;
      margin-top: calc(var(--thumb-size) / -2 + var(--track-height) / 2);
      transition: var(--sh-form-control-transition-speed) border-color,
        var(--sh-form-control-transition-speed) background-color, var(--sh-form-control-transition-speed) color,
        var(--sh-form-control-transition-speed) box-shadow, var(--sh-form-control-transition-speed) transform;
      cursor: pointer;
    }

    &:not(:disabled)::-webkit-slider-thumb:hover {
      background-color: var(--sh-color-primary-60);
      border-color: var(--sh-color-primary-60);
    }

    &:not(:disabled):focus::-webkit-slider-thumb {
      background-color: var(--sh-color-primary-60);
      border-color: var(--sh-color-primary-60);
      box-shadow: var(--sh-focus-ring-box-shadow);
    }

    &:not(:disabled)::-webkit-slider-thumb:active {
      background-color: var(--sh-color-primary-40);
      border-color: var(--sh-color-primary-40);
      cursor: grabbing;
    }

    // Firefox
    &::-moz-focus-outer {
      border: 0;
    }

    &::-moz-range-track {
      width: 100%;
      height: var(--track-height);
      background-color: var(--sh-color-gray-90);
      border-radius: 3px;
      border: none;
    }

    &::-moz-range-thumb {
      border: none;
      height: var(--thumb-size);
      width: var(--thumb-size);
      border-radius: 50%;
      background-color: var(--sh-color-primary-50);
      border-color: var(--sh-color-primary-50);
      transition: var(--sh-form-control-transition-speed) border-color,
        var(--sh-form-control-transition-speed) background-color, var(--sh-form-control-transition-speed) color,
        var(--sh-form-control-transition-speed) box-shadow, var(--sh-form-control-transition-speed) transform;
      cursor: pointer;
    }

    &:not(:disabled)::-moz-range-thumb:hover {
      background-color: var(--sh-color-primary-60);
      border-color: var(--sh-color-primary-60);
    }

    &:not(:disabled):focus::-moz-range-thumb {
      background-color: var(--sh-color-primary-60);
      border-color: var(--sh-color-primary-60);
      box-shadow: var(--sh-focus-ring-box-shadow);
    }

    &:not(:disabled)::-moz-range-thumb:active {
      background-color: var(--sh-color-primary-40);
      border-color: var(--sh-color-primary-40);
      cursor: grabbing;
    }

    // States
    &:focus {
      outline: none;
    }

    &:disabled {
      opacity: 0.5;

      &::-webkit-slider-thumb {
        cursor: not-allowed;
      }

      &::-moz-range-thumb {
        cursor: not-allowed;
      }
    }
  }
}

// Tooltip
.sh-range__tooltip {
  position: absolute;
  left: 1px;
  border-radius: var(--sh-tooltip-border-radius);
  background-color: var(--sh-tooltip-background-color);
  font-family: var(--sh-tooltip-font-family);
  font-size: var(--sh-tooltip-font-size);
  font-weight: var(--sh-tooltip-font-weight);
  line-height: var(--sh-tooltip-line-height);
  color: var(--sh-tooltip-color);
  opacity: 0;
  padding: var(--sh-tooltip-padding-y) var(--sh-tooltip-padding-x);
  transition: var(--sh-form-control-transition-speed) opacity;
  pointer-events: none;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: -6px;
  }
}

.sh-range--focused .sh-range__tooltip {
  opacity: 1;
}

// Tooltip on top
.sh-range--tooltip-top .sh-range__tooltip {
  top: calc(-1 * var(--thumb-size) - var(--tooltip-offset-y));

  &::after {
    border-top: 6px solid var(--sh-tooltip-background-color);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    top: 100%;
    margin-top: -1px;
  }
}

// Tooltip on bottom
.sh-range--tooltip-bottom .sh-range__tooltip {
  bottom: calc(-1 * var(--thumb-size) - var(--tooltip-offset-y));

  &::after {
    border-bottom: 6px solid var(--sh-tooltip-background-color);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    bottom: 100%;
    margin-top: 1px;
  }
}
