@use '../../styles/component';
@use '../../styles/form-control';

:host {
  --thumb-size: 20px;
  --tooltip-offset-y: 10px;
  --track-color: var(--sl-color-gray-200);
  --track-height: 6px;

  display: block;
}

.range {
  position: relative;

  .range__control {
    -webkit-appearance: none;
    width: 100%;
    height: var(--sl-input-height-medium);
    background: transparent;
    line-height: var(--sl-input-height-medium);
    vertical-align: middle;

    // Webkit
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: var(--track-height);
      background-color: var(--track-color);
      border-radius: 3px;
      border: none;
    }

    &::-webkit-slider-thumb {
      border: none;
      width: var(--thumb-size);
      height: var(--thumb-size);
      border-radius: 50%;
      background-color: var(--sl-color-primary-500);
      border: solid var(--sl-input-border-width) var(--sl-color-primary-500);
      -webkit-appearance: none;
      margin-top: calc(var(--thumb-size) / -2 + var(--track-height) / 2);
      transition: var(--sl-transition-fast) border-color, var(--sl-transition-fast) background-color,
        var(--sl-transition-fast) color, var(--sl-transition-fast) box-shadow, var(--sl-transition-fast) transform;
      cursor: pointer;
    }

    &:not(:disabled)::-webkit-slider-thumb:hover {
      background-color: var(--sl-color-primary-400);
      border-color: var(--sl-color-primary-400);
    }

    &:not(:disabled):focus::-webkit-slider-thumb {
      background-color: var(--sl-color-primary-400);
      border-color: var(--sl-color-primary-400);
      box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-focus-ring-color-primary);
    }

    &:not(:disabled)::-webkit-slider-thumb:active {
      background-color: var(--sl-color-primary-500);
      border-color: var(--sl-color-primary-500);
      cursor: grabbing;
    }

    // Firefox
    &::-moz-focus-outer {
      border: 0;
    }

    &::-moz-range-track {
      width: 100%;
      height: var(--track-height);
      background-color: var(--track-color);
      border-radius: 3px;
      border: none;
    }

    &::-moz-range-thumb {
      border: none;
      height: var(--thumb-size);
      width: var(--thumb-size);
      border-radius: 50%;
      background-color: var(--sl-color-primary-500);
      border-color: var(--sl-color-primary-500);
      transition: var(--sl-transition-fast) border-color, var(--sl-transition-fast) background-color,
        var(--sl-transition-fast) color, var(--sl-transition-fast) box-shadow, var(--sl-transition-fast) transform;
      cursor: pointer;
    }

    &:not(:disabled)::-moz-range-thumb:hover {
      background-color: var(--sl-color-primary-400);
      border-color: var(--sl-color-primary-400);
    }

    &:not(:disabled):focus::-moz-range-thumb {
      background-color: var(--sl-color-primary-400);
      border-color: var(--sl-color-primary-400);
      box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-focus-ring-color-primary);
    }

    &:not(:disabled)::-moz-range-thumb:active {
      background-color: var(--sl-color-primary-600);
      border-color: var(--sl-color-primary-600);
      cursor: grabbing;
    }

    // States
    &:focus {
      outline: none;
    }

    &:disabled {
      opacity: 0.5;

      &::-webkit-slider-thumb {
        cursor: not-allowed;
      }

      &::-moz-range-thumb {
        cursor: not-allowed;
      }
    }
  }
}

// Tooltip output
.range__tooltip {
  position: absolute;
  z-index: var(--sl-z-index-tooltip);
  left: 1px;
  border-radius: var(--sl-tooltip-border-radius);
  background-color: var(--sl-tooltip-background-color);
  font-family: var(--sl-tooltip-font-family);
  font-size: var(--sl-tooltip-font-size);
  font-weight: var(--sl-tooltip-font-weight);
  line-height: var(--sl-tooltip-line-height);
  color: var(--sl-tooltip-color);
  opacity: 0;
  padding: var(--sl-tooltip-padding);
  transition: var(--sl-transition-fast) opacity;
  pointer-events: none;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: calc(-1 * var(--sl-tooltip-arrow-size));
  }
}

.range--tooltip-visible .range__tooltip {
  opacity: 1;
}

// Tooltip on top
.range--tooltip-top .range__tooltip {
  top: calc(-1 * var(--thumb-size) - var(--tooltip-offset-y));

  &:after {
    border-top: var(--sl-tooltip-arrow-size) solid var(--sl-tooltip-background-color);
    border-left: var(--sl-tooltip-arrow-size) solid transparent;
    border-right: var(--sl-tooltip-arrow-size) solid transparent;
    top: 100%;
  }
}

// Tooltip on bottom
.range--tooltip-bottom .range__tooltip {
  bottom: calc(-1 * var(--thumb-size) - var(--tooltip-offset-y));

  &:after {
    border-bottom: var(--sl-tooltip-arrow-size) solid var(--sl-tooltip-background-color);
    border-left: var(--sl-tooltip-arrow-size) solid transparent;
    border-right: var(--sl-tooltip-arrow-size) solid transparent;
    bottom: 100%;
  }
}
