@import 'reset';

:host {
  display: block;
}

.sl-range {
  .sl-range__control {
    -webkit-appearance: none;
    width: 100%;
    height: var(--form-control-height--medium);
    background: transparent;
    line-height: var(--form-control-height--medium);
    vertical-align: middle;

    // Webkit
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: var(--range-track-height);
      background-color: var(--range-track-background-color);
      border-radius: var(--range-track-border-radius);
      border: none;
    }

    &::-webkit-slider-thumb {
      border: none;
      width: var(--range-thumb-size);
      height: var(--range-thumb-size);
      border-radius: 50%;
      background-color: var(--color-primary-50);
      -webkit-appearance: none;
      margin-top: calc(var(--range-thumb-size) / -2 + var(--range-track-height) / 2);
      transition: var(--form-control-transition-speed) border-color,
        var(--form-control-transition-speed) background-color, var(--form-control-transition-speed) color,
        var(--form-control-transition-speed) box-shadow;
      cursor: pointer;
    }

    &:not(:disabled)::-webkit-slider-thumb:hover {
      background-color: var(--color-primary-60);
    }

    &:not(:disabled):focus::-webkit-slider-thumb {
      background-color: var(--color-primary-60);
      box-shadow: 0 0 0 var(--focus-ring-width)
        hsla(var(--color-primary-hue), var(--color-primary-saturation), 50%, var(--focus-ring-alpha));
    }

    &:not(:disabled)::-webkit-slider-thumb:active {
      background-color: var(--color-primary-40);
      cursor: grabbing;
    }

    // Firefox
    &::-moz-focus-outer {
      border: 0;
    }

    &::-moz-range-track {
      width: 100%;
      height: var(--range-track-height);
      background-color: var(--range-track-background-color);
      border-radius: var(--range-track-border-radius);
      border: none;
    }

    &::-moz-range-thumb {
      border: none;
      height: var(--range-thumb-size);
      width: var(--range-thumb-size);
      border-radius: 50%;
      background-color: var(--color-primary-50);
      transition: var(--form-control-transition-speed) border-color,
        var(--form-control-transition-speed) background-color, var(--form-control-transition-speed) color,
        var(--form-control-transition-speed) box-shadow;
      cursor: pointer;
    }

    &:not(:disabled)::-moz-range-thumb:hover {
      background-color: var(--color-primary-60);
    }

    &:not(:disabled):focus::-moz-range-thumb {
      background-color: var(--color-primary-60);
      box-shadow: 0 0 0 var(--focus-ring-width)
        hsla(var(--color-primary-hue), var(--color-primary-saturation), 50%, var(--focus-ring-alpha));
    }

    &:not(:disabled)::-moz-range-thumb:active {
      background-color: var(--color-primary-40);
      cursor: grabbing;
    }

    // States
    &:focus {
      outline: none;
    }

    &:disabled {
      opacity: 0.5;

      &::-webkit-slider-thumb {
        cursor: not-allowed;
      }

      &::-moz-range-thumb {
        cursor: not-allowed;
      }
    }
  }
}
