@import 'reset';

:host {
  --focus-ring-box-shadow: var(--sl-focus-ring-box-shadow);
  --height: var(--sl-form-control-height--medium);
  --thumb-background-color--active: var(--sl-color-primary-40);
  --thumb-background-color--focus: var(--sl-color-primary-60);
  --thumb-background-color--hover: var(--sl-color-primary-60);
  --thumb-background-color: var(--sl-color-primary-50);
  --thumb-border-color--active: var(--sl-color-primary-40);
  --thumb-border-color--focus: var(--sl-color-primary-60);
  --thumb-border-color--hover: var(--sl-color-primary-60);
  --thumb-border-color: var(--sl-color-primary-50);
  --thumb-border-width: var(--sl-form-control-border-width);
  --thumb-size: 20px;
  --tooltip-background-color: var(--sl-tooltip-background-color);
  --tooltip-border-radius: var(--sl-tooltip-border-radius);
  --tooltip-color: var(--sl-tooltip-color);
  --tooltip-font-family: var(--sl-tooltip-font-family);
  --tooltip-font-size: var(--sl-tooltip-font-size);
  --tooltip-font-weight: var(--sl-tooltip-font-weight);
  --tooltip-line-height: var(--sl-tooltip-line-height);
  --tooltip-offset-y: 10px;
  --tooltip-padding-x: var(--sl-tooltip-padding-x);
  --tooltip-padding-y: var(--sl-tooltip-padding-y);
  --track-background-color: var(--sl-color-gray-90);
  --track-border-radius: 3px;
  --track-height: 6px;
  --transition-speed: var(--sl-form-control-transition-speed);

  display: block;
}

.sl-range {
  position: relative;

  .sl-range__control {
    -webkit-appearance: none;
    width: 100%;
    height: var(--height);
    background: transparent;
    line-height: var(--height);
    vertical-align: middle;

    // Webkit
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: var(--track-height);
      background-color: var(--track-background-color);
      border-radius: var(--track-border-radius);
      border: none;
    }

    &::-webkit-slider-thumb {
      border: none;
      width: var(--thumb-size);
      height: var(--thumb-size);
      border-radius: 50%;
      background-color: var(--thumb-background-color);
      border: solid var(--thumb-border-width) var(--thumb-border-color);
      -webkit-appearance: none;
      margin-top: calc(var(--thumb-size) / -2 + var(--track-height) / 2);
      transition: var(--transition-speed) border-color, var(--transition-speed) background-color,
        var(--transition-speed) color, var(--transition-speed) box-shadow, var(--transition-speed) transform;
      cursor: pointer;
    }

    &:not(:disabled)::-webkit-slider-thumb:hover {
      background-color: var(--thumb-background-color--hover);
      border-color: var(--thumb-border-color--hover);
    }

    &:not(:disabled):focus::-webkit-slider-thumb {
      background-color: var(--thumb-background-color--focus);
      border-color: var(--thumb-border-color--focus);
      box-shadow: var(--focus-ring-box-shadow);
    }

    &:not(:disabled)::-webkit-slider-thumb:active {
      background-color: var(--thumb-background-color--active);
      border-color: var(--thumb-border-color--active);
      cursor: grabbing;
    }

    // Firefox
    &::-moz-focus-outer {
      border: 0;
    }

    &::-moz-range-track {
      width: 100%;
      height: var(--track-height);
      background-color: var(--track-background-color);
      border-radius: var(--track-border-radius);
      border: none;
    }

    &::-moz-range-thumb {
      border: none;
      height: var(--thumb-size);
      width: var(--thumb-size);
      border-radius: 50%;
      background-color: var(--thumb-background-color);
      border-color: var(--thumb-border-color);
      transition: var(--transition-speed) border-color, var(--transition-speed) background-color,
        var(--transition-speed) color, var(--transition-speed) box-shadow, var(--transition-speed) transform;
      cursor: pointer;
    }

    &:not(:disabled)::-moz-range-thumb:hover {
      background-color: var(--thumb-background-color--hover);
      border-color: var(--thumb-border-color--hover);
    }

    &:not(:disabled):focus::-moz-range-thumb {
      background-color: var(--thumb-background-color--focus);
      border-color: var(--thumb-border-color--focus);
      box-shadow: var(--focus-ring-box-shadow);
    }

    &:not(:disabled)::-moz-range-thumb:active {
      background-color: var(--thumb-background-color--active);
      border-color: var(--thumb-border-color--active);
      cursor: grabbing;
    }

    // States
    &:focus {
      outline: none;
    }

    &:disabled {
      opacity: 0.5;

      &::-webkit-slider-thumb {
        cursor: not-allowed;
      }

      &::-moz-range-thumb {
        cursor: not-allowed;
      }
    }
  }
}

// Tooltip
.sl-range__tooltip {
  position: absolute;
  left: 1px;
  border-radius: var(--tooltip-border-radius);
  background-color: var(--tooltip-background-color);
  font-family: var(--tooltip-font-family);
  font-size: var(--tooltip-font-size);
  font-weight: var(--tooltip-font-weight);
  line-height: var(--tooltip-line-height);
  color: var(--tooltip-color);
  opacity: 0;
  padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
  transition: var(--transition-speed) opacity;
  pointer-events: none;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: -6px;
  }
}

.sl-range--focused .sl-range__tooltip {
  opacity: 1;
}

// Tooltip on top
.sl-range--tooltip-top .sl-range__tooltip {
  top: calc(-1 * var(--thumb-size) - var(--tooltip-offset-y));

  &::after {
    border-top: 6px solid var(--tooltip-background-color);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    top: 100%;
    margin-top: -1px;
  }
}

// Tooltip on bottom
.sl-range--tooltip-bottom .sl-range__tooltip {
  bottom: calc(-1 * var(--thumb-size) - var(--tooltip-offset-y));

  &::after {
    border-bottom: 6px solid var(--tooltip-background-color);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    bottom: 100%;
    margin-top: 1px;
  }
}
