@import 'component';

/**
  * @prop --width: The preferred width of the drawer. Note that the drawer will shrink to accommodate smaller screens.
  */
:host {
  --width: 31rem;

  display: contents;
}

.drawer {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  width: var(--width);
  z-index: var(--sl-z-index-drawer);

  &[hidden] {
    display: none;
  }
}

.drawer--left {
  right: auto;
  left: 0;
}

.drawer--right {
  right: 0;
  left: auto;
}

.drawer__panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 2;
  background-color: var(--sl-color-white);
  box-shadow: var(--sl-shadow-x-large);
  transition: var(--sl-transition-medium) transform;
  overflow: auto;

  &:focus {
    outline: none;
  }
}

.drawer--left .drawer__panel {
  transform: translateX(-100%);
}

.drawer--right .drawer__panel {
  transform: translateX(100%);
}

.drawer--open .drawer__panel {
  transform: translateX(0);
}

.drawer__header {
  display: flex;
}

.drawer__title {
  flex: 1 1 auto;
  font-size: var(--sl-font-size-large);
  line-height: var(--sl-line-height-dense);
  padding: var(--sl-spacing-large);
}

.drawer__close {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  border-radius: var(--sl-border-radius-small);
  font-family: inherit;
  font-size: var(--sl-font-size-x-large);
  font-weight: inherit;
  color: var(--sl-color-gray-50);
  padding: 0 var(--sl-spacing-large);
  cursor: pointer;
  transition: var(--sl-transition-fast) color;
  -webkit-appearance: none;

  &:hover,
  &:focus,
  &:active {
    color: var(--sl-color-primary-50);
  }

  &:focus {
    outline: none;
  }
}

.focus-visible .drawer__close:focus {
  box-shadow: var(--sl-focus-ring-box-shadow);
}

.drawer__body {
  flex: 1 1 auto;
  padding: var(--sl-spacing-large);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.drawer__footer {
  text-align: right;
  padding: var(--sl-spacing-large);

  ::slotted(sl-button:not(:last-of-type)) {
    margin-right: var(--sl-spacing-x-small);
  }
}

.drawer__overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: var(--sl-transition-medium) opacity;
}

.drawer--open .drawer__overlay {
  opacity: 1;
}
