@import 'component';

:host {
  display: inline-block;
}

.icon-button {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  border-radius: var(--sl-border-radius-medium);
  font-size: inherit;
  color: var(--sl-color-gray-50);
  padding: var(--sl-spacing-x-small);
  cursor: pointer;
  transition: var(--sl-transition-medium) color;
  -webkit-appearance: none;

  &:hover:not(.icon-button--disabled),
  &:focus:not(.icon-button--disabled) {
    color: var(--sl-color-primary-50);
  }

  &:active:not(.icon-button--disabled) {
    color: var(--sl-color-primary-40);
  }

  &:focus {
    outline: none;
  }
}

.icon-button--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.focus-visible.icon-button:focus {
  box-shadow: var(--sl-focus-ring-box-shadow);
}
