@use '../../styles/component';

:host {
  --divider-width: 2px;
  --handle-size: 2.5rem;

  display: inline-block;
  position: relative;
}

.image-comparer {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.image-comparer__before,
.image-comparer__after {
  pointer-events: none;

  ::slotted(img),
  ::slotted(svg) {
    display: block;
    max-width: 100% !important;
    height: auto;
  }
}

.image-comparer__after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.image-comparer__divider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: var(--divider-width);
  height: 100%;
  background-color: var(--sl-color-white);
  transform: translateX(calc(var(--divider-width) / -2));
  cursor: ew-resize;
}

.image-comparer__handle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - (var(--handle-size) / 2));
  width: var(--handle-size);
  height: var(--handle-size);
  background-color: var(--sl-color-white);
  border-radius: var(--sl-border-radius-circle);
  font-size: calc(var(--handle-size) * 0.5);
  color: var(--sl-color-gray-500);
  cursor: inherit;
  z-index: 10;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--sl-color-primary-500),
      0 0 0 var(--sl-focus-ring-width) var(--sl-focus-ring-color-primary);
  }
}
