/** ************************************************************* */
/** Global shoelace overrides                                     */
/** ************************************************************* */

:root,
:host,
.sl-theme-light {
  /***** Shoelace variable overrides */

  --sl-font-mono: var(--ts-font-mono);
  --sl-font-sans: var(--ts-font-sans);
  --sl-font-serif: var(--ts-font-serif);
  /* Overlay */
  --sl-overlay-background-color: rgba(var(--ts-color-blue-900-rgb), 0.5);
  /* Border radius */
  --sl-border-radius-small: var(--ts-border-radius-small);
  /* Because Menu component doesn't allow radius to be customized to another radius token */
  /* 8px  */
  --sl-border-radius-medium: var(--sl-border-radius-large);
  /* Shadows */
  --sl-shadow-x-small: var(--ts-shadow-x-small);
  --sl-shadow-small: var(--ts-shadow-small);
  --sl-shadow-medium: var(--ts-shadow-large);
  --sl-shadow-large: var(--ts-shadow-medium);
  --sl-shadow-x-large: var(--ts-shadow-x-large);
  /* Spacing */
  --sl-spacing-large: var(--ts-spacing-large);
  --sl-spacing-2x-large: var(--ts-spacing-2x-large);
  --sl-spacing-4x-large: var(--ts-spacing-4x-large);
  /* Input font color */
  --sl-input-color: var(--ts-color-text-default);
  --sl-input-color-hover: var(--ts-color-text-default);
  --sl-input-color-focus: var(--ts-color-text-default);
  --sl-input-color-disabled: var(--ts-color-text-default);
  --sl-input-placeholder-color: var(--ts-color-text-subdued);
  --sl-input-placeholder-color-disabled: var(--ts-color-text-subdued);
  /* Input icon colors */
  --sl-input-icon-color: var(--sl-color-neutral-700);
  --sl-input-icon-color-hover: var(--sl-color-neutral-700);
  --sl-input-icon-color-focus: var(--sl-color-neutral-700);
  /* Input sizes */
  --sl-input-height-small: var(--ts-input-height-small);
  --sl-input-height-medium: var(--ts-input-height-medium);
  --sl-input-height-large: var(--ts-input-height-large);
  --sl-input-height-x-large: var(--ts-input-height-x-large);
  /* Input border radius */
  --sl-input-border-radius-small: var(--sl-border-radius-small);
  --sl-input-border-radius-medium: var(--sl-border-radius-large);
  --sl-input-border-radius-large: var(--sl-border-radius-large);
  --sl-input-border-radius-x-large: var(--sl-border-radius-x-large);
  /* Input border colors */
  --sl-input-border-color: var(--sl-color-neutral-400);
  --sl-input-border-color-hover: var(--sl-color-neutral-400);
  /* Focus rings */
  --sl-focus-ring-color: rgba(var(--ts-color-blue-500-rgb), 0.5);
  --sl-focus-ring-style: solid;
  --sl-focus-ring-width: 4px;
  --sl-focus-ring: var(--sl-focus-ring-style) var(--sl-focus-ring-width) var(--sl-focus-ring-color);
  --sl-focus-ring-offset: 0;
  --sl-input-focus-ring-color: rgba(var(--ts-color-blue-500-rgb), 0.5);
  /* Panel (used in dropdown menu, popovers, etc.) */
  --sl-panel-background-color: var(--sl-color-neutral-0);
  --sl-panel-border-color: var(--sl-color-neutral-300);
  --sl-panel-border-width: 1px;
}

/** *********************************** */
/** Override aggressive Tailwind resets */
/** *********************************** */

sl-input[type],
sl-input[type]:focus,
sl-input[multiple],
sl-input[multiple]:focus,
sl-input textarea,
sl-input textarea:focus,
sl-input select sl-input,
sl-input select sl-input:focus {
  border-width: 0;
  padding: initial;
  outline: none;
  --tw-ring-color: transparent;
  --tw-ring-offset-shadow: none;
  --tw-ring-shadow: none;
  box-shadow: none;
  border-color: initial;
}

sl-icon[type] {
  border-width: 0;
}

sl-menu {
  border: solid var(--sl-panel-border-color) var(--sl-panel-border-width);
}

sl-divider {
  border-top: solid var(--sl-panel-border-color) var(--sl-panel-border-width);
}

sl-select[multiple] {
  appearance: initial;
  background-color: transparent;
  border: none;
  font-size: initial;
  line-height: initial;
  padding: 0;
}

sl-select[multiple]:focus {
  border-color: initial;
  box-shadow: initial;
  outline: initial;
  outline-offset: initial;
}

/** ************************************************************* */
/** Shoelace component overrides                                  */
/**                                                               */
/** These overrides will eventually be deprecated in favor of     */
/** modifying the styles in the components themselves             */
/** ************************************************************* */

/** ****************** */
/** Alert */
/** ****************** */

sl-alert::part(message) {
  color: var(--ts-color-text-default);
  /* ts-body-2 */
  font-size: var(--ts-font-sm);
  /* 14px */
  letter-spacing: var(--ts-tracking-normal);
  /* normal */
  line-height: var(--ts-leading-5);
  /* 1.25rem * 20px */
}

sl-alert::part(icon) {
  font-size: 24px;
  /* Only needed if we use Heroicons outline set */
}

sl-alert[variant='primary']::part(base) {
  background-color: var(--sl-color-primary-50);
  border: 1px solid var(--sl-color-primary-200);
}

sl-alert[variant='success']::part(base) {
  background-color: var(--sl-color-success-100);
  border: 1px solid var(--sl-color-success-200);
}

sl-alert[variant='success']::part(icon) {
  color: var(--sl-color-success-700);
}

sl-alert[variant='neutral']::part(base) {
  background-color: var(--sl-color-neutral-100);
  border: 1px solid var(--sl-color-neutral-300);
}

sl-alert[variant='neutral']::part(icon) {
  color: var(--sl-color-neutral-600);
}

sl-alert[variant='warning']::part(base) {
  background-color: var(--sl-color-warning-50);
  border: 1px solid var(--sl-color-warning-200);
}

sl-alert[variant='warning']::part(icon) {
  color: var(--sl-color-warning-800);
}

sl-alert[variant='danger']::part(base) {
  background-color: var(--sl-color-danger-100);
  border: 1px solid var(--sl-color-danger-200);
}

sl-alert[variant='danger']::part(icon) {
  color: var(--sl-color-danger-800);
}

sl-alert::part(close-button__base) {
  color: var(--sl-color-neutral-700);
  font-size: 24px;
}

sl-alert::part(close-button__base):hover {
  color: var(--sl-color-neutral-800);
}

sl-alert::part(close-button__base):active {
  color: var(--sl-color-neutral-900);
}

/** ****************** */
/** Button */
/** ****************** */

:root,
:host,
sl-theme {
  /* Button font size override */
  --sl-button-font-size-large: var(--sl-font-size-small);
}

/* Button font weight */
sl-button::part(label) {
  font-weight: var(--ts-font-semibold);
}

/* Button custom colors */

sl-button[variant='primary']::part(base):hover {
  background-color: var(--sl-color-primary-700);
  border-color: var(--sl-color-primary-600);
}

sl-button[variant='primary']::part(base):active {
  background-color: var(--sl-color-primary-800);
  border-color: var(--sl-color-primary-600);
}

sl-button[variant='default']::part(base) {
  background-color: var(--sl-color-neutral-100);
  border-color: var(--sl-color-neutral-300);
  color: var(--ts-color-text-default);
}

sl-button[variant='default']::part(base):hover {
  background-color: var(--sl-color-neutral-200);
  border-color: var(--sl-color-neutral-300);
  color: var(--ts-color-text-default);
}

sl-button[variant='default']::part(base):active {
  background-color: var(--sl-color-neutral-300);
  border-color: var(--sl-color-neutral-300);
  color: var(--ts-color-text-default);
}

sl-button[variant='warning']::part(base) {
  background-color: var(--sl-color-warning-500);
  border-color: var(--sl-color-warning-500);
}

sl-button[variant='warning']::part(label),
sl-button[variant='warning']::part(caret),
sl-button[variant='warning']::part(prefix),
sl-button[variant='warning']::part(suffix) {
  color: var(--ts-color-text-default);
}

sl-button[variant='warning']::part(base):hover {
  background-color: var(--sl-color-warning-600);
  border-color: var(--sl-color-warning-500);
}

sl-button[variant='warning']::part(base):active {
  background-color: var(--sl-color-warning-600);
  border-color: var(--sl-color-warning-500);
  filter: brightness(0.95);
}

sl-button[variant='danger']::part(base) {
  background-color: var(--sl-color-danger-700);
  border-color: var(--sl-color-danger-700);
}

sl-button[variant='danger']::part(base):hover {
  background-color: var(--sl-color-danger-800);
  border-color: var(--sl-color-danger-700);
}

sl-button[variant='danger']::part(base):active {
  background-color: var(--sl-color-danger-900);
  border-color: var(--sl-color-danger-700);
}

/* Outline buttons */

sl-button[outline]::part(base) {
  background-color: transparent;
}

sl-button[variant='default'][outline]::part(base) {
  border-color: var(--sl-color-neutral-400);
}

sl-button[variant='default'][outline]::part(base):hover {
  background-color: var(--sl-color-neutral-200);
  border-color: var(--sl-color-neutral-400);
}

sl-button[variant='default'][outline]::part(base):active {
  background-color: var(--sl-color-neutral-300);
  border-color: var(--sl-color-neutral-400);
}

sl-button[variant='primary'][outline]::part(label),
sl-button[variant='primary'][outline]::part(prefix),
sl-button[variant='primary'][outline]::part(suffix) {
  color: var(--sl-color-primary-600);
}

sl-button[variant='primary'][outline]::part(base) {
  border-color: var(--sl-color-primary-200);
}

sl-button[variant='primary'][outline]::part(base):hover {
  background-color: var(--sl-color-primary-50);
  border-color: var(--sl-color-primary-200);
}

sl-button[variant='primary'][outline]::part(base):active {
  background-color: var(--sl-color-primary-100);
  border-color: var(--sl-color-primary-200);
}

sl-button[variant='warning'][outline]::part(label),
sl-button[variant='warning'][outline]::part(prefix),
sl-button[variant='warning'][outline]::part(suffix) {
  color: var(--sl-color-warning-800);
}

sl-button[variant='warning'][outline]::part(base) {
  border-color: var(--sl-color-warning-400);
}

sl-button[variant='warning'][outline]::part(base):hover {
  background-color: var(--sl-color-warning-100);
  border-color: var(--sl-color-warning-400);
}

sl-button[variant='warning'][outline]::part(base):active {
  background-color: var(--sl-color-warning-200);
  border-color: var(--sl-color-warning-400);
}

sl-button[variant='danger'][outline]::part(label),
sl-button[variant='danger'][outline]::part(prefix),
sl-button[variant='danger'][outline]::part(suffix) {
  color: var(--sl-color-danger-800);
}

sl-button[variant='danger'][outline]::part(base) {
  border-color: var(--sl-color-danger-200);
}

sl-button[variant='danger'][outline]::part(base):hover {
  background-color: var(--sl-color-danger-100);
  border-color: var(--sl-color-danger-200);
}

sl-button[variant='danger'][outline]::part(base):active {
  background-color: var(--sl-color-danger-300);
  border-color: var(--sl-color-danger-200);
}

/* Button custom font size + padding */

sl-button[size='medium']::part(base) {
  padding: 0 var(--sl-spacing-medium);
  /* 16px */
}

sl-button[size='medium']::part(label) {
  padding: 0 var(--sl-spacing-x-small);
  /* 8px */
}

sl-button[size='large']::part(base) {
  padding: 0 20px;
}

sl-button[size='large']::part(label) {
  padding: 0 var(--sl-spacing-small);
  /* 12px */
}

sl-button[size='x-large']::part(base) {
  padding: 0 var(--sl-spacing-2x-large);
  /* 32px */
}

sl-button[size='x-large']::part(label) {
  font-size: var(--ts-font-base);
  /* 16px */
  line-height: calc(var(--sl-spacing-4x-large) - var(--sl-input-border-width) * 2);
  padding: 0 var(--sl-spacing-x-small);
  /* 8px */
}

sl-button[size='medium']::part(caret),
sl-button[size='medium']::part(prefix),
sl-button[size='medium']::part(suffix),
sl-button[size='medium'][circle]::part(label) {
  font-size: var(--ts-font-base);
  /* 16px */
}

sl-button[size='large']::part(caret),
sl-button[size='large']::part(prefix),
sl-button[size='large']::part(suffix),
sl-button[size='large'][circle]::part(label) {
  font-size: var(--ts-font-xl);
  /* 20px */
}

sl-button[size='x-large']::part(caret),
sl-button[size='x-large']::part(prefix),
sl-button[size='x-large']::part(suffix),
sl-button[size='x-large'][circle]::part(label) {
  font-size: var(--ts-font-2xl);
  /* 24px */
}

/* To remove default padding from split buttons */
sl-button.no-pad-l::part(base) {
  padding-left: 0;
}

sl-button.no-pad-r::part(base) {
  padding-right: 0;
}

/* To remove margin from buttons that are slotted, so that a gap style can be added to the  parent part */
sl-button.no-gap {
  margin: 0;
}

/** ****************** */
/** Card */
/** ****************** */

sl-card {
  --border-color: var(--sl-color-neutral-300);
}

/** ****************** */
/* Checkbox & radio */
/** ****************** */

sl-checkbox::part(control) {
  border-radius: var(--ts-border-radius-x-small);
}

/* Replace Shoelace checkbox with custom svg */
sl-checkbox::part(checked-icon) {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.0242 3.17579C10.1367 3.28831 10.1999 3.4409 10.1999 3.59999C10.1999 3.75909 10.1367 3.91168 10.0242 4.02419L5.2242 8.82419C5.11168 8.93668 4.9591 8.99987 4.8 8.99987C4.6409 8.99987 4.48832 8.93668 4.3758 8.82419L1.9758 6.42419C1.86651 6.31103 1.80603 6.15947 1.8074 6.00215C1.80876 5.84484 1.87186 5.69435 1.98311 5.5831C2.09435 5.47186 2.24484 5.40876 2.40216 5.40739C2.55948 5.40602 2.71104 5.4665 2.8242 5.57579L4.8 7.55159L9.1758 3.17579C9.28832 3.06331 9.4409 3.00012 9.6 3.00012C9.7591 3.00012 9.91168 3.06331 10.0242 3.17579Z' fill='white' stroke='white'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
}

sl-checkbox::part(label),
sl-radio::part(label) {
  margin-inline-start: 0.75em;
}

sl-radio::part(base) {
  margin-top: var(--sl-spacing-medium);
}

/** ****************** */
/** Details */
/** ****************** */

sl-details::part(base) {
  border: 1px solid var(--sl-color-neutral-300);
}

/* To add a card shadow around the details block */
sl-details.card-shadow::part(base) {
  box-shadow: var(--sl-shadow-x-small);
}

/* To remove the border around the details block */
sl-details.no-border::part(base) {
  border: 0;
}

/** ****************** */
/** Dialog */
/** ****************** */

sl-dialog {
  --body-spacing: 0 16px;
  --footer-spacing: 16px;
  --header-spacing: 24px 16px 16px;
}

sl-dialog::part(panel) {
  border-radius: var(--sl-border-radius-x-large);
  box-shadow: var(--sl-shadow-x-large);
}

sl-dialog::part(close-button) {
  display: none;
}

sl-dialog::part(footer) {
  display: flex;
  gap: var(--sl-spacing-x-small);
  justify-content: flex-end;
}

sl-dialog::part(title) {
  /* ts-heading-6 */
  font-size: var(--ts-font-xl);
  /* 20px */
  font-weight: var(--ts-font-medium);
  /* 500 */
  letter-spacing: var(--ts-tracking-tight);
  /* -0.025em */
  line-height: var(--ts-leading-6);
  /* 1.5rem * 24px */
}

sl-dialog::part(body) {
  color: var(--ts-color-text-subdued);
  /* ts-body-1 */
  font-size: var(--ts-font-base);
  /* 16px */
  font-weight: var(--ts-font-normal);
  /* 400 */
  letter-spacing: var(--ts-tracking-normal);
  /* normal */
  line-height: var(--ts-leading-6);
  /* 1.5rem * 24px */
}

sl-dialog.small::part(body) {
  color: var(--ts-color-text-subdued);
  /* ts-body-2 */
  font-size: var(--ts-font-sm);
  /* 14px */
  font-weight: var(--ts-font-normal);
  /* 400 */
  letter-spacing: var(--ts-tracking-normal);
  /* normal */
  line-height: var(--ts-leading-5);
  /* 1.25rem * 20px */
}

@media (max-width: 400px) {
  sl-dialog {
    height: max-content;
    max-height: 90vh;
  }

  sl-dialog.has-icon > div {
    display: flex;
    flex-direction: column;
  }

  sl-dialog.has-icon > div > :first-child {
    margin-bottom: var(--sl-spacing-medium);
    /* 16px */
  }

  /* Make footer buttons go full width at < 400px */
  sl-dialog::part(footer) {
    flex: 1 0 100%;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}

@media (min-width: 401px) {
  sl-dialog {
    --body-spacing: 0 32px;
    --footer-spacing: 24px 32px;
    --header-spacing: 32px 0 16px 32px;
  }

  sl-dialog.has-icon {
    --body-spacing: 0 32px 0 80px;
    --header-spacing: 32px 0 16px 24px;
  }

  sl-dialog.has-icon > div {
    align-items: center;
    display: flex;
  }

  sl-dialog.has-icon > div * {
    margin-right: var(--sl-spacing-medium);
    /* 16px */
  }

  sl-dialog::part(close-button) {
    align-items: center;
    display: flex;
    flex: none;
    padding: 24px 24px 16px 16px;
  }

  sl-dialog::part(close-button__base) {
    font-size: 24px;
    padding: var(--sl-spacing-2x-small);
  }

  /* Dialog widths, only apply at > 401px */

  sl-dialog {
    --width: 480px;
  }

  sl-dialog.small {
    --width: 400px;
  }

  sl-dialog.large {
    --width: 600px;
  }
}

/** ****************** */
/** Divider */
/** ****************** */

sl-divider {
  --color: var(--sl-color-neutral-300);
}

/** ****************** */
/** Drawer */
/** ****************** */
sl-drawer::part(panel) {
  border-radius: 0;
}

/** ****************** */
/** Dropdown */
/** ****************** */

/* Prevent panel corners from peeking out past rounded edges. */
sl-dropdown::part(panel) {
  overflow: hidden;
}

/** ****************** */
/** Forms */
/** ****************** */
:root,
:host,
sl-theme {
  /* input font size override */
  --sl-input-font-size-large: var(--sl-font-size-medium);
}

/* Form label, help text, input styling */

::part(form-control-label) {
  color: var(--ts-color-text-default);
  font-size: var(--ts-font-sm);
  /* 14px */
  font-weight: var(--ts-font-medium);
  /* 500 */
  letter-spacing: var(--ts-tracking-normal);
  /* normal */
  line-height: var(--ts-leading-5);
  /* 1.25rem * 20px */
}

::part(form-control-help-text) {
  color: var(--ts-color-text-subdued);
  font-size: var(--ts-font-sm);
  /* 14px */
  font-weight: var(--ts-font-normal);
  /* 400 */
  letter-spacing: var(--ts-tracking-normal);
  /* normal */
  line-height: var(--ts-leading-5);
  /* 1.25rem * 20px */
  margin-top: var(--sl-spacing-x-small);
  /* .5rem * 8px */
}

::part(form-control-input) {
  margin: var(--sl-spacing-2x-small) 0 0;
}

::part(input),
::part(textarea) {
  color: var(--ts-color-text-default);
  padding: var(--sl-spacing-x-small) var(--sl-spacing-medium);
}

sl-select::part(control):not(:focus),
sl-input::part(input):not(:focus),
sl-textarea::part(textarea):not(:focus) {
  box-shadow: var(--sl-shadow-small);
}

/* Set prefix icon color to subdued text color */
sl-select::part(prefix),
sl-input::part(prefix),
sl-input::part(suffix) {
  color: var(--ts-color-text-subdued);
}

/* Set color of text displayed in select */
sl-select::part(display-input) {
  color: var(--ts-color-text-default);
}

/** ****************** */
/** Icon */
/** ****************** */

sl-icon.info::part(base) {
  color: var(--ts-color-text-info);
}

sl-icon.info {
  background: var(--ts-color-blue-100);
}

sl-icon.warning::part(base) {
  color: var(--ts-color-text-warning);
}

sl-icon.warning {
  background: var(--ts-color-yellow-100);
}

sl-icon.danger::part(base) {
  color: var(--ts-color-text-danger);
}

sl-icon.danger {
  background: var(--ts-color-red-100);
}

sl-icon.contained {
  border-radius: var(--sl-border-radius-circle);
  flex-shrink: 0;
  font-size: var(--ts-font-2xl);
  /* 24px */
  padding: var(--sl-spacing-x-small);
}

/** ********** **/
/* Icon button custom */
/** ********** **/
sl-icon-button::part(base),
sl-dialog::part(close-button__base) {
  border-radius: var(--sl-border-radius-circle);
  color: var(--ts-color-text-subdued);
}

sl-icon-button::part(base):hover,
sl-dialog::part(close-button__base):hover {
  background-color: var(--sl-color-neutral-200);
  color: var(--ts-color-text-default);
}

sl-icon-button::part(base):active,
sl-dialog::part(close-button__base):active {
  background-color: var(--sl-color-neutral-300);
  color: var(--ts-color-text-default);
}

/** ****************** */
/** Menu */
/** ****************** */

/* Menu panel styling */

::part(panel) {
  border-radius: var(--sl-border-radius-large);
  box-shadow: var(--sl-shadow-medium);
}

/* Control gap between dropdown & menu panel */
sl-dropdown::part(panel) {
  margin-top: var(--sl-spacing-2x-small);
}

/* Menu item styling */

/* Undo Tailwind resets */
sl-menu-item[type] {
  display: block;
  width: initial;
  height: initial;
  border: none;
  padding: initial;
  margin: initial;
}

sl-menu-item[type]:focus {
  outline: none;
  box-shadow: none;
}

sl-menu-item::part(base) {
  color: var(--ts-color-text-default);
  padding: var(--sl-spacing-x-small) var(--sl-spacing-2x-small);
}

sl-menu-item:hover::part(base),
sl-menu-item:focus::part(base),
sl-menu-item:focus-visible::part(base) {
  background-color: var(--sl-color-neutral-100);
  color: var(--ts-color-text-default);
}

sl-menu-item[disabled]:hover::part(base) {
  background-color: var(--sl-color-neutral-0);
}

sl-menu-item:active::part(base) {
  background-color: var(--sl-color-neutral-200);
  color: var(--ts-color-text-default);
}

sl-menu-item::part(label) {
  font-size: var(--sl-font-size-small);
  line-height: var(--ts-leading-5);
}

/* Menu label styling */

sl-menu-label::part(base) {
  color: var(--ts-color-text-subdued);
  font-size: var(--sl-font-size-x-small);
  font-weight: var(--sl-font-weight-normal);
}

/** ****************** */
/** Select */
/** ****************** */

/* Control gap between select & menu panel */
sl-select::part(listbox) {
  margin-top: var(--sl-spacing-x-small);
}

/* Option styling */

sl-option::part(base) {
  color: var(--ts-color-text-default);
  padding: var(--sl-spacing-x-small) var(--sl-spacing-2x-small);
}

sl-option[tabindex='0']::part(base) {
  background-color: var(--sl-color-neutral-100);
  color: var(--ts-color-text-default);
}

sl-option:hover::part(base),
sl-option:focus::part(base),
sl-option:focus-visible::part(base) {
  background-color: var(--sl-color-neutral-100);
  color: var(--ts-color-text-default);
}

sl-option[disabled]:hover::part(base) {
  background-color: var(--sl-color-neutral-0);
}

sl-option:active::part(base) {
  background-color: var(--sl-color-neutral-200);
  color: var(--ts-color-text-default);
}

sl-option::part(checked-icon) {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 20 20' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z' fill='%232e333c' stroke='none'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  padding-right: var(--sl-spacing-x-small);
}

sl-option::part(label) {
  font-size: var(--sl-font-size-small);
  line-height: var(--ts-leading-5);
}

/* Select menu label styling */

sl-menu-label::part(base),
sl-select > small {
  color: var(--ts-color-text-subdued);
  font-size: var(--sl-font-size-x-small);
  font-weight: var(--sl-font-weight-semibold);
}

/** ****************** */
/* Switch & range */
/** ****************** */

sl-switch[size='small'] {
  --height: calc(var(--sl-toggle-size-small) + 6px);
  --thumb-size: calc(var(--sl-toggle-size-small) + 4px);
  --width: calc(var(--height) * 1.8);
}

sl-switch[size='medium'] {
  --height: calc(var(--sl-toggle-size-medium) + 6px);
  --thumb-size: calc(var(--sl-toggle-size-medium) + 4px);
  --width: calc(var(--height) * 1.8);
}

sl-switch[size='large'] {
  --height: calc(var(--sl-toggle-size-large) + 6px);
  --thumb-size: calc(var(--sl-toggle-size-large) + 4px);
  --width: calc(var(--height) * 1.8);
}

sl-range::part(input) {
  padding: 0;
}

sl-range {
  --track-height: var(--sl-spacing-x-small);
  /* 8px */
  --track-color-active: var(--sl-color-neutral-300);
  --track-color-inactive: var(--sl-color-neutral-300);
}

/** ****************** */
/** Tooltip */
/** ****************** */

:root,
:host,
sl-theme {
  /* Tooltip border radius override */
  --sl-tooltip-border-radius: var(--ts-border-radius-x-small);
}
