@import 'component';

:host {
  display: inline-block;
}

.sl-checkbox {
  display: flex;
  align-items: center;
  font-family: var(--sl-input-font-family);
  font-size: var(--sl-input-font-size-medium);
  font-weight: var(--sl-input-font-weight);
  color: var(--sl-input-color);
  vertical-align: middle;
  cursor: pointer;
}

.sl-checkbox__control {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--sl-toggle-size);
  height: var(--sl-toggle-size);
  border: solid var(--sl-input-border-width) var(--sl-input-border-color);
  border-radius: 2px;
  background-color: var(--sl-input-background-color);
  color: var(--sl-color-white);
  transition: var(--sl-transition-fast) border-color, var(--sl-transition-fast) background-color,
    var(--sl-transition-fast) color, var(--sl-transition-fast) box-shadow;

  input[type='checkbox'] {
    position: absolute;
    opacity: 1;
    padding: 0;
    margin: 0;
    pointer-events: none;
    -webkit-appearance: none;
  }

  .sl-checkbox__icon {
    display: flex;
    width: var(--sl-toggle-size);
    height: var(--sl-toggle-size);

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

// Hover
.sl-checkbox:not(.sl-checkbox--checked):not(.sl-checkbox--disabled) .sl-checkbox__control:hover {
  border-color: var(--sl-input-border-color-hover);
  background-color: var(--sl-input-background-color-hover);
}

// Focus
.sl-checkbox.sl-checkbox--focused:not(.sl-checkbox--checked):not(.sl-checkbox--disabled) .sl-checkbox__control {
  border-color: var(--sl-input-border-color-focus);
  background-color: var(--sl-input-background-color-focus);
  box-shadow: var(--sl-focus-ring-box-shadow);
}

// Checked/indeterminate
.sl-checkbox--checked .sl-checkbox__control,
.sl-checkbox--indeterminate .sl-checkbox__control {
  border-color: var(--sl-color-primary-50);
  background-color: var(--sl-color-primary-50);
}

// Checked/indeterminate + hover
.sl-checkbox.sl-checkbox--checked:not(.sl-checkbox--disabled) .sl-checkbox__control:hover,
.sl-checkbox.sl-checkbox--indeterminate:not(.sl-checkbox--disabled) .sl-checkbox__control:hover {
  border-color: var(--sl-color-primary-60);
  background-color: var(--sl-color-primary-60);
}

// Checked/indeterminate + focus
.sl-checkbox.sl-checkbox--checked:not(.sl-checkbox--disabled).sl-checkbox--focused .sl-checkbox__control,
.sl-checkbox.sl-checkbox--indeterminate:not(.sl-checkbox--disabled).sl-checkbox--focused .sl-checkbox__control {
  border-color: var(--sl-color-primary-60);
  background-color: var(--sl-color-primary-60);
  box-shadow: var(--sl-focus-ring-box-shadow);
}

// Disabled
.sl-checkbox--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sl-checkbox__label {
  line-height: var(--sl-toggle-size);
  margin-left: 0.5em;
  user-select: none;
}
