@import 'reset';
@import 'variables';

$checkbox-font-family: $font-sans-serif !default;
$checkbox-font-size: $form-control-font-size--medium !default;
$checkbox-font-weight: $font-weight-normal !default;
$checkbox-color: $form-control-color !default;
$checkbox-size: $checkbox-font-size !default;
$checkbox-border-radius: 2px !default;

$checkbox-background-color: $color-white !default;
$checkbox-background-color--hover: $checkbox-background-color !default;
$checkbox-background-color--focus: $checkbox-background-color !default;
$checkbox-background-color--checked: $color-primary !default;
$checkbox-background-color--checked--hover: tint($checkbox-background-color--checked, 15%) !default;
$checkbox-background-color--checked--focus: tint($checkbox-background-color--checked, 15%) !default;

$checkbox-border-color: $form-control-border-color !default;
$checkbox-border-color--hover: $color-primary !default;
$checkbox-border-color--focus: $checkbox-border-color--hover !default;
$checkbox-border-color--checked: $color-primary !default;
$checkbox-border-color--checked--hover: tint($checkbox-border-color--checked, 15%) !default;
$checkbox-border-color--checked--focus: tint($checkbox-border-color--checked, 15%) !default;

$checkbox-tick-color: $color-white !default;
$checkbox-tick-color--hover: $checkbox-tick-color !default;
$checkbox-tick-color--focus: $checkbox-tick-color !default;

$checkbox-transition: 100ms border-color, 100ms background-color, 100ms color !default;

:host {
  display: inline-block;
}

.sl-checkbox {
  display: flex;
  align-items: center;
  font-family: $checkbox-font-family;
  font-size: $checkbox-font-size;
  font-weight: $checkbox-font-weight;
  color: $checkbox-color;
  vertical-align: middle;
  cursor: pointer;
}

.sl-checkbox__control {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $checkbox-size;
  height: $checkbox-size;
  border: solid 1px $checkbox-border-color;
  border-radius: $checkbox-border-radius;
  background-color: $checkbox-background-color;
  color: $checkbox-tick-color;
  transition: $checkbox-transition;

  input[type='checkbox'] {
    position: absolute;
    opacity: 1;
    padding: 0;
    margin: 0;
    pointer-events: none;
    -webkit-appearance: none;
  }

  svg {
    width: $checkbox-size;
    height: $checkbox-size;
  }
}

// Hover
.sl-checkbox:not(.sl-checkbox--checked):not(.sl-checkbox--disabled) .sl-checkbox__control:hover {
  border-color: $checkbox-border-color--hover;
  background-color: $checkbox-background-color--hover;
}

// Focus
.sl-checkbox.sl-checkbox--focused:not(.sl-checkbox--checked):not(.sl-checkbox--disabled) .sl-checkbox__control {
  border-color: $checkbox-border-color--focus;
  background-color: $checkbox-background-color--focus;
}

// Checked/indeterminate
.sl-checkbox--checked .sl-checkbox__control,
.sl-checkbox--indeterminate .sl-checkbox__control {
  border-color: $checkbox-border-color--checked;
  background-color: $checkbox-background-color--checked;
}

// Checked/indeterminate + hover
.sl-checkbox.sl-checkbox--checked:not(.sl-checkbox--disabled) .sl-checkbox__control:hover,
.sl-checkbox.sl-checkbox--indeterminate:not(.sl-checkbox--disabled) .sl-checkbox__control:hover {
  border-color: $checkbox-border-color--checked--hover;
  background-color: $checkbox-background-color--checked--hover;
  color: $checkbox-tick-color--hover;
}

// Checked/indeterminate + focus
.sl-checkbox.sl-checkbox--checked:not(.sl-checkbox--disabled).sl-checkbox--focused .sl-checkbox__control,
.sl-checkbox.sl-checkbox--indeterminate:not(.sl-checkbox--disabled).sl-checkbox--focused .sl-checkbox__control {
  border-color: $checkbox-border-color--checked--focus;
  background-color: $checkbox-background-color--checked--focus;
  color: $checkbox-tick-color--focus;
}

// Disabled
.sl-checkbox--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sl-checkbox__label {
  margin-left: 0.5em;
  user-select: none;
}
