@use '../../styles/component';

:host {
  display: block;
}

.menu-item {
  position: relative;
  display: flex;
  align-items: stretch;
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-normal);
  line-height: var(--sl-line-height-normal);
  letter-spacing: var(--sl-letter-spacing-normal);
  text-align: left;
  color: var(--sl-color-gray-700);
  padding: var(--sl-spacing-xx-small) var(--sl-spacing-x-large);
  transition: var(--sl-transition-fast) fill;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;

  &.menu-item--disabled {
    outline: none;
    color: var(--sl-color-gray-400);
    cursor: not-allowed;
  }

  .menu-item__label {
    flex: 1 1 auto;
  }

  .menu-item__prefix {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    ::slotted(*) {
      margin-right: var(--sl-spacing-x-small);
    }
  }

  .menu-item__suffix {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    ::slotted(*) {
      margin-left: var(--sl-spacing-x-small);
    }
  }
}

:host(:focus) {
  outline: none;
}

:host(:hover:not([aria-disabled='true'])) .menu-item,
:host(:focus:not([aria-disabled='true'])) .menu-item {
  outline: none;
  background-color: var(--sl-color-primary-500);
  color: var(--sl-color-white);
}

.menu-item .menu-item__check {
  display: flex;
  position: absolute;
  left: 0.5em;
  top: calc(50% - 0.5em);
  visibility: hidden;
  align-items: center;
  font-size: inherit;
}

.menu-item--checked .menu-item__check {
  visibility: visible;
}
