@import 'component';

.sl-dialog {
  display: none;
  position: relative;
  z-index: var(--sl-z-index-dialog);

  &.sl-dialog--open {
    display: block;
  }
}

.sl-dialog__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.sl-dialog__box {
  position: relative;
  z-index: calc(var(--sl-z-index-dialog) + 1);
  background: var(--sl-color-white);
  border: solid 1px var(--sl-color-gray-90);
  border-radius: var(--sl-border-radius-medium);
  box-shadow: var(--sl-shadow-x-large);
  padding: var(--sl-spacing-medium);
}
