@use '../../styles/component';

:host {
  --focus-ring: inset 0 0 0 var(--sl-focus-ring-width) var(--sl-focus-ring-color-primary);

  display: inline-block;
}

.tab {
  display: inline-flex;
  align-items: center;
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-small);
  font-weight: var(--sl-font-weight-semibold);
  border-radius: 4px;
  color: var(--sl-color-gray-600);
  padding: var(--sl-spacing-medium) var(--sl-spacing-large);
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: var(--transition-speed) box-shadow, var(--transition-speed) color;

  &:hover:not(.tab--disabled) {
    color: var(--sl-color-primary-500);
  }

  &:focus {
    outline: none;
  }

  &:focus:not(.tab--disabled) {
    color: var(--sl-color-primary-500);
    box-shadow: var(--focus-ring);
  }

  &.tab--active:not(.tab--disabled) {
    color: var(--sl-color-primary-500);
  }

  &.tab--closable {
    padding-right: var(--sl-spacing-small);
  }

  &.tab--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.tab__close-button {
  font-size: var(--sl-font-size-large);
  margin-left: var(--sl-spacing-xx-small);

  &::part(base) {
    padding: var(--sl-spacing-xxx-small);
  }
}
