@import 'reset';

:host {
  display: inline-block;
}

.sl-tab {
  font-family: var(--tab-font-family);
  font-size: var(--tab-font-size);
  font-weight: var(--tab-font-weight);
  border-radius: 4px;
  color: var(--tab-color);
  padding: var(--spacing-4) var(--spacing-5);
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: var(--tab-transition-speed) border-color, var(--tab-transition-speed) background-color,
    var(--tab-transition-speed) box-shadow, var(--tab-transition-speed) color;

  &.sl-tab--active {
    color: var(--color-primary-50);
  }

  &:hover:not(.sl-tab--disabled) {
    color: var(--color-primary-50);
  }

  &:focus {
    outline: none;
  }

  &:focus:not(.sl-tab--disabled) {
    box-shadow: inset 0 0 0 var(--focus-ring-width)
      hsla(var(--color-primary-hue), var(--color-primary-saturation), 50%, var(--focus-ring-alpha));
  }

  &.sl-tab--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
