@use '../../styles/component';

:host {
  display: block;
}

.menu-label {
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-small);
  font-weight: var(--sl-font-weight-normal);
  line-height: var(--sl-line-height-normal);
  letter-spacing: var(--sl-letter-spacing-normal);
  color: var(--sl-color-gray-400);
  padding: var(--sl-spacing-xx-small) var(--sl-spacing-x-large);
  user-select: none;
}
