@import 'reset';
@import 'variables';

$dropdown-item-padding-x: $menu-padding-x !default;
$dropdown-item-padding-y: $menu-padding-y !default;
$dropdown-item-transition-speed: 100ms !default;

:host {
  display: block;
}

.s-dropdown-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  transition: $dropdown-item-transition-speed color, $dropdown-item-transition-speed background-color,
    $dropdown-item-transition-speed fill;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;

  &.s-dropdown-item--active:not(.s-dropdown-item--disabled) {
    background-color: $menu-background-color--hover;
    color: $menu-color--hover;
  }

  &.s-dropdown-item--disabled {
    color: $menu-color--disabled;
    cursor: default;
  }

  .s-dropdown-item__check {
    display: flex;
    position: absolute;
    left: 11px;
    visibility: hidden;
    align-items: center;

    svg {
      height: 12px;
    }
  }

  .s-dropdown-item__label {
    flex: 1 1 auto;
  }

  .s-dropdown-item__prefix:empty,
  .s-dropdown-item__suffix:empty {
    display: none;
  }

  .s-dropdown-item__prefix:not(:empty) {
    flex: 0 0 auto;
    margin-right: 0.5em;
  }

  .s-dropdown-item__suffix:not(:empty) {
    flex: 0 0 auto;
    margin-left: 0.5em;
  }
}

.s-dropdown-item--checked .s-dropdown-item__check {
  visibility: visible;
}
