@import 'component';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Base styles
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

:host {
  display: block;
}

.sh-dropdown-item {
  position: relative;
  display: flex;
  align-items: stretch;
  background-color: var(--sh-menu-item-background-color);
  color: var(--sh-menu-item-color);
  padding: var(--sh-menu-padding-y) var(--sh-menu-padding-x);
  transition: var(--sh-form-control-transition-speed) color, var(--sh-form-control-transition-speed) background-color,
    var(--sh-form-control-transition-speed) fill;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;

  &.sh-dropdown-item--active:not(.sh-dropdown-item--disabled) {
    background-color: var(--sh-menu-item-background-color--active);
    color: var(--sh-menu-item-color--active);
  }

  &.sh-dropdown-item--disabled {
    background-color: var(--sh-menu-item-background-color--disabled);
    color: var(--sh-menu-item-color--disabled);
    cursor: not-allowed;
  }

  .sh-dropdown-item__label {
    flex: 1 1 auto;
  }

  .sh-dropdown-item__prefix {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    ::slotted(:last-child) {
      margin-right: 0.5em;
    }
  }

  .sh-dropdown-item__suffix {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    ::slotted(:first-child) {
      margin-left: 0.5em;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Checked state
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sh-dropdown-item .sh-dropdown-item__check {
  display: flex;
  position: absolute;
  left: 11px;
  top: calc(50% - 7px);
  visibility: hidden;
  align-items: center;

  svg {
    width: 14px;
    height: 14px;
  }
}

.sh-dropdown-item--checked .sh-dropdown-item__check {
  visibility: visible;
}
