:host {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  position: relative;
  display: inline-flex;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  width: var(--cell-inline-width, 2.4rem);
  height: var(--cell-inline-height, 2.4rem);
  font-size: var(--sl-font-size-medium);
  border-radius: var(--sl-border-radius-medium);
  cursor: pointer;

  &.week-day {
    cursor: default;
    font-size: var(--sl-font-size-medium);
    font-weight: var(--sl-font-weight-bold);
    text-transform: uppercase;
  }

  &.today {
    color: var(--sl-color-success-500) !important;
    background-color: var(--sl-color-success-100) !important;
    border: 1px solid var(--sl-color-success-500);
  }

  &.start,
  &.end,
  &.selected,
  &.sibling-months.selected {
    color: var(--sl-color-white) !important;
    background-color: var(--sl-color-primary-500) !important;
    border: 1px solid var(--sl-color-primary-500);
  }

  &.range {
    color: var(--sl-color-primary-500) !important;
    background-color: var(--sl-color-primary-100) !important;
    border: 1px solid var(--sl-color-primary-500);
  }

  &.sibling-months {
    visibility: var(--sibling-months-visibility);
    color: var(--sl-color-gray-300);
    background-color: var(--sl-color--white);
  }

  &.month:focus,
  &.year:focus,
  &.day:focus {
    outline: none;
    color: var(--sl-color-primary-500);
    border-color: var(--sl-color-primary-300);
    box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-focus-ring-color-primary);
  }

  &.month:hover:not(td.selected),
  &.year:hover:not(td.selected),
  &.day:hover:not(td.selected) {
    color: var(--sl-color-primary-500);
    background-color: var(--sl-color-primary-100);
    border: 1px solid var(--sl-color-primary-500);
    outline: none;
  }

  &.disabled,
  &.not-allowed {
    color: var(--sl-color-gray-300);
    background-color: var(--sl-color-gray-100);
    border: none;
  }

  &.disabled {
    pointer-events: none;
  }

  &.readonly {
    pointer-events: none !important;
  }
}

.container {
  display: flex;

  .date-picker-wrap {
    display: inline-grid;
    position: relative;
    background: var(--sl-color-white);
    padding: 10px 5px 5px;
  }

  .grid {
    display: inline-grid;
  }

  .grid.months,
  .grid.years {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: var(--sl-color-white);
  }

  .grid.months table,
  .grid.years table {
    margin: 10px;
  }

  sl-button {
    &.months-button,
    &.years-button {
      width: 100%;
    }
  }

  sl-button-group {
    width: 100%;
  }
}

.inline {
  flex-direction: column;
  overflow: hidden;
  border-radius: var(--sl-border-radius-medium);
  border-style: solid;
  border-color: var(--sl-color-gray-300);
  border-width: var(--sl-input-border-width);
  box-shadow: var(--sl-shadow-medium);

  .header-wrap {
    min-height: 50px;
    padding-right: 5px;
    padding-left: 5px;
    background: var(--sl-color-primary-500);
    flex-direction: row;
    align-items: center;
    display: flex;
    color: var(--sl-color-white);

    sl-button {
      &::part(base) {
        font-size: var(--sl-font-size-x-large);
        color: var(--sl-color-white);
      }

      &::part(base)::after {
        border-left: 0;
      }

      &.next-button::part(base),
      &.prev-button::part(base) {
        max-width: 30px;
      }
    }
  }

  .header {
    display: flex;
    flex-grow: 1;
  }
}

.dropdown {
  min-width: max-content;
  flex-direction: column;

  .date-picker-wrap {
    display: inline-grid;
    position: relative;
    padding: 5px;
  }

  .header-wrap {
    flex-grow: 1;
    background: var(--sl-color-primary-100);
    padding: 5px;
    flex-direction: row;
    align-items: center;
    display: flex;

    sl-button {
      &::part(base) {
        font-size: var(--sl-font-size-large);
        background-color: var(--sl-color-primary-100);
        border-color: var(--sl-color-primary-100);
        color: var(--sl-color-primary-500);
      }

      &::part(base)::after {
        border-left: 0;
      }

      &.prev-button {
        margin-right: 3px;
      }

      &.next-button {
        margin-left: 3px;
      }
    }
  }

  .header {
    display: flex;
    flex-grow: 1;
  }

  td {
    width: var(--cell-dropdown-width, 2.3rem);
    height: var(--cell-dropdown-height, 2.3rem);
    font-size: var(--sl-font-size-small);
  }
}