@import 'reset';

:host {
  display: block;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Card tabs
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sl-tabset--card {
  &.sl-tabset--top .sl-tabset__nav {
    display: flex;
    position: relative;
    border-bottom: solid 1px var(--color-gray-90);
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Pill tabs
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sl-tabset--pill {
  border: dotted 1px tomato;
}
