@import 'reset';
@import 'mixins';

:host {
  display: block;
}

.sl-tabset {
  display: flex;

  .sl-tabset__tabs {
    display: flex;
    position: relative;
  }

  .sl-tabset__active-tab-indicator {
    position: absolute;
    transition: 200ms transform ease, 200ms width ease;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Top + bottom
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sl-tabset--top {
  flex-direction: column;

  .sl-tabset__nav {
    display: flex;
    order: 1;
    overflow-x: auto;
    @include hide-scrollbar();
  }

  .sl-tabset__tabs {
    flex: 1 1 auto;
    position: relative;
    flex-direction: row;
    border-bottom: solid var(--tab-nav-border-width) var(--tab-border-color);
  }

  .sl-tabset__active-tab-indicator {
    bottom: calc(-1 * var(--tab-nav-border-width));
    border-bottom: solid var(--tab-nav-border-width) var(--color-primary-50);
  }

  .sl-tabset__body {
    order: 2;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Bottom
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sl-tabset--bottom {
  flex-direction: column;

  .sl-tabset__nav {
    display: flex;
    order: 2;
    overflow-x: auto;
    @include hide-scrollbar();
  }

  .sl-tabset__tabs {
    flex: 1 1 auto;
    position: relative;
    flex-direction: row;
    border-top: solid var(--tab-nav-border-width) var(--tab-border-color);
  }

  .sl-tabset__active-tab-indicator {
    top: calc(-1 * var(--tab-nav-border-width));
    border-top: solid var(--tab-nav-border-width) var(--color-primary-50);
  }

  .sl-tabset__body {
    order: 1;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Left
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sl-tabset--left {
  flex-direction: row;

  .sl-tabset__nav {
    order: 1;
  }

  .sl-tabset__tabs {
    flex: 0 0 auto;
    flex-direction: column;
    border-right: solid var(--tab-nav-border-width) var(--tab-border-color);
  }

  .sl-tabset__active-tab-indicator {
    right: calc(-1 * var(--tab-nav-border-width));
    border-right: solid var(--tab-nav-border-width) var(--color-primary-50);
  }

  .sl-tabset__body {
    flex: 1 1 auto;
    order: 2;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Right
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sl-tabset--right {
  flex-direction: row;

  .sl-tabset__nav {
    order: 2;
  }

  .sl-tabset__tabs {
    flex: 0 0 auto;
    flex-direction: column;
    border-left: solid var(--tab-nav-border-width) var(--tab-border-color);
  }

  .sl-tabset__active-tab-indicator {
    left: calc(-1 * var(--tab-nav-border-width));
    border-left: solid var(--tab-nav-border-width) var(--color-primary-50);
  }

  .sl-tabset__body {
    flex: 1 1 auto;
    order: 1;
  }
}
