@import 'reset';
@import 'mixins';

:host {
  --border-color: var(--sl-color-gray-85);
  --border-width: 2px;
  --indicator-border-color: var(--sl-color-primary-50);
  --indicator-transition-speed: var(--sl-form-control-transition-speed);
  --transition-speed: var(--sl-form-control-transition-speed);

  display: block;
}

.sl-tabset {
  display: flex;

  .sl-tabset__tabs {
    display: flex;
    position: relative;
  }

  .sl-tabset__active-tab-indicator {
    position: absolute;
    transition: var(--indicator-transition-speed) transform ease, var(--indicator-transition-speed) width ease;
  }

  // Hide the focus ring if the user is interacting with a mouse
  &.sl-tabset--using-mouse ::slotted(sl-tab) {
    --focus-ring-box-shadow: none;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Top + bottom
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sl-tabset--top {
  flex-direction: column;

  .sl-tabset__nav {
    display: flex;
    order: 1;
    overflow-x: auto;
    @include hide-scrollbar();
  }

  .sl-tabset__tabs {
    flex: 1 1 auto;
    position: relative;
    flex-direction: row;
    border-bottom: solid var(--border-width) var(--border-color);
  }

  .sl-tabset__active-tab-indicator {
    bottom: calc(-1 * var(--border-width));
    border-bottom: solid var(--border-width) var(--indicator-border-color);
  }

  .sl-tabset__body {
    order: 2;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Bottom
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sl-tabset--bottom {
  flex-direction: column;

  .sl-tabset__nav {
    display: flex;
    order: 2;
    overflow-x: auto;
    @include hide-scrollbar();
  }

  .sl-tabset__tabs {
    flex: 1 1 auto;
    position: relative;
    flex-direction: row;
    border-top: solid var(--border-width) var(--border-color);
  }

  .sl-tabset__active-tab-indicator {
    top: calc(-1 * var(--border-width));
    border-top: solid var(--border-width) var(--indicator-border-color);
  }

  .sl-tabset__body {
    order: 1;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Left
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sl-tabset--left {
  flex-direction: row;

  .sl-tabset__nav {
    order: 1;
  }

  .sl-tabset__tabs {
    flex: 0 0 auto;
    flex-direction: column;
    border-right: solid var(--border-width) var(--border-color);
  }

  .sl-tabset__active-tab-indicator {
    right: calc(-1 * var(--border-width));
    border-right: solid var(--border-width) var(--indicator-border-color);
  }

  .sl-tabset__body {
    flex: 1 1 auto;
    order: 2;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Right
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sl-tabset--right {
  flex-direction: row;

  .sl-tabset__nav {
    order: 2;
  }

  .sl-tabset__tabs {
    flex: 0 0 auto;
    flex-direction: column;
    border-left: solid var(--border-width) var(--border-color);
  }

  .sl-tabset__active-tab-indicator {
    left: calc(-1 * var(--border-width));
    border-left: solid var(--border-width) var(--indicator-border-color);
  }

  .sl-tabset__body {
    flex: 1 1 auto;
    order: 1;
  }
}
