//
// Tooltip styles are imported globally in shoelace.scss because we're using Tippy.js. This library appends tooltips
// directly to the <body> element, so we need the styles to not be scoped to the component.
//
@import 'tippy.js/dist/tippy';

.tippy-tooltip {
  border-radius: var(--sl-tooltip-border-radius);
  background-color: var(--sl-tooltip-background-color);

  .tippy-arrow {
    transform: scale(0.75);
  }

  &[data-placement^='top'] .tippy-arrow {
    border-top-color: var(--sl-tooltip-background-color);
  }

  &[data-placement^='bottom'] .tippy-arrow {
    border-bottom-color: var(--sl-tooltip-background-color);
  }

  &[data-placement^='left'] .tippy-arrow {
    border-left-color: var(--sl-tooltip-background-color);
  }

  &[data-placement^='right'] .tippy-arrow {
    border-right-color: var(--sl-tooltip-background-color);
  }

  .tippy-content {
    font-family: var(--sl-tooltip-font-family);
    font-size: var(--sl-tooltip-font-size);
    font-weight: var(--sl-tooltip-font-weight);
    line-height: var(--sl-tooltip-line-height);
    color: var(--sl-tooltip-color);
    padding: var(--sl-tooltip-padding-y) var(--sl-tooltip-padding-x);
  }
}
