body {
  font-family: var(--sl-font-sans-serif);
  font-size: 16px;
}

.sidebar h1 {
  text-align: left;
  padding: 0 1rem;
}

.sidebar img {
  max-width: 80%;
}

.sidebar .sidebar-nav {
  line-height: 1.8;
}

.sidebar-toggle {
  top: 0.5rem;
  left: 0.5rem;
  width: 2.5rem;
  border-radius: 2px;
  bottom: auto;
  cursor: pointer;
}

.sidebar-toggle .sidebar-toggle-button:hover {
  opacity: 1;
}

.sidebar-toggle:hover {
  opacity: 0.5;
}

.search .input-wrap {
  padding-left: 3rem;
}

.content table {
  font-size: 14px;
  line-height: 1.6;
}

.content table th,
.content table td {
  padding: 1rem;
}

.content table th code:first-child:last-child,
.content table td code:first-child:last-child {
  background: transparent;
}

.content .docsify-copy-code-button {
  top: auto;
  bottom: 0;
  font-size: 14px;
}

/* Code blocks */
pre,
code {
  font-family: var(--sl-font-monospace);
}

pre,
code {
  border-radius: 2px;
}

.content code {
  color: #ff851b;
  background: rgba(0, 0, 0, 0.05);
  padding: 0.125rem;
}

.content h1 code,
.content h2 code,
.content h3 code,
.content h4 code,
.content h5 code,
.content h6 code {
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  padding: 0;
}

.content code .token {
  -webkit-font-smoothing: antialiased;
}

.content code .token.attr-value,
.content code .token.control,
.content code .token.directive,
.content code .token.unit {
  color: #ff851b;
}
