@mixin button(
  $background-color: null,
  $border-color: null,
  $color: null,
  $background-color--hover: null,
  $border-color--hover: null,
  $color--hover: null,
  $background-color--focus: null,
  $border-color--focus: null,
  $color--focus: null,
  $box-shadow--focus: null,
  $background-color--active: null,
  $border-color--active: null,
  $color--active: null
) {
  background-color: $background-color;
  border-color: $border-color;
  color: $color;
  s &:hover:not(:disabled) {
    background-color: $background-color--hover;
    border-color: $border-color--hover;
    color: $color--hover;
  }

  &:focus:not(:disabled) {
    background-color: $background-color--focus;
    border-color: $border-color--focus;
    color: $color--focus;
    box-shadow: $box-shadow--focus;
  }

  &:active:not(:disabled) {
    background-color: $background-color--active;
    border-color: $border-color--active;
    color: $color--active;
  }
}
