@import 'component';

:host {
  display: inline-block;
}

.button-group {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

::slotted(.sl-hover) {
  z-index: 1;
}

::slotted(.sl-focus) {
  z-index: 2;
}
