:root {
  /*********************************************************************************************************************
  *
  *  👟 Shoelace: A forward-thinking component library built with Web Components.
  *
  *  Designed and developed in New Hampshire by [Cory LaViska](https://twitter.com/claviska).
  *
  *  Learn more at https://shoelace.style/
  *
  *********************************************************************************************************************/

  /*********************************************************************************************************************
  * Colors
  *********************************************************************************************************************/

  --color-primary-hue: 203;
  --color-primary-saturation: 100%;
  --color-primary-05: hsl(var(--color-primary-hue), var(--color-primary-saturation), 5%);
  --color-primary-10: hsl(var(--color-primary-hue), var(--color-primary-saturation), 10%);
  --color-primary-15: hsl(var(--color-primary-hue), var(--color-primary-saturation), 15%);
  --color-primary-20: hsl(var(--color-primary-hue), var(--color-primary-saturation), 20%);
  --color-primary-25: hsl(var(--color-primary-hue), var(--color-primary-saturation), 25%);
  --color-primary-30: hsl(var(--color-primary-hue), var(--color-primary-saturation), 30%);
  --color-primary-35: hsl(var(--color-primary-hue), var(--color-primary-saturation), 35%);
  --color-primary-40: hsl(var(--color-primary-hue), var(--color-primary-saturation), 40%);
  --color-primary-45: hsl(var(--color-primary-hue), var(--color-primary-saturation), 45%);
  --color-primary-50: hsl(var(--color-primary-hue), var(--color-primary-saturation), 50%);
  --color-primary-55: hsl(var(--color-primary-hue), var(--color-primary-saturation), 55%);
  --color-primary-60: hsl(var(--color-primary-hue), var(--color-primary-saturation), 60%);
  --color-primary-65: hsl(var(--color-primary-hue), var(--color-primary-saturation), 65%);
  --color-primary-70: hsl(var(--color-primary-hue), var(--color-primary-saturation), 70%);
  --color-primary-75: hsl(var(--color-primary-hue), var(--color-primary-saturation), 75%);
  --color-primary-80: hsl(var(--color-primary-hue), var(--color-primary-saturation), 80%);
  --color-primary-85: hsl(var(--color-primary-hue), var(--color-primary-saturation), 85%);
  --color-primary-90: hsl(var(--color-primary-hue), var(--color-primary-saturation), 90%);
  --color-primary-95: hsl(var(--color-primary-hue), var(--color-primary-saturation), 95%);

  --color-success-hue: 110;
  --color-success-saturation: 60%;
  --color-success-05: hsl(var(--color-success-hue), var(--color-success-saturation), 5%);
  --color-success-10: hsl(var(--color-success-hue), var(--color-success-saturation), 10%);
  --color-success-15: hsl(var(--color-success-hue), var(--color-success-saturation), 15%);
  --color-success-20: hsl(var(--color-success-hue), var(--color-success-saturation), 20%);
  --color-success-25: hsl(var(--color-success-hue), var(--color-success-saturation), 25%);
  --color-success-30: hsl(var(--color-success-hue), var(--color-success-saturation), 30%);
  --color-success-35: hsl(var(--color-success-hue), var(--color-success-saturation), 35%);
  --color-success-40: hsl(var(--color-success-hue), var(--color-success-saturation), 40%);
  --color-success-45: hsl(var(--color-success-hue), var(--color-success-saturation), 45%);
  --color-success-50: hsl(var(--color-success-hue), var(--color-success-saturation), 50%);
  --color-success-55: hsl(var(--color-success-hue), var(--color-success-saturation), 55%);
  --color-success-60: hsl(var(--color-success-hue), var(--color-success-saturation), 60%);
  --color-success-65: hsl(var(--color-success-hue), var(--color-success-saturation), 65%);
  --color-success-70: hsl(var(--color-success-hue), var(--color-success-saturation), 70%);
  --color-success-75: hsl(var(--color-success-hue), var(--color-success-saturation), 75%);
  --color-success-80: hsl(var(--color-success-hue), var(--color-success-saturation), 80%);
  --color-success-85: hsl(var(--color-success-hue), var(--color-success-saturation), 85%);
  --color-success-90: hsl(var(--color-success-hue), var(--color-success-saturation), 90%);
  --color-success-95: hsl(var(--color-success-hue), var(--color-success-saturation), 95%);

  --color-info-hue: 220;
  --color-info-saturation: 15%;
  --color-info-05: hsl(var(--color-info-hue), var(--color-info-saturation), 5%);
  --color-info-10: hsl(var(--color-info-hue), var(--color-info-saturation), 10%);
  --color-info-15: hsl(var(--color-info-hue), var(--color-info-saturation), 15%);
  --color-info-20: hsl(var(--color-info-hue), var(--color-info-saturation), 20%);
  --color-info-25: hsl(var(--color-info-hue), var(--color-info-saturation), 25%);
  --color-info-30: hsl(var(--color-info-hue), var(--color-info-saturation), 30%);
  --color-info-35: hsl(var(--color-info-hue), var(--color-info-saturation), 35%);
  --color-info-40: hsl(var(--color-info-hue), var(--color-info-saturation), 40%);
  --color-info-45: hsl(var(--color-info-hue), var(--color-info-saturation), 45%);
  --color-info-50: hsl(var(--color-info-hue), var(--color-info-saturation), 50%);
  --color-info-55: hsl(var(--color-info-hue), var(--color-info-saturation), 55%);
  --color-info-60: hsl(var(--color-info-hue), var(--color-info-saturation), 60%);
  --color-info-65: hsl(var(--color-info-hue), var(--color-info-saturation), 65%);
  --color-info-70: hsl(var(--color-info-hue), var(--color-info-saturation), 70%);
  --color-info-75: hsl(var(--color-info-hue), var(--color-info-saturation), 75%);
  --color-info-80: hsl(var(--color-info-hue), var(--color-info-saturation), 80%);
  --color-info-85: hsl(var(--color-info-hue), var(--color-info-saturation), 85%);
  --color-info-90: hsl(var(--color-info-hue), var(--color-info-saturation), 90%);
  --color-info-95: hsl(var(--color-info-hue), var(--color-info-saturation), 95%);

  --color-warning-hue: 36;
  --color-warning-saturation: 90%;
  --color-warning-05: hsl(var(--color-warning-hue), var(--color-warning-saturation), 5%);
  --color-warning-10: hsl(var(--color-warning-hue), var(--color-warning-saturation), 10%);
  --color-warning-15: hsl(var(--color-warning-hue), var(--color-warning-saturation), 15%);
  --color-warning-20: hsl(var(--color-warning-hue), var(--color-warning-saturation), 20%);
  --color-warning-25: hsl(var(--color-warning-hue), var(--color-warning-saturation), 25%);
  --color-warning-30: hsl(var(--color-warning-hue), var(--color-warning-saturation), 30%);
  --color-warning-35: hsl(var(--color-warning-hue), var(--color-warning-saturation), 35%);
  --color-warning-40: hsl(var(--color-warning-hue), var(--color-warning-saturation), 40%);
  --color-warning-45: hsl(var(--color-warning-hue), var(--color-warning-saturation), 45%);
  --color-warning-50: hsl(var(--color-warning-hue), var(--color-warning-saturation), 50%);
  --color-warning-55: hsl(var(--color-warning-hue), var(--color-warning-saturation), 55%);
  --color-warning-60: hsl(var(--color-warning-hue), var(--color-warning-saturation), 60%);
  --color-warning-65: hsl(var(--color-warning-hue), var(--color-warning-saturation), 65%);
  --color-warning-70: hsl(var(--color-warning-hue), var(--color-warning-saturation), 70%);
  --color-warning-75: hsl(var(--color-warning-hue), var(--color-warning-saturation), 75%);
  --color-warning-80: hsl(var(--color-warning-hue), var(--color-warning-saturation), 80%);
  --color-warning-85: hsl(var(--color-warning-hue), var(--color-warning-saturation), 85%);
  --color-warning-90: hsl(var(--color-warning-hue), var(--color-warning-saturation), 90%);
  --color-warning-95: hsl(var(--color-warning-hue), var(--color-warning-saturation), 95%);

  --color-danger-hue: 0;
  --color-danger-saturation: 80%;
  --color-danger-05: hsl(var(--color-danger-hue), var(--color-danger-saturation), 5%);
  --color-danger-10: hsl(var(--color-danger-hue), var(--color-danger-saturation), 10%);
  --color-danger-15: hsl(var(--color-danger-hue), var(--color-danger-saturation), 15%);
  --color-danger-20: hsl(var(--color-danger-hue), var(--color-danger-saturation), 20%);
  --color-danger-25: hsl(var(--color-danger-hue), var(--color-danger-saturation), 25%);
  --color-danger-30: hsl(var(--color-danger-hue), var(--color-danger-saturation), 30%);
  --color-danger-35: hsl(var(--color-danger-hue), var(--color-danger-saturation), 35%);
  --color-danger-40: hsl(var(--color-danger-hue), var(--color-danger-saturation), 40%);
  --color-danger-45: hsl(var(--color-danger-hue), var(--color-danger-saturation), 45%);
  --color-danger-50: hsl(var(--color-danger-hue), var(--color-danger-saturation), 50%);
  --color-danger-55: hsl(var(--color-danger-hue), var(--color-danger-saturation), 55%);
  --color-danger-60: hsl(var(--color-danger-hue), var(--color-danger-saturation), 60%);
  --color-danger-65: hsl(var(--color-danger-hue), var(--color-danger-saturation), 65%);
  --color-danger-70: hsl(var(--color-danger-hue), var(--color-danger-saturation), 70%);
  --color-danger-75: hsl(var(--color-danger-hue), var(--color-danger-saturation), 75%);
  --color-danger-80: hsl(var(--color-danger-hue), var(--color-danger-saturation), 80%);
  --color-danger-85: hsl(var(--color-danger-hue), var(--color-danger-saturation), 85%);
  --color-danger-90: hsl(var(--color-danger-hue), var(--color-danger-saturation), 90%);
  --color-danger-95: hsl(var(--color-danger-hue), var(--color-danger-saturation), 95%);

  --color-gray-hue: var(--color-primary-hue);
  --color-gray-saturation: 10%;
  --color-gray-05: hsl(var(--color-gray-hue), var(--color-gray-saturation), 5%);
  --color-gray-10: hsl(var(--color-gray-hue), var(--color-gray-saturation), 10%);
  --color-gray-15: hsl(var(--color-gray-hue), var(--color-gray-saturation), 15%);
  --color-gray-20: hsl(var(--color-gray-hue), var(--color-gray-saturation), 20%);
  --color-gray-25: hsl(var(--color-gray-hue), var(--color-gray-saturation), 25%);
  --color-gray-30: hsl(var(--color-gray-hue), var(--color-gray-saturation), 30%);
  --color-gray-35: hsl(var(--color-gray-hue), var(--color-gray-saturation), 35%);
  --color-gray-40: hsl(var(--color-gray-hue), var(--color-gray-saturation), 40%);
  --color-gray-45: hsl(var(--color-gray-hue), var(--color-gray-saturation), 45%);
  --color-gray-50: hsl(var(--color-gray-hue), var(--color-gray-saturation), 50%);
  --color-gray-55: hsl(var(--color-gray-hue), var(--color-gray-saturation), 55%);
  --color-gray-60: hsl(var(--color-gray-hue), var(--color-gray-saturation), 60%);
  --color-gray-65: hsl(var(--color-gray-hue), var(--color-gray-saturation), 65%);
  --color-gray-70: hsl(var(--color-gray-hue), var(--color-gray-saturation), 70%);
  --color-gray-75: hsl(var(--color-gray-hue), var(--color-gray-saturation), 75%);
  --color-gray-80: hsl(var(--color-gray-hue), var(--color-gray-saturation), 80%);
  --color-gray-85: hsl(var(--color-gray-hue), var(--color-gray-saturation), 85%);
  --color-gray-90: hsl(var(--color-gray-hue), var(--color-gray-saturation), 90%);
  --color-gray-95: hsl(var(--color-gray-hue), var(--color-gray-saturation), 95%);

  /*********************************************************************************************************************
  * Fonts
  *********************************************************************************************************************/

  --font-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  --font-serif: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --font-monospace: Menlo, Monaco, 'Courier New', monospace;
  --font-weight--light: 300;
  --font-weight--normal: 400;
  --font-weight--bold: 500;

  /*********************************************************************************************************************
  * Typography
  *********************************************************************************************************************/

  --text-color-primary: var(--color-gray-20);
  --text-color-secondary: var(--color-gray-60);

  --text-size-default: 16px;

  /*********************************************************************************************************************
  * Form controls
  *********************************************************************************************************************/

  --form-control-font-family: var(--font-sans-serif);
  --form-control-font-weight: var(--font-weight--normal);
  --form-control-font-size--small: 12px;
  --form-control-font-size--medium: 14px;
  --form-control-font-size--large: 16px;
  --form-control-color: var(--color-gray-40);
  --form-control-placeholder-color: var(--color-gray-70);

  --form-control-height--small: 32px;
  --form-control-height--medium: 38px;
  --form-control-height--large: 44px;

  --form-control-border-width: 1px;
  --form-control-border-color: var(--color-gray-80);
  --form-control-border-color--hover: var(--color-gray-80);
  --form-control-border-color--focus: var(--color-primary-50);
  --form-control-border-color--disabled: var(--color-gray-80);

  --form-control-border-radius--small: 4px;
  --form-control-border-radius--medium: 4px;
  --form-control-border-radius--large: 4px;

  --form-control-background-color: white;
  --form-control-background-color--hover: white;
  --form-control-background-color--focus: white;
  --form-control-background-color-disabled: var(--color-gray-90);

  --form-control-padding-x--small: 14px;
  --form-control-padding-x--medium: 14px;
  --form-control-padding-x--large: 14px;

  --form-control-transition-speed: 150ms;

  /* Focus */
  --focus-ring-width: 2px;
  --focus-ring-alpha: 33%;

  /* Buttons */
  --button-padding-x--small: 14px;
  --button-padding-x--medium: 20px;
  --button-padding-x--large: 26px;

  --button-spinner-animation: 1s linear infinite spin;
  --button-spinner-border-width: 1px;

  /* Checkboxes */
  --checkbox-size: 14px;
  --checkbox-border-radius: 2px;
  --checkbox-border-width: var(--form-control-border-width);
  --checkbox-tick-color: white;
  --checkbox-transition: var(--form-control-transition-speed) border-color,
    var(--form-control-transition-speed) background-color, var(--form-control-transition-speed) color,
    var(--form-control-transition-speed) box-shadow;

  /* Radios */
  --radio-size: 14px;
  --radio-border-radius: 50%;
  --radio-border-width: var(--form-control-border-width);
  --radio-tick-color: white;
  --radio-transition: var(--form-control-transition-speed) border-color,
    var(--form-control-transition-speed) background-color, var(--form-control-transition-speed) color,
    var(--form-control-transition-speed) box-shadow;

  /* Switches */
  --switch-height: 16px;
  --switch-width: calc(var(--switch-height) * 2);
  --switch-transition: var(--form-control-transition-speed) border-color,
    var(--form-control-transition-speed) background-color;

  --switch-track-background-color: var(--color-gray-80);
  --switch-track-background-color--hover: var(--color-gray-85);
  --switch-track-background-color--focus: var(--color-gray-85);

  --switch-track-border-color: var(--color-gray-80);
  --switch-track-border-color--hover: var(--color-gray-85);
  --switch-track-border-color--focus: var(--color-gray-85);

  --switch-track-border-radius: var(--switch-height);
  --switch-track-border-width: var(--form-control-border-width);

  --switch-thumb-size: 20px;
  --switch-thumb-background-color: white;
  --switch-thumb-border-radius: 50%;
  --switch-thumb-border-width: var(--form-control-border-width);
  --switch-thumb-transition: var(--form-control-transition-speed) transform ease,
    var(--form-control-transition-speed) background-color, var(--form-control-transition-speed) border-color,
    var(--form-control-transition-speed) box-shadow;

  /* Ramges */
  --range-track-border-radius: 3px;
  --range-track-background-color: var(--color-gray-90);
  --range-track-height: 3px;
  --range-thumb-size: 20px;

  /*********************************************************************************************************************
  * Menus (dropdown, select, popover, et al)
  *********************************************************************************************************************/

  --menu-font-family: var(--font-sans-serif);
  --menu-font-weight: var(--font-weight--normal);
  --menu-font-size: var(--text-size-default);

  --menu-border-color: var(--color-gray-95);
  --menu-background-color: white;
  --menu-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);

  --menu-transition-speed: 150ms;

  /* Menu items */
  --menu-item-color: var(--color-gray-40);
  --menu-item-color--active: var(--color-primary-50);
  --menu-item-color--disabled: var(--color-gray-70);

  --menu-item-background-color: white;
  --menu-item-background-color--active: var(--color-primary-95);
  --menu-item-background-color--disabled: white;

  --menu-item-transition-speed: 150ms;

  --menu-divider-border-color: var(--color-gray-90);

  --menu-padding-x: 30px;
  --menu-padding-y: 10px;

  /*********************************************************************************************************************
  * Tabs
  *********************************************************************************************************************/

  --tab-font-family: var(--font-sans-serif);
  --tab-font-weight: var(--font-weight--normal);
  --tab-font-size: var(--form-control-font-size);
  --tab-background-color: white;
  --tab-border-color: var(--color-gray-85);
  --tab-color: var(--color-gray-30);
  --tab-padding-x: 20px;
  --tab-padding-y: 16px;
  --tab-transition-speed: 150ms;

  --tab-nav-border-width: 2px;

  --tab-panel-padding-x: var(--tab-padding-x);
  --tab-panel-padding-y: var(--tab-padding-y);

  /*********************************************************************************************************************
  * Tooltips
  *********************************************************************************************************************/

  --tooltip-font-family: var(--form-control-font-family);
  --tooltip-font-weight: var(--form-control-font-weight);
  --tooltip-font-size: var(--form-control-font-size--medium);
  --tooltip-line-height: 1.4;
  --tooltip-background-color: var(--color-gray-10);
  --tooltip-border-radius: 4px;
  --tooltip-color: white;

  --tooltip-padding-y: 5px;
  --tooltip-padding-x: 10px;
}
