@import 'component';

/**
 * @prop --color: The color of the divider.
 */
:host {
  --color: var(--sl-color-gray-90);

  display: block;
}

.menu-divider {
  border-top: solid 1px var(--color);
  margin: var(--sl-spacing-x-small) 0;
}
